Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

CI(pylint): Update versions in workflow
  .github/workflows/python-code-quality.yml
Due: none

CQ: Enable pylint plugins redefined_variable_type and bad_builtin
  pyproject.toml
Due: none

Squashed commit of the following:
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/rlisetup/functions.py
  gui/wxpython/rlisetup/wizard.py
  gui/wxpython/web_services/dialogs.py
Due: gui

style: Fix in-dict-keys (SIM118)
  gui/wxpython/animation/provider.py
Due: gui

style: Change misplaced docstring to comment in pygrass/rpc/__init__.py
  python/grass/pygrass/rpc/__init__.py
Due: pygrass, python library

pytest timeout
  .github/workflows/python-code-quality.yml
Due: none

DEBUG: pygrass.vector.find place type checking imports globally for sphinx
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

grass.script: Ignore signature-differs pylint warning in array.py
  python/grass/script/array.py
Due: python library

style: Fix unreliable-callable-check (B004)
  pyproject.toml
  python/grass/pydispatch/robustapply.py
  python/grass/pydispatch/saferef.py
Due: python library

pygrass.vector.find: Add more annotations
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

Revert "grass.script.setup: Replace older subprocess.call with subprocess.run"
  python/grass/script/setup.py
Due: python library

grass.script.db: Close opened file in db_connection
  python/grass/script/db.py
Due: python library

grass.script.setup: Replace older subprocess.call with subprocess.run
  python/grass/script/setup.py
Due: python library

t.unregister: Open file with context handler (SIM115)
  temporal/t.unregister/t.unregister.py
Due: none

CQ: Port root pylint config to pyproject.toml
  pyproject.toml
Due: none

DEBUG: Readd old pylintrc files
  gui/wxpython/.pylintrc.old3
  python/.pylintrc.old2
  utils/pylintrc.txt.old4
Due: gui, utils

DEBUG: Reorder old root pylintrc file
  .pylintrc.old
Due: none

DEBUG: Configure Pyright type checker
  .vscode/settings.json
  pyproject.toml
Due: none

DEBUG: Do not fail pylint to run all steps, then rerun pylint with failures
  .github/workflows/python-code-quality.yml
Due: none

CQ: Disable pylint plugin bad_builtin
  pyproject.toml
Due: none

grass.imaging.images2gif: Fix Pylint using-constant-test
  python/grass/imaging/images2gif.py
Due: python library

grass.jupyter.utils: Fix pylint redefined-variable-type (R0204) of output variable
  python/grass/jupyter/utils.py
  python/grass/script/utils.py
Due: notebooks (jupyter), python library

DEBUG: Clear pylint config
  pyproject.toml
Due: none

DEBUG: Set GRASS-specific overrides and comment out defaults
  pyproject.toml
Due: none

Set pylint's output-format to colorized
  pyproject.toml
Due: none

CQ: Set pylint ignore-paths to ignore libgrass_interface_generator and OBJ.* folders, and ignore Makefiles
  pyproject.toml
Due: none

DEBUG: Try configuring pylint per-file ignores with a plugin
  pyproject.toml
Due: none

Compile and upload package using package.sh
  .github/workflows/osgeo4w.yml
Due: none

Use mingw-w64-x86_64-omp
  .github/workflows/osgeo4w.yml
Due: none

Add mingw-w64-x86_64-lapack package
  .github/workflows/osgeo4w.yml
Due: none

Update osgeo4w workflow to continue on error
  .github/workflows/osgeo4w.yml
Due: none

Do not fail step print_version.sh missing msys2 paths
  .github/workflows/osgeo4w.yml
Due: none

Add msys to paths loaded by OSGeo4W
  .github/workflows/osgeo4w.yml
Due: none

Use root output from setup-OSGeo4W
  .github/workflows/osgeo4w.yml
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
