Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

CI(Docker): Revert Try to set push always true
  .github/workflows/docker.yml
Due: none

CI(Docker): Do not pull explicitly all images
  .github/workflows/docker.yml
Due: none

CI(Docker): Remove commented
  .github/workflows/docker.yml
Due: none

CI(Docker): Handle accepting an empty github.ref on release event
  .github/workflows/docker.yml
Due: none

CI(Docker): Do not use cache for release or tags
  .github/workflows/docker.yml
Due: none

CI(Docker): Test cache-from empty
  .github/workflows/docker.yml
Due: none

CI(Docker): Do not use cache for release or tags by using `no-cache`
  .github/workflows/docker.yml
Due: none

CI(Docker): Do not use cache-from for release or tags
  .github/workflows/docker.yml
Due: none

Revert: CI(Docker): Test cache-from empty
  .github/workflows/docker.yml
Due: none

CI(Docker): Simplify handling cases where `github.ref` is empty with `contains()`
  .github/workflows/docker.yml
Due: none

Add `/* eslint-env jquery */` for stricter ESlint checks
  man/parser_standard_options.js
Due: man

Download and use winflexbison on Windows for Flex and Bison
  cmake/modules/CheckDependentLibraries.cmake
Due: none

Update FindCairo from upstream WebKit
  cmake/find_scripts/FindCairo.cmake
  cmake/modules/CheckDependentLibraries.cmake
  general/CMakeLists.txt
  lib/CMakeLists.txt
Due: lib

Create CMakePresets.json
  CMakePresets.json
Due: none

Add vcpkg
  vcpkg-configuration.json
  vcpkg.json
Due: none

Do not use custom FindGDAL
  cmake/find_scripts/FindGDAL.cmake.old
Due: none

Use cmake-provided FindSQLite3
  cmake/find_scripts/FindSQLite.cmake
  cmake/find_scripts/FindSQLite.cmake.old
  cmake/modules/CheckDependentLibraries.cmake
  db/drivers/CMakeLists.txt
  general/CMakeLists.txt
Due: none

GUI: Set DPI awareness when launching app on Windows (wxMSW)
  gui/wxpython/wxgui.py
Due: gui

GUI: Use Device Independent Pixels for about window
  gui/wxpython/gui_core/ghelp.py
Due: gui

GUI: Set DPI awareness when launching GrassGUIApp on Windows (wxMSW)
  gui/wxpython/gui_core/forms.py
Due: gui

GUI: Set DPI awareness when launching app on Windows (wxMSW) earlier to avoid flashing of splashscreen
  gui/wxpython/wxgui.py
Due: gui

GUI: Set DPI awareness to Per-Monitor v2 when launching app on Windows (wxMSW)
  gui/wxpython/wxgui.py
Due: gui

GUI: Use Device Independent Pixels for DataCatalogFrame
  gui/wxpython/datacatalog/frame.py
Due: gui

GUI: Use set size after wx.Frame is initialized for about window
  gui/wxpython/gui_core/ghelp.py
Due: gui

GUI: Trying out locdownload changes
  gui/wxpython/startup/locdownload.py
  gui/wxpython/startup/wxglade_out2.py
Due: gui

GUI: Use Device Independent Pixels for preferences
  gui/wxpython/gui_core/preferences.py
Due: gui

GUI: Use Device Independent Pixels for toolbox and icons
  gui/wxpython/animation/frame.py
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gui_core/mapdisp.py
  gui/wxpython/gui_core/toolbars.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/toolbars.py
  gui/wxpython/psmap/frame.py
Due: gui

GUI: Use Device Independent Pixels for toolbox and icons other
  gui/wxpython/mapdisp/statusbar.py
  gui/wxpython/mapdisp/toolbars.py
Due: gui

tests: Create fixture to run tests that needs the data directory available
  conftest.py
Due: none

CI: Configure pytest workflow to run gunittest-based tests
  .github/workflows/pytest.yml
Due: none

Enable gunittest_datadir fixture only if the parent folder is "testsuite"
  conftest.py
Due: none

CI: Ignore testsuite for pytest steps on macOS and Windows
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
Due: none

tests: Ignore gunittest.main.test() when collection with pytest
  python/grass/gunittest/main.py
Due: gunittest, python library

Fix RET505 in conftest.py
  conftest.py
Due: none

pytest: Allow discovering vector gunittest tests
  pyproject.toml
Due: none

Add unittest expectedFailure decorator in v.what
  vector/v.what/testsuite/test_vwhat_layers.py
Due: none

CI: Disable pytest parallel runners for gunittest-based tests
  .github/workflows/pytest.yml
Due: none
