Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

pytest: Deselect crashing tests that use ctypes functions directly
  .github/workflows/pytest_args_gunittest.txt
Due: none

CI(pytest): Fix args file @.github/workflows/pytest_args_gunittest.txt for macOS
  .github/workflows/macos.yml
Due: none

pytest: Deselect crashing tests that use ctypes functions directly and note which tests run successfully
  .github/workflows/pytest_args_gunittest.txt
Due: none

pytest: Extract gunittest deselect list to a separate arg file
  .github/workflows/pytest_args_deselect.txt
  .github/workflows/pytest_args_gunittest.txt
Due: none

pytest: ignore deprecated python/grass/temporal/unit_tests.py
  .github/workflows/pytest_args_gunittest.txt
Due: none

CI(pytest): Run gunittest-based tests without default report args
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/pytest_args_gunittest.txt
Due: none

CI(pytest): Show short traceback for gunittest-based tests
  .github/workflows/pytest_args_gunittest.txt
Due: none

CI(pytest): Reset report list at end of run
  .github/workflows/pytest_args_gunittest.txt
Due: none

style: Fix raise-without-from-inside-except (B904) for pygrass Module
  python/grass/pygrass/modules/interface/module.py
Due: pygrass, python library

tests: Import CalledModuleError from grass.exceptions in test_names.py
  python/grass/script/testsuite/test_names.py
Due: python library

CI(pytest): Only run passing gunittest-based tests
  .github/workflows/pytest_args_gunittest.txt
Due: none

CI(pytest): Remove commented out ci args
  .github/workflows/pytest.yml
Due: none

tests: Load msvcrt instead of c on Windows
  lib/gis/testsuite/test_gis_lib_getl.py
Due: lib

tests: Define executable using versionned bat file on Windows in lib/init/testsuite/test_grass_tmp_mapset.py
  lib/init/testsuite/test_grass_tmp_mapset.py
Due: lib

Windows: Remove pause at end of .bat file to pass the return code correctly
  lib/init/grass.bat.in
  lib/init/testsuite/test_grass_tmp_mapset.py
  mswindows/GRASS-Installer.nsi.tmpl
  mswindows/crosscompile.sh
  mswindows/osgeo4w/grass.bat.tmpl
  mswindows/osgeo4w/python-grass.bat.tmpl
Due: lib

remove breakpoint
  lib/init/testsuite/test_grass_tmp_mapset.py
Due: lib

tests: Load "msvcrt" instead of "c" on Windows for imagery library signature file handling tests
  lib/imagery/testsuite/test_imagery_sigfile.py
  lib/imagery/testsuite/test_imagery_sigsetfile.py
Due: lib

tests: Remove expected failures in i.maxlik
  imagery/i.maxlik/testsuite/test_i_maxlik.py
Due: none

tests: Load "msvcrt" instead of "c" on Windows for i.maxlik tests
  imagery/i.maxlik/testsuite/test_i_maxlik.py
Due: none

Try using unversionned grass.bat in lib/init/testsuite/test_grass_tmp_mapset.py
  lib/init/testsuite/test_grass_tmp_mapset.py
Due: lib

Update renovate.json5
  renovate.json5
Due: none

Update flake.nix
  flake.nix
Due: none

Update flake.lock
  flake.lock
Due: none

Update package.nix Python 312
  package.nix
Due: none

Update package.nix
  package.nix
Due: none

Create uv.lock
  uv.lock
Due: none

nix: Update flake.lock file
  flake.lock
Due: none

nix: Update to python 3.13
  flake.nix
  package.nix
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

CI(macOS): Add Codecov upload step to macOS workflow
  .github/workflows/macos.yml
Due: none

CI(macOS): Add pytest-cov to macOS workflow configuration
  .github/workflows/macos.yml
Due: none

CI(macOS): Add script to fix coverage data paths
  .github/workflows/macos.yml
Due: none

DEBUG: show directory info
  .github/workflows/macos.yml
Due: none

install coverage
  .github/workflows/macos.yml
Due: none

remove trailing space
  .github/workflows/macos.yml
Due: none

CI(macOS): Use micromamba-shell for coverage mapping
  .github/workflows/macos.yml
Due: none

Add artifact upload step for coverage report
  .github/workflows/macos.yml
Due: none

CI(macOS): Create json coverage file to upload
  .github/workflows/macos.yml
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
