Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

docs: Fix docstring indenting/unindenting
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/base.py
Due: python library

docs: Unindent AbstractSpaceTimeDataset.set_initial_values() docstring
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

docs: Parameter typing for AbstractSpaceTimeDataset.register_map
  python/grass/imaging/images2avi.py
Due: python library

docs: Use pycon language for python console code blocks (simple changes)
  python/grass/temporal/base.py
  python/grass/temporal/core.py
  python/grass/temporal/datetime_math.py
  python/grass/temporal/gui_support.py
  python/grass/temporal/metadata.py
  python/grass/temporal/space_time_datasets.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_extent.py
  python/grass/temporal/temporal_granularity.py
  python/grass/temporal/temporal_operator.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_topology_dataset_connector.py
  python/grass/temporal/temporal_vector_algebra.py
Due: python library

docs: Fix docstring indent for SpatioTemporalTopologyBuilder
  python/grass/temporal/spatio_temporal_relationships.py
Due: python library

mkdocs: Disable CSS text-transform capitalization as it changes the API docs case
  man/mkdocs/grassdocs.css
  python/grass/docs/_static/pygrass.css
Due: man, python library

docs: Use pycon language instead of python for python console code blocks formatting
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/temporal_algebra.py
Due: python library

docs: Add autodocs typehints to both signature and content, groupwise order, and documented params
  python/grass/docs/conf.py
Due: python library

docs: Fix link to style_guide.md
  doc/python_intro.md
Due: none

docs: Ignore auto-generated .rst files for python lib docs
  .gitignore
Due: none

docs: Format code blocks in MultiModule class of pygrass.modules.interface docstrings
  python/grass/pygrass/modules/interface/module.py
Due: pygrass, python library

grass.script.raster: Add typing annotations related to raster_what()
  python/grass/script/raster.py
Due: python library

docs: Enable duration sphinx extension
  python/grass/docs/conf.py
Due: python library

docs: Use references to methods and classes in pygrass.vector.find and pygrass.vector docstrings
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

docs: Exclude files from apidoc that can't be imported
  python/grass/docs/Makefile
Due: python library

docs: Format code blocks in pygrass.vector.find and pygrass.vector
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

make: Disable generating .pyc files
  gui/wxpython/Makefile
  include/Make/Python.make
  include/Make/Script.make
  python/grass/app/Makefile
  python/grass/benchmark/Makefile
  python/grass/exceptions/Makefile
  python/grass/experimental/Makefile
  python/grass/grassdb/Makefile
  python/grass/gunittest/Makefile
  python/grass/imaging/Makefile
  python/grass/jupyter/Makefile
  python/grass/pydispatch/Makefile
  python/grass/pygrass/Makefile
  python/grass/pygrass/gis/Makefile
  python/grass/pygrass/messages/Makefile
  python/grass/pygrass/modules/Makefile
  python/grass/pygrass/modules/grid/Makefile
  python/grass/pygrass/modules/interface/Makefile
  python/grass/pygrass/raster/Makefile
  python/grass/pygrass/rpc/Makefile
  python/grass/pygrass/shell/Makefile
  python/grass/pygrass/tests/Makefile
  python/grass/pygrass/vector/Makefile
  python/grass/script/Makefile
  python/grass/semantic_label/Makefile
  python/grass/temporal/Makefile
  python/grass/utils/Makefile
  python/libgrass_interface_generator/Makefile
Due: gui, pygrass, gunittest, notebooks (jupyter), python library

docs: Use TODO admonitions in pygrass.vector.geometry
  python/grass/pygrass/vector/geometry.py
Due: pygrass, python library

docs: Use double backticks for inline code in pygrass/modules/interface/module.py and grass.script.core
  python/grass/pygrass/modules/interface/module.py
  python/grass/script/core.py
Due: pygrass, python library

docs: Place module contents before submodules for pydispatch
  python/grass/docs/Makefile
Due: python library

docs: Render sphinx docs with the same order as the source code to help compare
  python/grass/docs/conf.py
Due: python library

docs: Enable output of TODO admonitions
  python/grass/docs/conf.py
Due: python library

grass.jupyter: Add typing annotations related to query_raster()
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

docs: Format code-blocks using pycon in pygrass.vector.geometry
  python/grass/pygrass/vector/geometry.py
Due: pygrass, python library

docs: Do not provide value for sphinx's "today" config option
  python/grass/docs/conf.py
Due: python library

docs: Use TODO admonitions in python/grass/docs/src/temporal_framework.rst
  python/grass/docs/src/temporal_framework.rst
Due: python library

Update core.py
  python/grass/script/core.py
Due: python library

Update paths from C: to D: in build_osgeo4w.sh
  mswindows/osgeo4w/build_osgeo4w.sh
Due: none

Update build_osgeo4w.sh
  mswindows/osgeo4w/build_osgeo4w.sh
Due: none

Define msys64 path for unit tests
  mswindows/osgeo4w/build_osgeo4w.sh
Due: none

C include path revert to c drive
  mswindows/osgeo4w/build_osgeo4w.sh
Due: none

CI(OSGeo4W): Add MSYS2_LOCATION env var to build stage
  .github/workflows/osgeo4w.yml
Due: none

windows: Use MSYS2_LOCATION env var to create script from templates in build_osgeo4w.sh
  mswindows/osgeo4w/build_osgeo4w.sh
Due: none

Add -femit-all-decls flag
  .github/workflows/macos_install.sh
Due: none

Use -femit-all-decls in linker flags
  .github/workflows/macos_install.sh
Due: none

Use llvm-profdata-19 for llvm-profdata
  .github/workflows/cmake.yml
Due: none

CI(CMake): BUILD_SHARED_LIBS=OFF
  .github/workflows/cmake.yml
Due: none

Update cmake.yml remove trailing whitespace
  .github/workflows/cmake.yml
Due: none
