Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

gui.wxpython.gui_core.wrap: wx.Image and wx.Bitmap type annotations
  gui/wxpython/gui_core/wrap.py
Due: gui

gui: Handle GRASS_INFO_END in line in gui/wxpython/core/gcmd.py (#4876)
  gui/wxpython/core/gcmd.py
Due: gui

style: Fix C0117: Consider changing "not self.optype == 'boolean'" to "self.optype != 'boolean'" (unnecessary-negation) (#4895)
  gui/wxpython/tplot/frame.py
  pyproject.toml
  python/grass/temporal/temporal_operator.py
Due: gui, python library

style: Fix W0231: __init__ method from base class is not called (super-init-not-called) (#4893)
  gui/wxpython/gcp/manager.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/photo2image/ip2i_manager.py
  pyproject.toml
  python/grass/imaging/images2swf.py
Due: gui, python library

gui: isort mapswipe.mapwindow imports
  gui/wxpython/mapswipe/mapwindow.py
Due: gui

lib: Fix safeRef regression after removing `__cmp__` in #4684 (#4896)
  python/grass/pydispatch/saferef.py
Due: python library

style: Fix R1711: Useless return at end of function or method (useless-return) (#4892)
  gui/wxpython/animation/anim.py
  gui/wxpython/animation/controller.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/rdigit/dialogs.py
  gui/wxpython/rdigit/toolbars.py
  gui/wxpython/rlisetup/wizard.py
  pyproject.toml
  python/grass/pygrass/vector/geometry.py
Due: gui, pygrass, python library

i.group: Fix Resource Leak issue in main.c (#4868)
  imagery/i.group/main.c
Due: none

ps.map: Fix Resource Leak issue in ps_vpoints.c (#4869)
  ps/ps.map/ps_vpoints.c
Due: ps

gui.wxpython.nviz: Move ctypes and grass.lib imports below normal imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz: Sort remaining imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui: Add types for lmgr constructor argument of GLWindow (3D) and MapPanel (2D) (#4877)
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.core.utils: PIL.Image and wx.Image type annotations
  gui/wxpython/core/utils.py
Due: gui

gui.wxpython.nviz: Make GLWindow.ZoomToMap()'s layer argument optional
  gui/wxpython/nviz/mapwindow.py
Due: gui

style: Ignore R1721: Unnecessary use of a comprehension, use list(self) instead. (unnecessary-comprehension) (#4894)
  gui/wxpython/lmgr/giface.py
  pyproject.toml
  python/grass/pygrass/gis/__init__.py
Due: gui, pygrass, python library

gui.wxpython.core.gcmd: Add typing and overloads for EncodeString and DecodeString
  gui/wxpython/core/gcmd.py
Due: gui

gui.wxpython.gui_core.wrap: wx.Rect and other type annotations
  gui/wxpython/gui_core/wrap.py
Due: gui

gui.wxpython.nviz: Set render flags dicts as a TypedDict
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz.mapwindow: GetContentScaleFactor() typing annotations
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.mapswipe.mapwindow: Add type hints related to wx.Size
  gui/wxpython/mapswipe/mapwindow.py
Due: gui

gui: Add type hints to bound WizardEvent handlers (#4891)
  gui/wxpython/core/globalvar.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/rlisetup/wizard.py
Due: gui

grass.script.core: Use a context manager for opening files (SIM115) to solve some ResourceWarnings (#4559)
  pyproject.toml
  python/grass/script/core.py
Due: python library

gui.wxpython.nviz.mapwindow: Light typing annotations
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.mapdisp.frame: Sort imports with an isort split group
  gui/wxpython/mapdisp/frame.py
Due: gui

gui.wxpython.nviz.wxnviz: Add typing to functions that return empty vectors, considered tuples
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.wxnviz: Add type hints for OGSF/Nviz wrappers
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.mapwindow: Sort imports with an isort split group
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz.wxnviz: Remove unused import
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.wxnviz: Add type hints for QueryMap with TypedDict
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.mapwindow: Handle some cases where self._display is None or other variables are missing
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz.mapwindow: Add some type hints
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz.wxnviz: Address type checking warnings in QueryMap
  gui/wxpython/nviz/wxnviz.py
Due: gui
