Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

style(temporal): Sort and group imports for __init__.py
  python/grass/temporal/__init__.py
Due: python library

DEBUG: Reorder old root pylintrc file
  .pylintrc.old
Due: none

CQ: Create default pylint config in pyproject.toml
  .pylintrc
  gui/wxpython/.pylintrc
  pyproject.toml
  python/.pylintrc
  utils/pylintrc.txt
Due: gui, utils

style: format pyproject.toml
  pyproject.toml
Due: none

CQ: Port root pylint config to pyproject.toml
  pyproject.toml
Due: none

DEBUG: Readd old pylintrc files
  gui/wxpython/.pylintrc.old3
  python/.pylintrc.old2
  utils/pylintrc.txt.old4
Due: gui, utils

style: Fixes unnecessary-collection-call (C408) for empty collections on ctypesgen
  python/libgrass_interface_generator/ctypesgen/ctypedescs.py
  python/libgrass_interface_generator/ctypesgen/parser/cdeclarations.py
Due: none

DEBUG: VSCode python settings
  .vscode/settings.json
Due: none

DEBUG: pylint results json
  pylint_root_python_grass.json
  pylint_root_python_grass_py39.json
  pylint_root_python_grass_py39_and_gui_wxpython.json
  pylint_root_python_grass_py39_and_gui_wxpython2.json
Due: none

CI(pylint): Update versions in workflow
  .github/workflows/python-code-quality.yml
Due: none

style: Fixes some unnecessary-lambda (PLW0108)
  gui/wxpython/animation/frame.py
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/history/tree.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/vdigit/g.gui.vdigit.py
Due: gui

style(pydispatch): Sort and group imports
  python/grass/pydispatch/dispatcher.py
  python/grass/pydispatch/robust.py
  python/grass/pydispatch/saferef.py
Due: python library

DEBUG: change vscode settings
  .vscode/settings.json
Due: none

checks(isort): Add isort config to pyproject.toml
  pyproject.toml
Due: none

CI(isort): Enable isort suggestions
  .github/workflows/post-pr-reviews.yml
  .github/workflows/python-code-quality.yml
Due: none

checks(isort): Add isort hook to pre-commit config
  .pre-commit-config.yaml
Due: none

CI(isort): Enable isort with super-linter
  .github/workflows/super-linter.yml
Due: none

CQ: Disable pylint plugin bad_builtin
  pyproject.toml
Due: none

DEBUG: VSCODE settings
  .vscode/settings.json
Due: none

DEBUG: Delete pylint json results files
  pylint_root_python_grass.json
  pylint_root_python_grass_py39.json
  pylint_root_python_grass_py39_and_gui_wxpython.json
  pylint_root_python_grass_py39_and_gui_wxpython2.json
  python/grass/imaging/operations.py
Due: python library

style(gui): Sort and group imports in example docs
  doc/gui/wxpython/example/dialogs.py
  doc/gui/wxpython/example/frame.py
  doc/gui/wxpython/example/g.gui.example.py
  doc/gui/wxpython/example/toolbars.py
Due: none

CQ: Enable pylint plugins redefined_variable_type and bad_builtin
  pyproject.toml
Due: none

checks(isort): pyproject.toml config files
  gui/wxpython/pyproject.toml
  pyproject.toml
Due: gui

checks(Ruff): Configure ruff in pyproject.toml
  pyproject.toml
Due: none

checks(isort): Always enable filter files in pyproject.toml for super-linter
  pyproject.toml
Due: none

CI(isort): Enable isort suggestions
  .github/workflows/python-code-quality.yml
Due: none

style(temporal): Organize lex and yacc imports
  temporal/t.rast.algebra/t.rast.algebra.py
  temporal/t.rast3d.algebra/t.rast3d.algebra.py
  temporal/t.select/t.select.py
  temporal/t.vect.algebra/t.vect.algebra.py
Due: none

DEBUG: Set super-linter LOG_LEVEL to DEBUG
  .github/workflows/super-linter.yml
Due: none

DEBUG: disable isort super-linter config file
  .github/workflows/super-linter.yml
Due: none

DEBUG: Disable super-linter LOG_LEVEL
  .github/workflows/super-linter.yml
Due: none

style: Fix replace-stdout-stderr (UP022)
  python/grass/gunittest/invoker.py
  utils/generate_last_commit_file.py
  utils/mkhtml.py
  utils/test_generate_last_commit_file.py
Due: utils, gunittest, python library

DEBUG: Continue configuring ruff in pyproject.toml
  pyproject.toml
Due: none

checks(isort): disable pyproject.toml config files
  gui/wxpython/pyproject.toml
  pyproject.toml
Due: gui

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
