Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

grass.jupyter.utils: Fix pylint redefined-variable-type (R0204) of output variable
  python/grass/jupyter/utils.py
  python/grass/script/utils.py
Due: notebooks (jupyter), python library

utils: Add timeout to requests.get
  utils/generate_release_notes.py
Due: utils

Typing improvement
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/mapdisp/frame.py
Due: gui

pylint: Add pylint skip-file directive in generated file wxpython/menustrings.py pylint: Ignore generated file wxpython/menustrings.py
  gui/wxpython/Makefile
  pyproject.toml
Due: gui

Fix typo of BufferedMapWindow in gui/wxpython/mapdisp/test_mapdisp.py
  gui/wxpython/mapdisp/test_mapdisp.py
Due: gui

t.unregister: Open file with context handler (SIM115)
  temporal/t.unregister/t.unregister.py
Due: none

grass.script.core: Fix E0606: Possibly using variable 'ps' before assignment (possibly-used-before-assignment)
  python/grass/script/core.py
Due: python library

grass.script.db: Close opened file in db_connection
  python/grass/script/db.py
Due: python library

gui.wxpython.nviz.wxnviz: Extra typing changes
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.mapwindow: Add some type hints
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz: Sort remaining imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.gui_core.wrap: wx.Image and wx.Bitmap type annotations
  gui/wxpython/gui_core/wrap.py
Due: gui

gui.wxpython.nviz.mapwindow: Light typing annotations
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz.wxnviz: Add type hints for OGSF/Nviz wrappers
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.mapwindow: Sort imports with an isort split group
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.mapdisp.frame: Sort imports with an isort split group
  gui/wxpython/mapdisp/frame.py
Due: gui

gui.wxpython.nviz: Move ctypes and grass.lib imports below normal imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.wxnviz: Add type hints for QueryMap with TypedDict
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz: Make GLWindow.ZoomToMap()'s layer argument optional
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz.mapwindow: Handle some cases where self._display is None or other variables are missing
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui: isort mapswipe.mapwindow imports
  gui/wxpython/mapswipe/mapwindow.py
Due: gui

gui.wxpython.mapswipe.mapwindow: Add type hints related to wx.Size
  gui/wxpython/mapswipe/mapwindow.py
Due: gui

gui.wxpython.nviz.mapwindow: GetContentScaleFactor() typing annotations
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.core.utils: PIL.Image and wx.Image type annotations
  gui/wxpython/core/utils.py
Due: gui

gui.wxpython.nviz: numpy import can safely be below
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.wxnviz: Address type checking warnings in QueryMap
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.wxnviz: Remove unused import
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.wxnviz: Add typing to functions that return empty vectors, considered tuples
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.core.gcmd: Add typing and overloads for EncodeString and DecodeString
  gui/wxpython/core/gcmd.py
Due: gui

gui.wxpython.gui_core.wrap: wx.Rect and other type annotations
  gui/wxpython/gui_core/wrap.py
Due: gui

gui.wxpython.nviz.wxnviz: Add simple type hints not needing any imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz: Set render flags dicts as a TypedDict
  gui/wxpython/nviz/mapwindow.py
Due: gui

lib: Replaced __cmp__ method with compensating methods for Python3 functionality (#4684)
  .flake8
  python/grass/pydispatch/saferef.py
Due: python library

style: Fix R1703: The if statement can be replaced with 'var = bool(test)' (simplifiable-if-statement) (#4888)
  gui/wxpython/gui_core/forms.py
  gui/wxpython/modules/import_export.py
  pyproject.toml
  python/grass/script/task.py
Due: gui, python library

style: Fix W0246: Useless parent or super() delegation in method '__init__' (useless-parent-delegation) (#4887)
  gui/wxpython/gui_core/wrap.py
  gui/wxpython/mapdisp/gprint.py
  pyproject.toml
  python/grass/gunittest/reporters.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/vector/find.py
Due: gui, pygrass, gunittest, python library

style: Fix E1135: Value 'b_keys' doesn't support membership test (unsupported-membership-test) (#4886)
  pyproject.toml
  python/grass/gunittest/checkers.py
Due: gunittest, python library

style: Fix C0123: Use isinstance() rather than type() for a typecheck (unidiomatic-typecheck) (#4885)
  pyproject.toml
  python/grass/gunittest/reporters.py
Due: gunittest, python library

manual: db.in.ogr add column type detection for CSV (#4883)
  general/g.tempfile/g.tempfile.html
  imagery/i.ortho.photo/i.ortho.transform/i.ortho.transform.html
  imagery/imageryintro.html
  raster3d/r3.to.rast/r3.to.rast.html
  scripts/db.in.ogr/db.in.ogr.html
  scripts/r.mapcalc.simple/r.mapcalc.simple.html
  vector/v.edit/v.edit.html
Due: scripts

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
