Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

CI(i18n): Test creating translations from osgeo4w workflow
  .github/workflows/osgeo4w.yml
Due: none

i18n: Clean up flags and targets
  locale/Makefile
Due: none

Add LDFLAGS to make command too
  .github/workflows/macos_install.sh
Due: none

Append LDFLAGS in make
  .github/workflows/macos_install.sh
Due: none

Use macOS 15
  .github/workflows/macos.yml
Due: none

Comment out LDFLAGS in call to make
  .github/workflows/macos_install.sh
Due: none

Add fixed positional arg with binary
  .github/workflows/macos.yml
Due: none

set -x and unique file name
  .github/workflows/macos.yml
Due: none

Update macos.yml
  .github/workflows/macos.yml
Due: none

Update macos.yml basename
  .github/workflows/macos.yml
Due: none

older grassxml.pot strings
  locale/templates/grassxml.pot
Due: none

other .pot temporary changes
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

inital ITS rules for extracting strings from xml files
  gui/wxpython/xml/menu.its
Due: gui

grassxml changes
  locale/templates/grassxml.pot
Due: none

Add llvm's prepare-code-coverage-artifact.py script
  utils/prepare-code-coverage-artifact.py
Due: utils

Format utils/prepare-code-coverage-artifact.py
  utils/prepare-code-coverage-artifact.py
Due: utils

Apply fixes to utils/prepare-code-coverage-artifact.py
  utils/prepare-code-coverage-artifact.py
Due: utils

Apply manual fixes to utils/prepare-code-coverage-artifact.py
  utils/prepare-code-coverage-artifact.py
Due: utils

Add json coverage export function to utils/prepare-code-coverage-artifact.py
  utils/prepare-code-coverage-artifact.py
Due: utils

CI(macOS): Add steps to handle coverage
  .github/workflows/macos.yml
Due: none

CI(macOS): Use modified LLVM coverage script
  .github/workflows/macos.yml
Due: none

CI(macOS): Add flags for source-based code coverage
  .github/workflows/macos_install.sh
Due: none

Reorder arguments to show flags before object arguments
  utils/prepare-code-coverage-artifact.py
Due: utils

Use correct export command
  utils/prepare-code-coverage-artifact.py
Due: utils

CI(macOS): Remove unused lines when using coverage script and format file
  .github/workflows/macos.yml
Due: none

llvm-cov export doesn't support the output argument -o
  utils/prepare-code-coverage-artifact.py
Due: utils

Only upload one coverage file
  .github/workflows/macos.yml
Due: none

Skip exporting functions in json coverage file
  utils/prepare-code-coverage-artifact.py
Due: utils

Adapt coverage script to output coverage as lcov
  .github/workflows/macos.yml
  utils/prepare-code-coverage-artifact.py
Due: utils

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
