Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

grass.jupyter.utils: Fix pylint redefined-variable-type (R0204) of output variable
  python/grass/jupyter/utils.py
  python/grass/script/utils.py
Due: notebooks (jupyter), python library

Revert "grass.script.setup: Replace older subprocess.call with subprocess.run"
  python/grass/script/setup.py
Due: python library

Squashed commit of the following:
  gui/wxpython/tplot/frame.py
Due: gui

pytest timeout
  .github/workflows/python-code-quality.yml
Due: none

grass.script.setup: Replace older subprocess.call with subprocess.run
  python/grass/script/setup.py
Due: python library

grass.script.db: Close opened file in db_connection
  python/grass/script/db.py
Due: python library

grass.pygrass.utils: get_raster_for_points typing
  python/grass/pygrass/utils.py
Due: pygrass, python library

DEBUG: macos cache env
  .github/workflows/macos.yml
Due: none

t.unregister: Open file with context handler (SIM115)
  temporal/t.unregister/t.unregister.py
Due: none

CI(ubuntu): Create a tag for artifact uploads with length limit for a matrix combination
  .github/workflows/ubuntu.yml
Due: none

CI(ubuntu): Enable python code coverage for gunittest-based tests
  .github/workflows/ubuntu.yml
Due: none

CI(ubuntu): Configure python coverage for subprocesses
  .github/workflows/ubuntu.yml
Due: none

style: Fix lines too long in ubuntu.yml workflow
  .github/workflows/ubuntu.yml
Due: none

Remove "Set COVERAGE_PROCESS_START env variable" step
  .github/workflows/ubuntu.yml
Due: none

CI(ubuntu): Set INITIAL_PWD env var as export instead of inline
  .github/workflows/ubuntu.yml
Due: none

CI(ubuntu): Ignore testreport folders from code coverage
  .coveragerc
Due: none

CI(Ubuntu): Use ${{ !cancelled() }} as step condition to allow cancelling
  .github/workflows/ubuntu.yml
Due: none

CI(ubuntu): Add COVERAGE_RCFILE env for subprocess
  .github/workflows/ubuntu.yml
Due: none

CI: Allow replacing python3 interpreter in test_thorough.sh script
  .github/workflows/test_thorough.sh
Due: none

t.unregister: Use a context manager for opening files (SIM115)
  temporal/t.unregister/t.unregister.py
Due: none

grass.temporal.aggregation: Use a context manager for opening files (SIM115)
  python/grass/temporal/aggregation.py
Due: python library

t.rast.colors: Use a context manager for opening files (SIM115)
  temporal/t.rast.colors/t.rast.colors.py
Due: none

grass.temporal.stds_export: Use a context manager for opening files (SIM115)
  python/grass/temporal/stds_export.py
Due: python library

t.remove: Use a context manager for opening files (SIM115)
  temporal/t.remove/t.remove.py
Due: none

t.rast.what: Use a context manager for opening files (SIM115)
  temporal/t.rast.what/t.rast.what.py
Due: none

grass.gunittest.case: Wrap StringIO with a context manager in assertVectorAsciiEqualsVectorAscii
  python/grass/gunittest/case.py
Due: gunittest, python library

grass.gunittest.reporters: Use a context manager for opening files (SIM115)
  python/grass/gunittest/reporters.py
Due: gunittest, python library

grass.gunittest.case: Use a context manager for opening files (SIM115) in assertVectorAsciiEqualsVectorAscii
  python/grass/gunittest/case.py
Due: gunittest, python library

grass.gunittest.multireport: Use pathlib.read_text to read complete file
  python/grass/gunittest/multireport.py
Due: gunittest, python library

grass.gunittest.multireport: Use a context manager for opening files (SIM115)
  python/grass/gunittest/multireport.py
Due: gunittest, python library
