Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

v.geometry: new tool (v.to.db wrapper) for more obvious access to vector geometry computation (#7329)
  scripts/CMakeLists.txt
  scripts/Makefile
  scripts/v.geometry/Makefile
  scripts/v.geometry/tests/conftest.py
  scripts/v.geometry/tests/v_geometry_test.py
  scripts/v.geometry/v.geometry.html
  scripts/v.geometry/v.geometry.md
  scripts/v.geometry/v.geometry.py
Due: scripts

v.class: Fix out-of-bounds read when no records are selected (#7692)
  lib/arraystats/class.c
  vector/v.class/main.c
  vector/v.class/tests/test_v_class.py
Due: lib

CQ: Fix CodeQL issues "Incorrect return-value check for a 'scanf'-like function" (#7673)
  general/g.region/main.c
  raster/r.out.vtk/writeascii.c
  raster/r.watershed/seg/init_vars.c
  raster3d/r3.out.vtk/writeVTKData.c
Due: none

r3.out.vtk: Fix typo in translated string (#7685)
  raster3d/r3.out.vtk/writeVTKData.c
Due: none

tests: Migrate r.null tests from gunittest to pytest (#7675)
  raster/r.null/tests/r_null_test.py
  raster/r.null/testsuite/test_r_null.py
Due: none

CI: Set OMP_NUM_THREADS=1 for tests run in parallel (#7680)
  .github/workflows/macos.yml
  .github/workflows/pytest.yml
Due: none

wxGUI: Add the matplotlib hint as an exception note (#7688)
  gui/wxpython/iscatt/plots.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
Due: gui

grass.temporal: Fix swapped rows and cols in map metadata (#7681)
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/space_time_datasets.py
  python/grass/temporal/tests/grass_temporal_map_metadata_test.py
Due: python library

packaging: Update min Python version to 3.11 (#7684)
  .github/workflows/pytest.yml
  .github/workflows/python-code-quality.yml
  REQUIREMENTS.md
  lib/init/grass.py
  pyproject.toml
  python/grass/script/setup.py
  utils/mkdocs.py
Due: utils, lib, python library

grass.gunittest: Add the module name as an exception note (#7689)
  python/grass/gunittest/loader.py
Due: gunittest, python library

docs: Reduce Sphinx build warnings and fix broken links (#7526)
  doc/Makefile
  python/grass/docs/conf.py
  python/grass/docs/src/gunittest_running_tests.rst
  python/grass/docs/src/gunittest_testing.rst
  python/grass/docs/src/index.rst
Due: python library

g.md2man: Expand tests on other cases (#7679)
  utils/g.md2man/tests/g_md2man_test.py
Due: utils

grass.pygrass: Add the psycopg2 hint as an exception note (#7690)
  python/grass/pygrass/vector/table.py
Due: pygrass, python library

CMake: Build man pages from markdown (#7674)
  CMakeLists.txt
  cmake/modules/generate_docs.cmake
  man/CMakeLists.txt
  man/build_manpages.py
  utils/CMakeLists.txt
Due: man, utils

r.reclass.area: add upper and lower option and rewrite with Tools API (#7337)
  scripts/r.reclass.area/r.reclass.area.html
  scripts/r.reclass.area/r.reclass.area.md
  scripts/r.reclass.area/r.reclass.area.py
  scripts/r.reclass.area/testsuite/test_r_reclass_area.py
  scripts/r.reclass.area/testsuite/testrra.py
Due: scripts

packaging: Remove locale fallbacks for Python older than 3.11 (#7697)
  gui/wxpython/core/gcmd.py
  gui/wxpython/core/gconsole.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/ghelp.py
  gui/wxpython/rlisetup/frame.py
  lib/init/grass.py
  python/grass/gunittest/multirunner.py
  python/grass/script/utils.py
  utils/mkhtml.py
Due: gui, utils, lib, gunittest, python library

Ci: Set makensis verbosity level to level 4 (all)
  .github/workflows/windows-installer.yml
Due: none

packaging: Add GRASS_PYDIR in env.bat to correct windows installer, making grassXY.py able to start
  mswindows/env.bat
Due: none

Revert "packaging: Add GRASS_PYDIR in env.bat.tmpl to correct windows installer, making grassXY.py able to start"
  mswindows/osgeo4w/env.bat.tmpl
Due: none

ci(macOS): Use pypi for codecov cli test results upload
  .github/workflows/macos.yml
Due: none

ci(macOS): Skip validation for codecov cli test results upload as unavailable in the current state of the runner
  .github/workflows/macos.yml
Due: none

ci(macOS): Remove use_pypi for codecov cli test results upload
  .github/workflows/macos.yml
Due: none

CI(OSGeo4w): Install dependencies in parallel using new available worflow syntax `- parallel:`
  .github/workflows/osgeo4w.yml
Due: none

CI: Replace softprops/action-gh-release with `gh release create` calls
  .github/workflows/create_release_draft.yml
Due: none

CI: Use expression to conditionally add `--prerelease` in `gh release create` call
  .github/workflows/create_release_draft.yml
Due: none

CI: Remove softprops/action-gh-release from .github/workflows/create_release_draft.yml
  .github/workflows/create_release_draft.yml
Due: none

CI: Add GH_TOKEN to be able to use gh CLI in GitHub Actions
  .github/workflows/create_release_draft.yml
Due: none

CI: Fetch tags in create_release_draft
  .github/workflows/create_release_draft.yml
Due: none

CI: Replace softprops/action-gh-release with `gh release create` calls for `${GITHUB_REF_NAME}` tag
  .github/workflows/create_release_draft.yml
Due: none

CI: Adjust formatting
  .github/workflows/create_release_draft.yml
Due: none

style: Quote shell variables
  .github/workflows/create_release_draft.yml
Due: none

CI: `gh release create` allows using `--prerelease=true` and `--prerelease=false` as tested locally
  .github/workflows/create_release_draft.yml
Due: none

CI: Run some steps of create_release_draft in parallel
  .github/workflows/create_release_draft.yml
Due: none

CI: Run some steps asynchronously for the documentation workflow
  .github/workflows/documentation.yml
Due: none

CI: Run some steps asynchronously for the gcc standards check workflow
  .github/workflows/gcc.yml
Due: none

CI: Run some setup steps asynchronously for the pytest workflow
  .github/workflows/pytest.yml
Due: none

checks: Ignore actionlint syntax errors because the tool doesn't recognize parallel keywords yet
  .github/actionlint.yaml
Due: none

style: Format changed workflow files
  .github/workflows/create_release_draft.yml
  .github/workflows/osgeo4w.yml
Due: none

CI: Set actionlint config file for super-linter
  .github/workflows/super-linter.yml
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
