Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

DEBUGGING: CI(macOS): Enable environment caching
  .github/workflows/macos.yml
Due: none

pytest: mark tests using fixture space_time_raster_dataset as needs_solo_run
  python/grass/jupyter/tests/seriesmap_test.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  temporal/t.rast.list/tests/t_rast_list_test.py
Due: notebooks (jupyter), python library

pytest: Use pytest.importorskip
  python/grass/jupyter/tests/seriesmap_test.py
  temporal/t.rast.list/tests/t_rast_list_test.py
Due: notebooks (jupyter), python library

pytest: Add pytest-timeout to macOS dependencies
  .github/workflows/macos_dependencies.txt
Due: none

pytest: Use pytest.importorskip
  python/grass/jupyter/tests/seriesmap_test.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  temporal/t.rast.list/tests/t_rast_list_test.py
Due: notebooks (jupyter), python library

pytest: Add pytest-github-actions-annotate-failures to macOS dependencies
  .github/workflows/macos_dependencies.txt
Due: none

pytest: Use pytest.importorskip
  python/grass/jupyter/tests/timeseriesmap_test.py
Due: notebooks (jupyter), python library

pytest: Use importorskip to for whole file
  python/grass/jupyter/tests/seriesmap_test.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  scripts/v.db.univar/tests/v_db_univar_test.py
  temporal/t.rast.list/tests/t_rast_list_test.py
Due: scripts, notebooks (jupyter), python library

Fix typos in pytest
  python/grass/script/tests/conftest.py
  python/grass/script/tests/utils_test.py
Due: python library

scalene profiling
  .github/workflows/pytest.yml
Due: none

Refactor pytest workflow to upload scalene-json artifacts.
  .github/workflows/pytest.yml
Due: none

scalene use --
  .github/workflows/pytest.yml
Due: none

Update pytest workflow to disable fail-fast option.
  .github/workflows/pytest.yml
Due: none

Update pytest command in GitHub Actions workflow.
  .github/workflows/pytest.yml
Due: none

Update pytest workflow to run tests with multiple workers.
  .github/workflows/pytest.yml
Due: none

pytest remove space workflow
  .github/workflows/pytest.yml
Due: none

change relative imports to absolute
  python/grass/gunittest/case.py
  python/grass/gunittest/gmodules.py
  python/grass/gunittest/gutils.py
  python/grass/gunittest/invoker.py
  python/grass/gunittest/main.py
  python/grass/gunittest/reporters.py
Due: gunittest, python library

pytest: Mark tests using run_in_subprocess as needs_solo_run because of possible deadlocks
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

CQ: Create default pylint config in pyproject.toml
  .pylintrc
  gui/wxpython/.pylintrc
  pyproject.toml
  python/.pylintrc
  utils/pylintrc.txt
Due: gui, utils

style: format pyproject.toml
  pyproject.toml
Due: none

CQ: Port root pylint config to pyproject.toml
  pyproject.toml
Due: none

DEBUG: Reorder old root pylintrc file
  .pylintrc.old
Due: none

DEBUG: Readd old pylintrc files
  gui/wxpython/.pylintrc.old3
  python/.pylintrc.old2
  utils/pylintrc.txt.old4
Due: gui, utils

DEBUG: VSCode python settings
  .vscode/settings.json
Due: none

DEBUG: pylint results json
  pylint_root_python_grass.json
  pylint_root_python_grass_py39.json
  pylint_root_python_grass_py39_and_gui_wxpython.json
  pylint_root_python_grass_py39_and_gui_wxpython2.json
Due: none

CI(pylint): Update versions in workflow
  .github/workflows/python-code-quality.yml
Due: none

style: fix missing whitespace between operators
  raster/r.texture/benchmark/benchmark_rtexture.py
Due: none

style: Apply black formatting
  gui/wxpython/animation/temporal_manager.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/iclass/dialogs.py
  gui/wxpython/image2target/ii2t_gis_set.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/workspace.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/modules/mcalc_builder.py
  gui/wxpython/rlisetup/wizard.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/vdigit/wxdigit.py
  gui/wxpython/wxplot/profile.py
  python/grass/gunittest/case.py
  python/grass/pygrass/modules/interface/parameter.py
  python/grass/pygrass/vector/table.py
  python/grass/script/raster3d.py
  python/grass/script/task.py
  python/grass/temporal/open_stds.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/stds_import.py
  scripts/g.extension/g.extension.py
  scripts/r.blend/r.blend.py
  scripts/r.reclass.area/r.reclass.area.py
  scripts/v.db.droptable/v.db.droptable.py
  scripts/v.db.reconnect.all/v.db.reconnect.all.py
  scripts/v.what.strds/v.what.strds.py
  temporal/t.rast.aggregate.ds/t.rast.aggregate.ds.py
  temporal/t.vect.what.strds/t.vect.what.strds.py
Due: gui, scripts, pygrass, gunittest, python library

style: Manual fixes for single-line-implicit-string-concatenation violations (ISC001)
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  man/build_keywords.py
  python/grass/gunittest/reporters.py
  temporal/t.rast.algebra/testsuite/test_raster_algebra_arithmetic.py
Due: gui, man, gunittest, python library

style: Manual fixes for single-line-implicit-string-concatenation violations (ISC001) in ctypesgen code
  python/libgrass_interface_generator/ctypesgen/expressions.py
Due: none

style: apply black
  gui/wxpython/core/settings.py
Due: gui

style: Fixes unnecessary-collection-call (C408) for empty collections on ctypesgen
  python/libgrass_interface_generator/ctypesgen/ctypedescs.py
  python/libgrass_interface_generator/ctypesgen/parser/cdeclarations.py
Due: none

DEBUG: pylint results
  pylint_root_python_grass_py39_and_gui_wxpython3.json
  pylint_root_python_grass_py39_and_gui_wxpython4.json
  pylint_root_python_grass_py39_and_gui_wxpython5.json
Due: none

style: Fixes unnecessary-collection-call (C408) for testsuite
  python/grass/benchmark/testsuite/test_benchmark.py
  python/grass/gunittest/testsuite/test_assertions.py
  python/grass/gunittest/testsuite/test_assertions_rast3d.py
  python/grass/gunittest/testsuite/test_assertions_vect.py
  python/grass/pygrass/modules/interface/testsuite/test_flag.py
  python/grass/pygrass/modules/interface/testsuite/test_parameter.py
  python/grass/script/testsuite/test_utils.py
  raster/r.mapcalc/testsuite/test_r_mapcalc.py
  raster/r.mapcalc/testsuite/test_row_above_below_bug.py
  raster/r.random.cells/testsuite/test_random_cells.py
  raster/r.random/testsuite/test_r_random.py
  raster/r.random/testsuite/testrandom.py
  raster/r.sun/testsuite/test_rsun.py
  raster/r.surf.gauss/testsuite/test_r_surf_gauss.py
  raster/r.surf.random/testsuite/test_min_max.py
  raster/r.to.vect/testsuite/test_r_to_vect.py
  raster3d/r3.to.rast/testsuite/test_a_b_coeff.py
  raster3d/r3.to.rast/testsuite/test_integer_rounding.py
  raster3d/r3.to.rast/testsuite/test_nulls.py
  raster3d/r3.to.rast/testsuite/test_small_data.py
  scripts/r.import/testsuite/test_r_import.py
  scripts/v.clip/testsuite/test_v_clip.py
  scripts/v.import/testsuite/test_v_import.py
  vector/v.in.lidar/testsuite/decimation_test.py
  vector/v.in.lidar/testsuite/mask_test.py
  vector/v.in.lidar/testsuite/test_v_in_lidar_filter.py
  vector/v.in.pdal/testsuite/test_v_in_pdal_filter.py
  vector/v.info/testsuite/test_vinfo.py
  vector/v.net/testsuite/test_v_net.py
  vector/v.random/testsuite/test_v_random.py
  vector/v.select/testsuite/test_v_select.py
  vector/v.surf.rst/testsuite/test_vsurfrst.py
  vector/v.to.3d/testsuite/test_vto3d.py
Due: scripts, pygrass, gunittest, python library

style: Fixes unnecessary-collection-call (C408) for remaining code
  gui/wxpython/core/menutree.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/history/tree.py
  gui/wxpython/lmgr/pyshell.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/modules/mcalc_builder.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  python/grass/benchmark/results.py
  python/grass/gunittest/case.py
  python/grass/gunittest/invoker.py
  python/grass/script/vector.py
  scripts/g.manual/g.manual.py
  scripts/r.import/r.import.py
  scripts/r.out.xyz/r.out.xyz.py
  scripts/v.in.e00/v.in.e00.py
  utils/g.html2man/ggroff.py
Due: gui, utils, scripts, gunittest, python library

style: Fixes unnecessary-collection-call (C408) for ctypesgen
  python/libgrass_interface_generator/ctypesgen/libraryloader.py
Due: none

style: Apply black formatting
  python/grass/benchmark/testsuite/test_benchmark.py
  python/grass/pygrass/modules/interface/testsuite/test_parameter.py
  vector/v.info/testsuite/test_vinfo.py
Due: pygrass, python library
