Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

docs: Fix space between double colon of a code block + change to pycon language
  python/grass/temporal/abstract_map_dataset.py
Due: python library

docs: Fix simple typo
  python/grass/temporal/base.py
Due: python library

docs: Place module contents before submodules for pydispatch
  python/grass/docs/Makefile
Due: python library

grass.jupyter: Add typing annotations related to query_raster()
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

docs: Enable duration sphinx extension
  python/grass/docs/conf.py
Due: python library

docs: Use pycon language instead of python for python console code blocks formatting
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/temporal_algebra.py
Due: python library

docs: Fix code block missing double colon
  python/grass/gunittest/testsuite/test_checkers.py
Due: gunittest, python library

docs: Fix docstring indenting/unindenting
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/base.py
Due: python library

make: Disable generating .pyc files
  gui/wxpython/Makefile
  include/Make/Python.make
  include/Make/Script.make
  python/grass/app/Makefile
  python/grass/benchmark/Makefile
  python/grass/exceptions/Makefile
  python/grass/experimental/Makefile
  python/grass/grassdb/Makefile
  python/grass/gunittest/Makefile
  python/grass/imaging/Makefile
  python/grass/jupyter/Makefile
  python/grass/pydispatch/Makefile
  python/grass/pygrass/Makefile
  python/grass/pygrass/gis/Makefile
  python/grass/pygrass/messages/Makefile
  python/grass/pygrass/modules/Makefile
  python/grass/pygrass/modules/grid/Makefile
  python/grass/pygrass/modules/interface/Makefile
  python/grass/pygrass/raster/Makefile
  python/grass/pygrass/rpc/Makefile
  python/grass/pygrass/shell/Makefile
  python/grass/pygrass/tests/Makefile
  python/grass/pygrass/vector/Makefile
  python/grass/script/Makefile
  python/grass/semantic_label/Makefile
  python/grass/temporal/Makefile
  python/grass/utils/Makefile
  python/libgrass_interface_generator/Makefile
Due: gui, pygrass, gunittest, notebooks (jupyter), python library

docs: Do not provide value for sphinx's "today" config option
  python/grass/docs/conf.py
Due: python library

docs: Convert docstrings to use note and warning admonitions 5820
  python/grass/gunittest/case.py
  python/grass/pydispatch/dispatcher.py
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/messages/__init__.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/raster/segment.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/table.py
  python/grass/script/db.py
  python/grass/temporal/c_libraries_interface.py
  scripts/g.extension/g.extension.py
Due: scripts, pygrass, gunittest, python library

docs: Add autodocs typehints to both signature and content, groupwise order, and documented params
  python/grass/docs/conf.py
Due: python library

docs: Fix list formatting for python/grass/imaging/images2avi.py writeAvi()
  python/grass/imaging/images2avi.py
Due: python library

docs: Fix simple typos
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

docs: Unindent AbstractSpaceTimeDataset.set_initial_values() docstring
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

docs: Use and format complex pycon language for python console code blocks
  python/grass/pygrass/rpc/__init__.py
  python/grass/pygrass/rpc/base.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/base.py
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/datetime_math.py
  python/grass/temporal/list_stds.py
  python/grass/temporal/metadata.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/spatial_topology_dataset_connector.py
  python/grass/temporal/spatio_temporal_relationships.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_granularity.py
  python/grass/temporal/temporal_raster_algebra.py
  python/grass/temporal/temporal_topology_dataset_connector.py
Due: pygrass, python library

docs: Exclude files from apidoc that can't be imported
  python/grass/docs/Makefile
Due: python library

docs: Unindent docstring for AbstractSpaceTimeDataset.register_map
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

docs: Parameter typing for AbstractSpaceTimeDataset.register_map
  python/grass/imaging/images2avi.py
Due: python library

docs: Fix link to style_guide.md
  doc/python_intro.md
Due: none

docs: Use pycon language for python console code blocks (simple changes)
  python/grass/temporal/base.py
  python/grass/temporal/core.py
  python/grass/temporal/datetime_math.py
  python/grass/temporal/gui_support.py
  python/grass/temporal/metadata.py
  python/grass/temporal/space_time_datasets.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_extent.py
  python/grass/temporal/temporal_granularity.py
  python/grass/temporal/temporal_operator.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_topology_dataset_connector.py
  python/grass/temporal/temporal_vector_algebra.py
Due: python library

docs: Fix docstring formating for grass.script.core.tempname()
  python/grass/script/core.py
Due: python library

docs: Fix underline too short in script_intro.rst
  python/grass/docs/src/script_intro.rst
Due: python library

docs: Fix formatting issues of unescaped substitutions or emphasis
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_vector_algebra.py
Due: python library

docs: Fix typo in docstring of python/grass/pygrass/utils.py findmaps()
  python/grass/pygrass/utils.py
Due: pygrass, python library

grass.script.raster: Add typing annotations related to raster_what()
  python/grass/script/raster.py
Due: python library

mkdocs: Disable CSS text-transform capitalization as it changes the API docs case
  man/mkdocs/grassdocs.css
  python/grass/docs/_static/pygrass.css
Due: man, python library

docs: Ignore auto-generated .rst files for python lib docs
  .gitignore
Due: none

docs: Fix docstring indent for SpatioTemporalTopologyBuilder
  python/grass/temporal/spatio_temporal_relationships.py
Due: python library

docs: Fix formatting issue of bullet list of TemporalOperatorParser.parse()
  python/grass/temporal/temporal_operator.py
Due: python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
