Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Remove redundant flag from codecov upload
  .github/workflows/macos.yml
Due: none

CI(macOS): Update compiler flags for profiling and coverage
  .github/workflows/macos_install.sh
Due: none

Remove redundant flags from CPPFLAGS in macOS script
  .github/workflows/macos_install.sh
Due: none

Add LDFLAGS for profiling in macOS install script
  .github/workflows/macos_install.sh
Due: none

Update macOS install script with coverage flags
  .github/workflows/macos_install.sh
Due: none

CI(deps): Update codecov/codecov-action action to v5.4.2
  .github/workflows/macos.yml
Due: none

Update CXXFLAGS and LDFLAGS in macos_install.sh
  .github/workflows/macos_install.sh
Due: none

man: Use context manager when opening image file
  man/build_manual_gallery.py
Due: man

pytest: Require pytest 8.2
  pyproject.toml
Due: none

pytest: Ignore collecting files in `testsuite/data` folders
  pyproject.toml
Due: none

pytest: Run gunittest-based tests in a separate step in CI
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
Due: none

pytest: allow collecting more test files
  pyproject.toml
Due: none

pytest: Ignore running testsuite tests in normal runs
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
Due: none

pytest: Deselect crashing tests that use ctypes functions directly and note which tests run successfully
  .github/workflows/pytest_args_gunittest.txt
Due: none

pytest: ignore deprecated python/grass/temporal/unit_tests.py
  .github/workflows/pytest_args_gunittest.txt
Due: none

pytest: Extract gunittest deselect list to a separate arg file
  .github/workflows/pytest_args_deselect.txt
  .github/workflows/pytest_args_gunittest.txt
Due: none

pytest: remove common arg from gunittest args
  .github/workflows/pytest_args_gunittest.txt
Due: none

CI(pytest): refactor pytest arguments into a file
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/pytest_args_gunittest.txt
Due: none

CI(pytest): Run gunittest-based tests without default report args
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/pytest_args_gunittest.txt
Due: none

CI(pytest): Show short traceback for gunittest-based tests
  .github/workflows/pytest_args_gunittest.txt
Due: none

tests: Define executable using versionned bat file on Windows in lib/init/testsuite/test_grass_tmp_mapset.py
  lib/init/testsuite/test_grass_tmp_mapset.py
Due: lib

tests: Load "msvcrt" instead of "c" on Windows for imagery library signature file handling tests
  lib/imagery/testsuite/test_imagery_sigfile.py
  lib/imagery/testsuite/test_imagery_sigsetfile.py
Due: lib

CI(pytest): Reset report list at end of run
  .github/workflows/pytest_args_gunittest.txt
Due: none

tests: Load "msvcrt" instead of "c" on Windows for i.maxlik tests
  imagery/i.maxlik/testsuite/test_i_maxlik.py
Due: none

Windows: Remove pause at end of .bat file to pass the return code correctly
  lib/init/grass.bat.in
  mswindows/GRASS-Installer.nsi.tmpl
  mswindows/crosscompile.sh
  mswindows/osgeo4w/grass.bat.tmpl
  mswindows/osgeo4w/python-grass.bat.tmpl
Due: lib

CI(pytest): Only run passing gunittest-based tests
  .github/workflows/pytest_args_gunittest.txt
Due: none

Try using unversionned grass.bat in lib/init/testsuite/test_grass_tmp_mapset.py
  lib/init/testsuite/test_grass_tmp_mapset.py
Due: lib

CI(OSGeo4w): Add folder of C:\OSGeo4W\opt\grass\grass85.bat to path for running gunittest-based tests with pytest
  .github/workflows/osgeo4w.yml
Due: none

tests: Load msvcrt instead of c on Windows
  lib/gis/testsuite/test_gis_lib_getl.py
Due: lib

man: Write a help description for output argument of Parser standard option
  man/parser_standard_options.py
Due: man

man: Remove usage of FileType argument type in parser standard options
  man/parser_standard_options.py
Due: man

man: Remove proxies=None from urlopen, as it is for the old interface
  man/parser_standard_options.py
Due: man

man: Add typing annotations to related changes of parser standard options
  man/build.py
  man/parser_standard_options.py
Due: man

man: Fix name of file by using outfile.name
  man/parser_standard_options.py
Due: man

CI(macOS): Add `-fprofile-instr-generate` to LDFLAGS
  .github/workflows/macos_install.sh
Due: none

CI(macOS): Add EXTRA_COV_FLAGS to CFLAGS and CPPFLAGS
  .github/workflows/macos_install.sh
Due: none

CI(macOS): Add `-fcoverage-mapping` to LDFLAGS
  .github/workflows/macos_install.sh
Due: none

CI(macOS): Move flags before running configure
  .github/workflows/macos_install.sh
Due: none

CI(macOS): Sort coverage test dependency
  .github/workflows/macos.yml
Due: none

CI(macOS): Add llvmdev conda package
  .github/workflows/macos.yml
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
