Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

docs: Fix docstring formatting of grass.jupyter.interactivemap
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

docs: Add autodocs typehints to both signature and content, groupwise order, and documented params
  python/grass/docs/conf.py
Due: python library

docs: Fix indent of return of grass.grassdb.read()
  python/grass/grassdb/history.py
Due: python library

docs: Parameter typing for AbstractSpaceTimeDataset.register_map
  python/grass/imaging/images2avi.py
Due: python library

make: Disable generating .pyc files
  gui/wxpython/Makefile
  include/Make/Python.make
  include/Make/Script.make
  python/grass/app/Makefile
  python/grass/benchmark/Makefile
  python/grass/exceptions/Makefile
  python/grass/experimental/Makefile
  python/grass/grassdb/Makefile
  python/grass/gunittest/Makefile
  python/grass/imaging/Makefile
  python/grass/jupyter/Makefile
  python/grass/pydispatch/Makefile
  python/grass/pygrass/Makefile
  python/grass/pygrass/gis/Makefile
  python/grass/pygrass/messages/Makefile
  python/grass/pygrass/modules/Makefile
  python/grass/pygrass/modules/grid/Makefile
  python/grass/pygrass/modules/interface/Makefile
  python/grass/pygrass/raster/Makefile
  python/grass/pygrass/rpc/Makefile
  python/grass/pygrass/shell/Makefile
  python/grass/pygrass/tests/Makefile
  python/grass/pygrass/vector/Makefile
  python/grass/script/Makefile
  python/grass/semantic_label/Makefile
  python/grass/temporal/Makefile
  python/grass/utils/Makefile
  python/libgrass_interface_generator/Makefile
Due: gui, pygrass, gunittest, notebooks (jupyter), python library

docs: Ignore auto-generated .rst files for python lib docs
  .gitignore
Due: none

grass.jupyter: Add typing annotations related to query_raster()
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

docs: Replace `<tt></tt>` markup with double backticks in docstrings
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
Due: python library

docs: Fill in docstring for grass.script.utils.text_to_string()
  python/grass/script/utils.py
Due: python library

docs: Fix note syntax in grass.jupyter.interactivemap.InteractiveMap.add_raster()
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

docs: Remove contradicting type in param list of python/grass/script/utils.py
  python/grass/script/utils.py
Due: python library

docs: Add LineDist return type in docstring of grass.pygrass.vector.geometry.Line.distance()
  python/grass/pygrass/vector/geometry.py
Due: pygrass, python library

docs: Fix some invalid parameter list generating warnings
  gui/wxpython/iscatt/dialogs.py
  python/grass/jupyter/interactivemap.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/find.py
Due: gui, pygrass, notebooks (jupyter), python library

docs: Fix typos in described parameter not matching the signature
  python/grass/script/core.py
  python/grass/temporal/base.py
Due: python library

docs: Add "see also" boxes with cross-refs in grass.script.core docstrings
  python/grass/script/core.py
Due: python library

docs: Format raised exceptions docstrings and cross-references
  python/grass/app/data.py
  python/grass/experimental/create.py
  python/grass/experimental/mapset.py
  python/grass/gunittest/case.py
  python/grass/gunittest/gmodules.py
  python/grass/gunittest/main.py
  python/grass/jupyter/setup.py
  python/grass/script/core.py
  python/grass/script/task.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/temporal_algebra.py
Due: gunittest, notebooks (jupyter), python library

docs: Use double backticks for inline code style in docstrings of grass.script.core and grass.script.raster3d
  python/grass/script/core.py
  python/grass/script/raster3d.py
Due: python library

docs: Escape parameters ending with underscores in docstrings
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/vector/geometry.py
  python/grass/script/utils.py
  python/grass/temporal/stds_export.py
Due: pygrass, python library

docs: Add or remove parameters in docstrings that don't belong to the functions in grass.temporal
  python/grass/temporal/core.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_raster_base_algebra.py
Due: python library

docs: Resolve ambiguous references to types or functions generating warnings
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/find.py
  python/grass/script/raster.py
Due: pygrass, python library

mkdocs: Enhance tooltips message of social icons
  man/mkdocs/mkdocs.yml
Due: man

docs: Use more crossrefs in grass.script.core 5868
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/find.py
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
Due: pygrass, python library

docs: Place module contents before submodules for pydispatch
  python/grass/docs/Makefile
Due: python library

mkdocs: Disable CSS text-transform capitalization as it changes the API docs case
  man/mkdocs/grassdocs.css
  python/grass/docs/_static/pygrass.css
Due: man, python library

docs: Do not provide value for sphinx's "today" config option
  python/grass/docs/conf.py
Due: python library

docs: Enable duration sphinx extension
  python/grass/docs/conf.py
Due: python library

docs: Render sphinx docs with the same order as the source code to help compare
  python/grass/docs/conf.py
Due: python library

grass.script.raster: Add typing annotations related to raster_what()
  python/grass/script/raster.py
Due: python library

docs: Exclude files from apidoc that can't be imported
  python/grass/docs/Makefile
Due: python library

docs: Recreate sphinx config from scratch
  python/grass/docs/Makefile
  python/grass/docs/conf.py
  python/grass/docs/make.bat
Due: python library

docs: Reorder sphinx extensions
  python/grass/docs/conf.py
Due: python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
