Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

Apply batched suggestions from code review
  .env
  .vscode/settings.json
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

lib/cluster: Add pytest ctypes test suite
  lib/cluster/tests/conftest.py
  lib/cluster/tests/lib_cluster_algorithm_ctypes_test.py
  lib/cluster/tests/lib_cluster_exec_ctypes_test.py
  lib/cluster/tests/lib_cluster_points_ctypes_test.py
Due: lib

lib/cluster: Cover I_cluster_exec argument defaults and interrupts
  lib/cluster/tests/lib_cluster_exec_ctypes_test.py
Due: lib

CI: Add diagnostic step to bisect OSGeo4W gdal regression (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Add diagnostic step to dump gdal DLL/pyd symbols (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Fix package name/URL for gdal313-runtime revert (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Fix _gdal.pyd filename pattern for ABI-tagged builds (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Test disabling MSYS2 pacman -Syu to bisect toolchain regression (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Dump grass_gis.8.6.dll exports/imports to find the crashing symbol (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Test standalone single-process pygrass import (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Count sequential grass.lib loads before the DLL-load crash (not for merge)
  .github/workflows/ci_diag_sequential_lib_load.py
  .github/workflows/osgeo4w.yml
Due: none

CI: Test pytest without xdist to isolate execnet's thread (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Test python -m pytest vs the pytest.exe launcher stub (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Test standalone import after pip install (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Test pytest --capture=no to isolate fd-level output capturing (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Confirm the core plain-import/pytest divergence on latest main (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Test pytest with all third-party plugins disabled (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Capture Windows loader snaps to find the exact unresolved symbol (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Fix loader snaps capture (split into separate steps) (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Enable kernel-mode capture in DebugView for loader snaps (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Switch loader snaps capture from DebugView to cdb.exe (not for merge)
  .github/workflows/osgeo4w.yml
Due: none

CI: Add opt-in LLVM source-based C/C++ coverage to pytest workflow
  .github/workflows/build_ubuntu-24.04.sh
  .github/workflows/pytest.yml
  .gitignore
  utils/coverage_disk_usage.sh
  utils/llvm_coverage_export.sh
Due: utils

CI: Document local usage of llvm_coverage_export.sh
  utils/llvm_coverage_export.sh
Due: utils

grass.gunittest: Add option to run test files in random order
  python/grass/docs/src/gunittest_running_tests.rst
  python/grass/gunittest/invoker.py
  python/grass/gunittest/loader.py
  python/grass/gunittest/main.py
  python/grass/gunittest/reporters.py
  python/grass/gunittest/tests/grass_gunittest_random_order_test.py
Due: gunittest, python library

CI: Run gunittest thorough tests in random order on all platforms
  .github/workflows/test_thorough.bat
  .github/workflows/test_thorough.sh
Due: none

TEMP: Allow repeated manual runs of thorough tests
  .github/workflows/cmake.yml
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/ubuntu.yml
Due: none

CI: Update zizmor to v1.30.1 and use self-repository syntax
  .github/workflows/additional_checks.yml
  .github/workflows/pytest.yml
  .github/workflows/python-code-quality.yml
  .github/workflows/ubuntu.yml
  .github/workflows/verify-success.yml
  .pre-commit-config.yaml
Due: none

Python: Fix new pylint chained-comparison and comparison-with-itself messages
  gui/wxpython/core/utils.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/tplot/frame.py
  python/grass/pygrass/raster/segment.py
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/temporal_extent.py
  scripts/i.pansharpen/i.pansharpen.py
  scripts/r.in.wms/wms_drv.py
  scripts/r.tileset/r.tileset.py
Due: gui, scripts, pygrass, python library

CI: Check positional printf arguments on Windows
  .github/scripts/positional_printf_check.c
  .github/workflows/positional_printf_check.yml
Due: none

CI: Use _sprintf_p in positional printf check
  .github/scripts/positional_printf_check.c
Due: none

CI: Also test disabled MinGW ANSI stdio in printf check
  .github/workflows/positional_printf_check.yml
Due: none

CI: Test libintl for positional printf arguments
  .github/scripts/positional_printf_check.c
  .github/workflows/positional_printf_check.yml
Due: none

CI: Inspect vcpkg libintl exports in printf check
  .github/workflows/positional_printf_check.yml
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

r.horizon: Use complete messages for bufferzone errors
  raster/r.horizon/main.c
Due: none

v.rectify: Report existing output map in separate messages
  vector/v.rectify/main.c
Due: none

r.in.pdal: Fix point count messages not being translated
  raster/r.in.pdal/main.cpp
Due: none

r.reclass: Translate complete messages instead of fragments
  raster/r.reclass/main.c
Due: none

lib/gis: Remove leading space from window overlap warnings
  lib/gis/view.c
Due: lib
