Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

DEBUG: VSCode python settings
  .vscode/settings.json
Due: none

CQ: Disable pylint plugin bad_builtin
  pyproject.toml
Due: none

style: Change misplaced docstring to comment in pygrass/rpc/__init__.py
  python/grass/pygrass/rpc/__init__.py
Due: pygrass, python library

style: Fix raise-without-from-inside-except (B904)
  gui/wxpython/iscatt/plots.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/raster/category.py
  python/grass/pygrass/rpc/base.py
  python/grass/pygrass/vector/table.py
  python/grass/script/core.py
  python/grass/script/task.py
  python/grass/script/vector.py
  python/grass/semantic_label/reader.py
  python/grass/utils/download.py
  scripts/r.in.wms/wms_cap_parsers.py
Due: gui, scripts, pygrass, python library

CI(pylint): Update versions in workflow
  .github/workflows/python-code-quality.yml
Due: none

DEBUG: Readd old pylintrc files
  gui/wxpython/.pylintrc.old3
  python/.pylintrc.old2
  utils/pylintrc.txt.old4
Due: gui, utils

style: Fixes unnecessary-collection-call (C408) for empty collections on ctypesgen
  python/libgrass_interface_generator/ctypesgen/ctypedescs.py
  python/libgrass_interface_generator/ctypesgen/parser/cdeclarations.py
Due: none

style: Fix unreliable-callable-check (B004)
  pyproject.toml
  python/grass/pydispatch/robustapply.py
  python/grass/pydispatch/saferef.py
Due: python library

CQ: Enable pylint plugins redefined_variable_type and bad_builtin
  pyproject.toml
Due: none

CQ: Create default pylint config in pyproject.toml
  .pylintrc
  gui/wxpython/.pylintrc
  pyproject.toml
  python/.pylintrc
  utils/pylintrc.txt
Due: gui, utils

DEBUG: Reorder old root pylintrc file
  .pylintrc.old
Due: none

CQ: Port root pylint config to pyproject.toml
  pyproject.toml
Due: none

grass.script: Ignore signature-differs pylint warning in array.py
  python/grass/script/array.py
Due: python library

DEBUG: pygrass.vector.vector_type: Sort imports
  python/grass/pygrass/vector/vector_type.py
Due: pygrass, python library

Squashed commit of the following:
  gui/wxpython/tplot/frame.py
Due: gui

pygrass.vector.find: Annotate AbstractFinder __init__ to fix pylint useless-parent-delegation / W0246
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

DEBUG: pygrass.vector.find place type checking imports globally for sphinx
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

DEBUG: Do not fail pylint to run all steps, then rerun pylint with failures
  .github/workflows/python-code-quality.yml
Due: none

pygrass.vector.vector_type: Add more annotations
  python/grass/pygrass/vector/vector_type.py
Due: pygrass, python library

pygrass.vector.find: Remove useless BboxFinder __init__ to fix pylint useless-parent-delegation / W0246
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

DEBUG: Configure Pyright type checker
  .vscode/settings.json
  pyproject.toml
Due: none

style: Fix in-dict-keys (SIM118)
  man/parser_standard_options.py
  python/grass/gunittest/checkers.py
  python/grass/gunittest/invoker.py
  python/grass/pygrass/tests/benchmark.py
  python/grass/pygrass/vector/__init__.py
  python/grass/script/core.py
  python/grass/script/testsuite/test_utils.py
  python/grass/temporal/base.py
  scripts/r.in.srtm/r.in.srtm.py
  scripts/r.in.wms/wms_base.py
  temporal/t.topology/t.topology.py
Due: man, scripts, pygrass, gunittest, python library

DEBUG: vscode type checking mode
  .vscode/settings.json
Due: none

style: Fix in-dict-keys (SIM118)
  gui/wxpython/animation/provider.py
Due: gui

style: Fix in-dict-keys (SIM118)
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/web_services/dialogs.py
  man/build_keywords.py
  man/build_topics.py
  python/grass/pygrass/vector/__init__.py
  python/grass/script/core.py
  python/grass/temporal/temporal_algebra.py
  scripts/r.pack/r.pack.py
  scripts/v.rast.stats/v.rast.stats.py
  temporal/t.unregister/t.unregister.py
Due: gui, man, scripts, pygrass, python library

DEBUG: pygrass.vector.find: Comment out from __future__ import annotations
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

DEBUG: pygrass.vector: Removed commented code
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/vector_type.py
Due: pygrass, python library

DEBUG: pygrass.vector.find: Add more annotations
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

pygrass.vector.find: Add more annotations
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

DEBUG: Diffs of ruff issues solved and to solve
  diff_0_1.diff
  diff_1_2.diff
  diff_2_3.diff
  ruff_stats_0_initial_373800152d4f3b70639e2a7b1942f03b06c2c51b.txt
  ruff_stats_1_configured_ruff_277a147cc6d0771a8e85a6b5ad7f26310fe7e86b.txt
  ruff_stats_2_main_20240710_c9a1a17c5266f9c01da8be4daf4500aeafbb7ba7.txt
  ruff_stats_3_echoix_pending.txt
Due: none

DEBUG: pygrass.vector.find: Sort imports
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

style: Fix unspecified-encoding (PLW1514) Ruff rule: https://docs.astral.sh/ruff/rules/unspecified-encoding/
  display/d.mon/render_cmd.py
  gui/wxpython/gcp/manager.py
  scripts/v.report/v.report.py
  utils/g.html2man/g.html2man.py
  utils/mkhtml.py
Due: gui, utils, scripts

Apply suggestions from code review
  utils/g.html2man/g.html2man.py
  utils/g.html2man/testsuite/test_ghtml2man.py
  utils/mkhtml.py
Due: utils

style: Fix magic-value-comparison (PLR2004) Ruff rule: https://docs.astral.sh/ruff/rules/magic-value-comparison/
  pyproject.toml
Due: none

style: Fix literal-membership (PLR6201) Ruff rule: https://docs.astral.sh/ruff/rules/literal-membership/
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/iclass/plots.py
  gui/wxpython/iscatt/plots.py
  pyproject.toml
Due: gui

Remaining unsure fixes
  gui/wxpython/dbmgr/base.py
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/rdigit/toolbars.py
  gui/wxpython/wxplot/histogram.py
  gui/wxpython/wxplot/profile.py
  python/grass/gunittest/reporters.py
  python/grass/gunittest/runner.py
  python/grass/imaging/images2gif.py
  python/grass/imaging/images2ims.py
  python/grass/imaging/images2swf.py
  python/grass/pydispatch/dispatcher.py
  python/grass/pygrass/modules/interface/parameter.py
Due: gui, pygrass, gunittest, python library

config.guess + config.sub: updated from http://git.savannah.gnu.org/cgit/config.git/plain/
  config.guess
  config.sub
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
