Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

grass.gunittest: Use context manager for Popen calls in gunittest
  python/grass/gunittest/gmodules.py
  python/grass/gunittest/reporters.py
  python/grass/script/core.py
Due: gunittest, python library

grass.script.core: Use context manager for Popen call in call() function
  python/grass/script/core.py
Due: python library

grass.gunittest: Remove Python2-only `-tt` interpreter option
  python/grass/gunittest/invoker.py
  python/grass/gunittest/multirunner.py
Due: gunittest, python library

grass.pygrass.modules: Use context manager for Popen call in run()
  python/grass/pygrass/modules/interface/module.py
Due: pygrass, python library

grass.gunittest: Solve ResourceWarning in gs.parser() coming from sys.stdout
  python/grass/script/core.py
Due: python library

grass.gunittest: Always consider svn unavailable
  python/grass/gunittest/reporters.py
Due: gunittest, python library

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

gunittest: Make GrassTestRunner stream argument default value None and use sys.stderr if None, like TextTestRunner implementation
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Remove TextTestResult methods that have no changes with unittest's implementation
  python/grass/gunittest/runner.py
Due: gunittest, python library

grass.gunittest: Use TestCase._formatMessage from unittest, changing output format
  python/grass/gunittest/case.py
Due: gunittest, python library

gunittest: Ignore pylint C0103 in TestCase class
  python/grass/gunittest/case.py
Due: gunittest, python library

gunittest: Copy over _SubTest to allow creating derived classes
  python/grass/gunittest/case.py
Due: gunittest, python library

gunittest: Make TestResult classes of runner.py subclasses of grass.gunittest.result.TestResult explicitly
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Prepare GrassTestRunner to match unittest TextTestRunner implementation by adding other parameters
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Remove setting TextTestResult attributes already handled with unittest's implementation
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Apply ruff fixes to _SubTest
  python/grass/gunittest/case.py
Due: gunittest, python library

grass.gunittest: Place TestResult in result.py like Python 3.13
  python/grass/gunittest/Makefile
  python/grass/gunittest/result.py
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Wrap TextTestResult stream with _WritelnDecorator when called by GrassTestProgram to follow unittest's TextTestResult implementation
  python/grass/gunittest/main.py
Due: gunittest, python library

grass.gunittest: Use safe_repr from unittest.util
  python/grass/gunittest/case.py
  python/grass/gunittest/utils.py
Due: gunittest, python library

gunittest: Make TextTestResult derive from grass.gunittest.result.TestResult and unittest.TextTestResult using multiple inheritance
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Prepare GrassTestRunner to match unittest TextTestRunner implementation
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Prepare TextTestResult for multiple inheritance by syncing its implementation with unittest.TextTestResult
  python/grass/gunittest/runner.py
Due: gunittest, python library

grass.gunittest: Prepare gunittest for multiple inheritance by syncing code with unittest implementation from Python 3.9 PR 6200
  python/grass/gunittest/Makefile
  python/grass/gunittest/case.py
  python/grass/gunittest/main.py
  python/grass/gunittest/result.py
  python/grass/gunittest/runner.py
  python/grass/gunittest/utils.py
Due: gunittest, python library

checks: Allow jquery global '$’ parser_standard_options.js
  man/parser_standard_options.js
Due: man

grass.gunittest: Specify encoding to files written in invoker.py
  python/grass/gunittest/invoker.py
Due: gunittest, python library

grass.script: Fix test_append_node_pid test using legalize_vector_name
  python/grass/script/testsuite/test_names.py
Due: python library

grass.gunittest: Specify encoding to files written by GrassTestProgram
  python/grass/gunittest/main.py
Due: gunittest, python library

grass.gunittest: Specify encoding to files written in utils.py
  python/grass/gunittest/utils.py
Due: gunittest, python library

checks: Add actionlint as a manual pre-commit hook
  .pre-commit-config.yaml
Due: none

CQ: Fix new F401 patterns in grass.temporal.core psycopg2 imports
  python/grass/temporal/core.py
Due: python library

wxgui: Remove import wx.aui from gui_core/infobar.py
  gui/wxpython/gui_core/infobar.py
Due: gui

wxgui: Remove unused imports wx.adv and wx.combo when another import occurs
  gui/wxpython/gui_core/widgets.py
Due: gui

wxgui: Remove import wx.aui from lmgr/workspace.py
  gui/wxpython/lmgr/workspace.py
Due: gui

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
