Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

CI(macOS): Delete some extra files before uploading
  .github/workflows/macos.yml
Due: none

Fix file mode for report file opening in coverage script
  utils/prepare-code-coverage-artifact.py
Due: utils

Add restrict to raster folder
  .github/workflows/macos.yml
Due: none

Add encoding to exported file name
  utils/prepare-code-coverage-artifact.py
Due: utils

Add ignore-filename-regex argument for dist folder
  utils/prepare-code-coverage-artifact.py
Due: utils

CI(macOS): Use previous codecov action version
  .github/workflows/macos.yml
Due: none

Change find command to stay on one line
  .github/workflows/macos.yml
Due: none

Remove restriction on folder name
  .github/workflows/macos.yml
Due: none

Do not collect binaries, only dylibs
  .github/workflows/macos.yml
Due: none

Downgrade codecov action to 5.4.0
  .github/workflows/macos.yml
Due: none

Downgrade codecov cli version
  .github/workflows/macos.yml
Due: none

Output lcov format
  .github/workflows/macos.yml
  utils/prepare-code-coverage-artifact.py
Due: utils

Output json format
  .github/workflows/macos.yml
Due: none

Upload both types of files if present
  .github/workflows/macos.yml
Due: none

Upgrade back codecov/codecov-action to 5.4.3
  .github/workflows/macos.yml
Due: none

Remove dist ignore regex
  utils/prepare-code-coverage-artifact.py
Due: utils

Export lcov for executable and dylib
  .github/workflows/macos.yml
Due: none

Only upload lcov file
  .github/workflows/macos.yml
Due: none

Use v10.4.0 codecov-cli version
  .github/workflows/macos.yml
Due: none

Remove old original cov binaries find
  .github/workflows/macos.yml
Due: none

Remove special handling of codecov arguments
  .github/workflows/macos.yml
Due: none

Remove deletion of files
  .github/workflows/macos.yml
Due: none

Reenable gunittest test suite
  .github/workflows/macos.yml
Due: none

Fix warning formatting in docstring
  python/grass/temporal/core.py
Due: python library

Fix lists in field list formatting in docstring
  python/grass/temporal/core.py
  python/grass/temporal/spatio_temporal_relationships.py
Due: python library

Fix warning admonition syntax
  python/grass/pygrass/vector/geometry.py
  python/grass/temporal/core.py
Due: pygrass, python library

Fix note admonition syntax
  python/grass/script/core.py
  python/grass/script/utils.py
Due: python library

Fix todo admonition syntax
  gui/wxpython/nviz/wxnviz.py
Due: gui

Try to only use -object named parameter for export
  utils/prepare-code-coverage-artifact.py
Due: utils

Remove commented-out ignore patterns in script
  utils/prepare-code-coverage-artifact.py
Due: utils

Revert: Try to only use -object named parameter for export
  utils/prepare-code-coverage-artifact.py
Due: utils

CI(macOS): upload code coverage even on failures
  .github/workflows/macos.yml
Due: none

Pin Codecov action version in macos.yml
  .github/workflows/macos.yml
Due: none

Move objects list before other arguments in llvm-cov export call
  utils/prepare-code-coverage-artifact.py
Due: utils

CI(macOS): Use make -j1 to see if mismatched data dissapears
  .github/workflows/macos_install.sh
Due: none

CI(macOS): Use the processid in the profraw files
  .github/workflows/macos.yml
Due: none

CI(cmake): Compile using llvm
  .github/workflows/cmake.yml
Due: none

CMake: Add compiler flags for llvm source code coverage
  CMakeLists.txt
Due: none

CMake: install clang 19 with libomp
  .github/workflows/cmake.yml
Due: none

Remove trailing whitespace
  .github/workflows/macos_install.sh
Due: none
