Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

DEBUG: Update ubuntu.yml add db
  .github/workflows/ubuntu.yml
Due: none

Update ubuntu.yml use slipcover
  .github/workflows/ubuntu.yml
Due: none

Update ubuntu.yml if not cancelled codecov
  .github/workflows/ubuntu.yml
Due: none

Update ubuntu.yml adjust comments
  .github/workflows/ubuntu.yml
Due: none

Update ubuntu.yml slipcover json output
  .github/workflows/ubuntu.yml
Due: none

Update ubuntu.yml slipcover add source
  .github/workflows/ubuntu.yml
Due: none

Update ubuntu.yml slipcover outputfile
  .github/workflows/ubuntu.yml
Due: none

Update ubuntu.yml do not add coverage from py
  .github/workflows/ubuntu.yml
Due: none

Update ubuntu.yml output file name
  .github/workflows/ubuntu.yml
Due: none

Update ubuntu.yml ls -la
  .github/workflows/ubuntu.yml
Due: none

Update ubuntu.yml remove json
  .github/workflows/ubuntu.yml
Due: none

Update ubuntu.yml add more sources
  .github/workflows/ubuntu.yml
Due: none

Update slipcover_to_coverage.py
  utils/slipcover_to_coverage.py
Due: utils

Update ubuntu.yml add source .
  .github/workflows/ubuntu.yml
Due: none

CI(ubuntu): Convert slipcover's output to use coverage.py reporting
  .github/workflows/ubuntu.yml
Due: none

DEBUG: show slipcover.json data
  .github/workflows/ubuntu.yml
Due: none

utils: New script to convert slipcover's output to coverage data file
  utils/slipcover_to_coverage.py
Due: utils

Update ubuntu.yml
  .github/workflows/ubuntu.yml
Due: none

Update ubuntu.yml continue-on-error: true
  .github/workflows/ubuntu.yml
Due: none

Update ubuntu.yml slipcover scripts
  .github/workflows/ubuntu.yml
Due: none

Disable replacing scripts with symbolic links
  .github/workflows/ubuntu.yml
Due: none

CI: Send slipcover source argument as a single comma delimited list
  .github/workflows/ubuntu.yml
Due: none

Add symbolic links to scripts to files with .py extensions
  .github/workflows/ubuntu.yml
Due: none

Fix: SIM115 Use a context manager for opening files in utils/slipcover_to_coverage.py
  utils/slipcover_to_coverage.py
Due: utils

docs(lib): Update parameter descriptions to match function signature and add missing parameter tags
  lib/gis/make_loc.c
  lib/gmath/la.c
  lib/gpde/n_gwflow.c
  lib/gpde/n_les_assemble.c
  lib/imagery/group.c
  lib/imagery/iscatt_structs.c
  lib/imagery/manage_signatures.c
  lib/imagery/sig.c
  lib/imagery/sigset.c
  lib/nviz/map_obj.c
  lib/nviz/render.c
  lib/ogsf/gk.c
  lib/ogsf/gp2.c
  lib/ogsf/gs.c
  lib/ogsf/gs_bm.c
  lib/ogsf/gsd_cplane.c
  lib/ogsf/gsd_objs.c
  lib/ogsf/gv3.c
  lib/ogsf/gvl.c
  lib/ogsf/gvl2.c
  lib/ogsf/gvl_calc.c
  lib/ogsf/gvl_file.c
  lib/proj/get_proj.c
  lib/raster/histogram.c
  lib/raster/quant.c
  lib/raster/quant_rw.c
  lib/raster3d/history.c
  lib/raster3d/mask.c
  lib/raster3d/open2.c
  lib/vector/Vlib/geos_to_wktb.c
  lib/vector/diglib/plus_line.c
  lib/vector/diglib/struct_alloc.c
  lib/vector/neta/timetables.c
  lib/vector/vedit/move.c
Due: lib

CI: Use only one flag for codecov uploads
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
Due: none

CI(ubuntu): Disable placing usercustomize for coverage
  .github/workflows/ubuntu.yml
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

CI: Make slipcover output file absolute
  .github/workflows/ubuntu.yml
Due: none

CI(pytest): Upload test results to Codecov for test analytics
  .github/workflows/pytest.yml
  .github/workflows/pytest_args_ci.txt
  .gitignore
Due: none

CI(macOS): Upload test results to Codecov for test analytics
  .github/workflows/macos.yml
Due: none

CI(OSGeo4W): Upload test results to Codecov for test analytics
  .github/workflows/osgeo4w.yml
Due: none

grass.gunittest: Place TestResult in result.py like Python 3.13
  python/grass/gunittest/Makefile
  python/grass/gunittest/result.py
  python/grass/gunittest/runner.py
Due: gunittest, python library

grass.gunittest: Use safe_repr from unittest.util
  python/grass/gunittest/case.py
  python/grass/gunittest/utils.py
Due: gunittest, python library

grass.gunittest: Use TestCase._formatMessage from unittest, changing output format
  python/grass/gunittest/case.py
Due: gunittest, python library
