Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

fix msvc broken build (works on gcc)
  general/g.proj/main.c
Due: none

msvc: include sys/time.h, strings.h only if available
  lib/iostream/rtimer.cpp
  lib/raster3d/test/test_raster3d_lib.h
Due: lib

missing include unistd.h
  vector/v.in.pdal/main.cpp
Due: none

msvc: include winsock.h for struct timeval
  lib/raster3d/test/test_tools.c
Due: lib

msvc: undef min max and use math.h for math constants
  include/gis.h
  raster/r.sim/simlib/waterglobs.h
Due: none

rename include/grass/gis.h to old name
  include/gis.h
Due: none

missing include
  raster/r.viewshed/statusstructure.cpp
Due: none

PROJ.4 -> PROJ
  cmake/find_scripts/FindPROJ.cmake
Due: none

fix ctypesgen
  cmake/ctypesgen.cmake
  python/grass/CMakeLists.txt
  python/libgrass_interface_generator/CMakeLists.txt
Due: python library

define unistd only if unistd.h is not available
  lib/db/dbmi_base/dirent.c
Due: lib

MSVC: win32 gettimeofday replacement from postgresql
  tools/timer/msvc/gettimeofday.c
Due: none

MSVC does not support VLAs
  imagery/i.landsat.acca/algorithm.c
  imagery/i.landsat.acca/local_proto.h
  imagery/i.landsat.acca/main.c
  lib/imagery/iscatt_core.c
  raster/r.mapcalc/map.c
Due: lib

fix install commands
  gui/images/CMakeLists.txt
Due: gui

Add cmake configure input files
  lib/init/env.sh
  lib/init/license.txt.in
Due: lib

check for GRASS_CONFIG_DIR to load rc and env.sh from it
  lib/init/grass.py
Due: lib

MSVC: missing dirent on MSVC
  lib/db/dbmi_base/msvc/dirent.c
  lib/db/dbmi_base/msvc/dirent.h
Due: lib

Support for MSVC. Use _WIN32 instead of __MINGW32__
  include/grass/gis.h
Due: none

MSVC: add unistd.h
  msvc/unistd.h
Due: none

Avoid use of bare-exception
  gui/wxpython/tools/build_modules_xml.py
Due: gui

MSVC: Fix pointer arithmetic
  lib/raster3d/mask.c
  raster/r.in.lidar/main.c
  raster/r.in.lidar/point_binning.c
Due: lib

fix build gui/icons
  gui/icons/CMakeLists.txt
Due: gui

style: Fix missing-return-type-static-method (ANN205)
  gui/wxpython/gmodeler/model.py
  pyproject.toml
  python/grass/semantic_label/reader.py
  python/grass/temporal/abstract_space_time_dataset.py
  raster/r.what/testsuite/test_r_what.py
  scripts/i.band.library/testsuite/test_i_band_library.py
Due: gui, scripts, python library

pytest: Require pytest 8.2
  pyproject.toml
Due: none

CI(OSGeo4w): Install newer pytest with pip
  .github/workflows/osgeo4w.yml
Due: none

tests: Replace unexpected use of `__import__` function
  raster/r.his/testsuite/test_r_his.py
Due: none

tests: Fix collection errors when importing tests have side effects
  python/grass/script/testsuite/test_script_raster.py
  scripts/r.blend/testsuite/test_r_blend_quoting.py
  scripts/r.grow/testsuite/test_r_grow_quoting.py
  temporal/t.connect/testsuite/test_distr_tgis_db_raster.py
  temporal/t.connect/testsuite/test_distr_tgis_db_raster3d.py
  temporal/t.connect/testsuite/test_distr_tgis_db_vector.py
  temporal/t.rast.export/testsuite/test_rast_export.py
Due: scripts, python library

pytest: allow collecting more test files
  pyproject.toml
Due: none

pytest: Ignore collecting files in `testsuite/data` folders
  pyproject.toml
Due: none

pytest: Ignore running testsuite tests in normal runs
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
Due: none

pytest: Run gunittest-based tests in a separate step in CI
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
Due: none

tests: Use gs.try_remove to delete file names created
  temporal/t.rast.export/testsuite/test_rast_export.py
Due: none

i.signatures test file try init library
  .github/workflows/pytest.yml
  dist.x86_64-pc-linux-gnu/etc/python/grass/lib/gis.py
  imagery/i.signatures/testsuite/test_i_signatures.py
Due: none

Revert "i.signatures test file try init library"
  .github/workflows/pytest.yml
  dist.x86_64-pc-linux-gnu/etc/python/grass/lib/gis.py
  imagery/i.signatures/testsuite/test_i_signatures.py
Due: none

CI(pytest): Fix pytest calls and quoting
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
Due: none

CI(pytest): refactor pytest arguments into a file
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/pytest_args_ci.txt
  .github/workflows/pytest_args_cov.txt
  .github/workflows/pytest_args_gunittest.txt
  .github/workflows/pytest_args_not_parallel.txt
  .github/workflows/pytest_args_parallel.txt
Due: none

fix end of file
  .github/workflows/pytest_args_ci.txt
  .github/workflows/pytest_args_cov.txt
  .github/workflows/pytest_args_not_parallel.txt
  .github/workflows/pytest_args_parallel.txt
Due: none

CI(pytest): Fix parallel args `--numprocesses=auto`
  .github/workflows/pytest_args_parallel.txt
Due: none

pytest: deselect lib/imagery/testsuite/test_imagery_find.py from gunittest
  .github/workflows/pytest_args_gunittest.txt
Due: none

pytest: remove common arg from gunittest args
  .github/workflows/pytest_args_gunittest.txt
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
