Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

style: Fix in-dict-keys (SIM118)
  man/parser_standard_options.py
  python/grass/gunittest/checkers.py
  python/grass/gunittest/invoker.py
  python/grass/pygrass/tests/benchmark.py
  python/grass/pygrass/vector/__init__.py
  python/grass/script/core.py
  python/grass/script/testsuite/test_utils.py
  python/grass/temporal/base.py
  scripts/r.in.srtm/r.in.srtm.py
  scripts/r.in.wms/wms_base.py
  temporal/t.topology/t.topology.py
Due: man, scripts, pygrass, gunittest, python library

pygrass.vector.find: Add more annotations
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/vector_type.py
Due: pygrass, python library

style: Fix in-dict-keys (SIM118)
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/web_services/dialogs.py
  man/build_keywords.py
  man/build_topics.py
  python/grass/pygrass/vector/__init__.py
  python/grass/script/core.py
  python/grass/temporal/temporal_algebra.py
  scripts/r.pack/r.pack.py
  scripts/v.rast.stats/v.rast.stats.py
Due: gui, man, scripts, pygrass, python library

Squashed commit of the following:
  gui/wxpython/tplot/frame.py
Due: gui

DEBUG: Do not fail pylint to run all steps, then rerun pylint with failures
  .github/workflows/python-code-quality.yml
Due: none

DEBUG: pygrass.vector.find: Comment out from __future__ import annotations
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/vector_type.py
Due: pygrass, python library

DEBUG: pygrass.vector.find: Sort imports
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/vector_type.py
Due: pygrass, python library

pygrass.vector.find: Annotate AbstractFinder __init__ to fix pylint useless-parent-delegation / W0246
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

DEBUG: Configure Pyright type checker
  .vscode/settings.json
  pyproject.toml
Due: none

pygrass.vector.find: Add more annotations
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

style: Fix in-dict-keys (SIM118)
  gui/wxpython/animation/provider.py
Due: gui

style: Fix raise-without-from-inside-except (B904)
  gui/wxpython/iscatt/plots.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/raster/category.py
  python/grass/pygrass/rpc/base.py
  python/grass/pygrass/vector/table.py
  python/grass/script/core.py
  python/grass/script/task.py
  python/grass/script/vector.py
  python/grass/semantic_label/reader.py
  python/grass/utils/download.py
  scripts/r.in.wms/wms_cap_parsers.py
Due: gui, scripts, pygrass, python library

DEBUG: pygrass.vector.find place type checking imports globally for sphinx
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

DEBUG: vscode type checking mode
  .vscode/settings.json
Due: none

grass.imaging.images2gif: Fix Pylint using-constant-test
  python/grass/imaging/images2gif.py
Due: python library

pytest timeout
  .github/workflows/python-code-quality.yml
Due: none

grass.jupyter.utils: Fix pylint redefined-variable-type (R0204) of output variable
  python/grass/jupyter/utils.py
  python/grass/script/utils.py
Due: notebooks (jupyter), python library

grass.pygrass.utils: get_raster_for_points typing
  python/grass/pygrass/utils.py
Due: pygrass, python library

grass.script.setup: Replace older subprocess.call with subprocess.run
  python/grass/script/setup.py
Due: python library

Revert "grass.script.setup: Replace older subprocess.call with subprocess.run"
  python/grass/script/setup.py
Due: python library

grass.script.db: Close opened file in db_connection
  python/grass/script/db.py
Due: python library

DEBUG: try bisect on macos
  .github/workflows/check_test_cases.sh
  .github/workflows/macos.yml
Due: none

DEBUG: macos cache env
  .github/workflows/macos.yml
Due: none

DEBUG: macos increased fetch depth
  .github/workflows/macos.yml
Due: none

DEBUG: Copy bisect script out of repo
  .github/workflows/macos.yml
Due: none

DEBUG: Edit run script and call
  .github/workflows/check_test_cases.sh
  .github/workflows/macos.yml
Due: none

DEBUG: Clean between bisect
  .github/workflows/check_test_cases.sh
Due: none

DEBUG: bin bash
  .github/workflows/check_test_cases.sh
Due: none

DEBUG: manual checkout
  .github/workflows/macos.yml
Due: none

DEBUG: manual checkout 693b60c840f471c525000c4819fc26c19d7511be
  .github/workflows/macos.yml
Due: none

DEBUG: manual checkout fb909a789c8b6693f45c462878cf7e68be135f1d
  .github/workflows/macos.yml
Due: none

DEBUG: manual checkout 19d607d818b22053532c5c6c654c8d8ec5430142
  .github/workflows/macos.yml
Due: none

DEBUG: manual checkout 5bc2cf446d4adf5efff84c91fd5be7ff7134961e
  .github/workflows/macos.yml
Due: none

DEBUG: manual checkout 1b4c6096efb6ed348a54775e0ffe090958cee3e9
  .github/workflows/macos.yml
Due: none

DEBUG: manual checkout 9a1c3b7a4db3ae2b974f748fc7374e3f91a9e0e2
  .github/workflows/macos.yml
Due: none

DEBUG: remove commit checkout
  .github/workflows/macos.yml
Due: none

temporal Revert "style: Fix in-dict-keys (SIM118)"
  python/grass/temporal/base.py
Due: python library

style: Fix in-dict-keys (SIM118)
  man/parser_standard_options.py
  python/grass/gunittest/checkers.py
  python/grass/gunittest/invoker.py
  python/grass/pygrass/tests/benchmark.py
  python/grass/pygrass/vector/__init__.py
  python/grass/script/core.py
  python/grass/script/testsuite/test_utils.py
  scripts/r.in.srtm/r.in.srtm.py
  scripts/r.in.wms/wms_base.py
  temporal/t.topology/t.topology.py
Due: man, scripts, pygrass, gunittest, python library
