Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

docs: Fix indent of return of grass.grassdb.read()
  python/grass/grassdb/history.py
Due: python library

docs: Format raised exceptions docstrings and cross-references
  python/grass/app/data.py
  python/grass/experimental/create.py
  python/grass/experimental/mapset.py
  python/grass/gunittest/case.py
  python/grass/gunittest/gmodules.py
  python/grass/gunittest/main.py
  python/grass/jupyter/setup.py
  python/grass/script/core.py
  python/grass/script/task.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/temporal_algebra.py
Due: gunittest, notebooks (jupyter), python library

make: Disable generating .pyc files
  gui/wxpython/Makefile
  include/Make/Python.make
  include/Make/Script.make
  python/grass/app/Makefile
  python/grass/benchmark/Makefile
  python/grass/exceptions/Makefile
  python/grass/experimental/Makefile
  python/grass/grassdb/Makefile
  python/grass/gunittest/Makefile
  python/grass/imaging/Makefile
  python/grass/jupyter/Makefile
  python/grass/pydispatch/Makefile
  python/grass/pygrass/Makefile
  python/grass/pygrass/gis/Makefile
  python/grass/pygrass/messages/Makefile
  python/grass/pygrass/modules/Makefile
  python/grass/pygrass/modules/grid/Makefile
  python/grass/pygrass/modules/interface/Makefile
  python/grass/pygrass/raster/Makefile
  python/grass/pygrass/rpc/Makefile
  python/grass/pygrass/shell/Makefile
  python/grass/pygrass/tests/Makefile
  python/grass/pygrass/vector/Makefile
  python/grass/script/Makefile
  python/grass/semantic_label/Makefile
  python/grass/temporal/Makefile
  python/grass/utils/Makefile
  python/libgrass_interface_generator/Makefile
Due: gui, pygrass, gunittest, notebooks (jupyter), python library

docs: Fix some invalid parameter list generating warnings
  gui/wxpython/iscatt/dialogs.py
  python/grass/jupyter/interactivemap.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/find.py
Due: gui, pygrass, notebooks (jupyter), python library

docs: Do not provide value for sphinx's "today" config option
  python/grass/docs/conf.py
Due: python library

docs: Use crossrefs in docstrings of grass.pygrass.gis.region
  python/grass/pygrass/gis/region.py
Due: pygrass, python library

docs: Add cross-refs to classes, exceptions, functions, etc in grass.script.core docstrings
  python/grass/script/core.py
  python/grass/script/raster3d.py
Due: python library

grass.script.raster: Add typing annotations related to raster_what()
  python/grass/script/raster.py
Due: python library

docs: Use attention admonitions in docstrings of grass.pygrass.gis.region
  python/grass/pygrass/gis/region.py
Due: pygrass, python library

grass.jupyter: Add typing annotations related to query_raster()
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

docs: Resolve ambiguous references to types or functions generating warnings
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/find.py
  python/grass/script/raster.py
Due: pygrass, python library

docs: Ignore auto-generated .rst files for python lib docs
  .gitignore
Due: none

docs: Fix typos in described parameter not matching the signature
  python/grass/script/core.py
  python/grass/temporal/base.py
Due: python library

docs: Escape parameters ending with underscores in docstrings
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/vector/geometry.py
  python/grass/script/utils.py
  python/grass/temporal/stds_export.py
Due: pygrass, python library

docs: Add LineDist return type in docstring of grass.pygrass.vector.geometry.Line.distance()
  python/grass/pygrass/vector/geometry.py
Due: pygrass, python library

docs: Add or remove parameters in docstrings that don't belong to the functions in grass.temporal
  python/grass/temporal/core.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_raster_base_algebra.py
Due: python library

docs: Try to use sphinx-immaterial theme, closer to upstream mkdocs-material theme
  python/grass/docs/README.md
  python/grass/docs/_static/pygrass.css
  python/grass/docs/_templates/header.html
  python/grass/docs/conf.py
  python/grass/docs/requirements.txt
Due: python library

mkdocs: Enhance tooltips message of social icons
  man/mkdocs/mkdocs.yml
Due: man

docs: Remove contradicting type in param list of python/grass/script/utils.py
  python/grass/script/utils.py
Due: python library

Try to use conf.py from sphinx immaterial to debug issues
  python/grass/docs/conf.py
Due: python library

docs: Fix note syntax in grass.jupyter.interactivemap.InteractiveMap.add_raster()
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

docs: Fill in docstring for grass.script.utils.text_to_string()
  python/grass/script/utils.py
Due: python library

CI(docs): Rename job that build docs
  .github/workflows/documentation.yml
Due: none

CI(docs): Stub of deploy docs job
  .github/workflows/documentation.yml
Due: none

docs: Fix ambiguity in ScriptError reference in grass.script.core
  python/grass/script/core.py
Due: python library

docs: Add cross-refs to RegionManager docstrings
  python/grass/script/raster.py
Due: python library

docs: Configure intersphinx to reference Python's and NumPy's docs 5861
  python/grass/app/data.py
  python/grass/docs/conf.py
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/setup.py
Due: python library

docs: crossrefs
  python/grass/pygrass/gis/region.py
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
Due: pygrass, python library

docs: Fix param syntax of grass.script.core
  python/grass/script/core.py
Due: python library

docs: Render sphinx docs with the same order as the source code to help compare
  python/grass/docs/conf.py
Due: python library

docs: Exclude files from apidoc that can't be imported
  python/grass/docs/Makefile
Due: python library

mkdocs: Disable CSS text-transform capitalization as it changes the API docs case
  man/mkdocs/grassdocs.css
  python/grass/docs/_static/pygrass.css
Due: man, python library

docs: Place module contents before submodules for pydispatch
  python/grass/docs/Makefile
Due: python library

docs: Enable duration sphinx extension
  python/grass/docs/conf.py
Due: python library

docs: Use double backticks for inline code style in grass.script.core
  python/grass/script/core.py
Due: python library
