Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

xml: Fix codespell typos (co-ordinate → coordinate)
  .pre-commit-config.yaml
  gui/wxpython/core/testsuite/data/test_toolboxes_menudata_ref.xml
  gui/wxpython/xml/wxgui_items.xml
Due: gui

Apply suggestion from @echoix
  ps/ps.map/README
Due: ps

TEMP: Fish for order-dependent gunittest failures via random order
  .github/workflows/osgeo4w.yml
Due: none

grass.gunittest: Add opt-in random test discovery order
  python/grass/gunittest/loader.py
Due: gunittest, python library

CI: Revert fishing-only scaffolding, enable random gunittest order
  .github/workflows/osgeo4w.yml
Due: none

grass.pygrass: Close RasterRow via context manager in region tests
  python/grass/pygrass/raster/testsuite/test_raster_region.py
Due: pygrass, python library

grass.pygrass: Mark test_raster_region resampling tests xfail on Windows
  python/grass/pygrass/raster/testsuite/test_raster_region.py
Due: pygrass, python library

Apply suggested fix to docker/debian/Dockerfile from Copilot Autofix
  docker/debian/Dockerfile
Due: none

Apply suggested fix to gui/wxpython/lmgr/layertree.py from Copilot Autofix
  gui/wxpython/lmgr/layertree.py
Due: gui

Apply suggested fix to temporal/t.vect.import/tests/t_vect_import_test.py from Copilot Autofix
  temporal/t.vect.import/tests/t_vect_import_test.py
Due: none

Apply suggested fix to python/grass/temporal/metadata.py from Copilot Autofix
  python/grass/temporal/metadata.py
Due: python library

Apply suggested fix to scripts/r.in.wms/wms_cap_parsers.py from Copilot Autofix
  scripts/r.in.wms/wms_cap_parsers.py
Due: scripts

Apply suggested fix to scripts/d.correlate/tests/d_correlate_test.py from Copilot Autofix
  scripts/d.correlate/tests/d_correlate_test.py
Due: scripts

Fix for File is not always closed
  scripts/r.in.wms/wms_gdal_drv.py
Due: scripts

Fix for File is not always closed
  scripts/i.oif/i.oif.py
Due: scripts

Update scripts/m.proj/m.proj.py
  scripts/m.proj/m.proj.py
Due: scripts

Potential fix for code scanning alert no. 467: Uncontrolled format string
  raster/r.what.color/main.c
Due: none

Fix for File is not always closed
  scripts/v.import/v.import.py
Due: scripts

lib/raster3d: Add test for Rast3d_write_tile tile index bounds check
  lib/raster3d/tests/lib_raster3d_tilewrite_test.py
Due: lib

Apply suggested fix to lib/raster3d/tilewrite.c from Copilot Autofix
  lib/raster3d/tilewrite.c
Due: lib

Apply suggested fix to lib/cairodriver/draw_bitmap.c from Copilot Autofix
  lib/cairodriver/draw_bitmap.c
Due: lib

CI(deps): Update pre-commit hook editorconfig-checker to v3.11.3
  .editorconfig
  .pre-commit-config.yaml
Due: none

editorconfig: Mark files with stray control bytes as charset unset
  .editorconfig
Due: none

lib/init: Note OSGeo4W's versioned launcher name isn't handled
  lib/init/testsuite/test_grass_tmp_mapset.py
Due: lib

temporal: Avoid PLY debug-mode overhead in raster algebra gunittest
  python/grass/temporal/testsuite/unittests_temporal_raster_algebra.py
Due: python library

checks: Mark justified partial-path subprocess calls as nosec B607 (#7713)
  locale/grass_po_stats.py
  python/grass/gunittest/reporters.py
  scripts/g.manual/g.manual.py
  utils/coverage_mapper.py
  utils/generate_last_commit_file.py
  utils/generate_release_notes.py
  utils/md_isvalid.py
  utils/mkdocs.py
Due: utils, scripts, gunittest, python library

CI: Enable XML in codespell and fix typos- #685 (#7900)
  .pre-commit-config.yaml
  gui/wxpython/core/testsuite/data/test_toolboxes_menudata_ref.xml
  gui/wxpython/xml/wxgui_items.xml
  pyproject.toml
Due: gui

windows: Fix two Windows-only gunittest failures (#7895)
  lib/init/testsuite/test_grass_tmp_mapset.py
  scripts/db.univar/db.univar.py
Due: scripts, lib

grass.pygrass: Close RasterRow via context manager in region tests (#7902)
  python/grass/pygrass/raster/testsuite/test_raster_region.py
Due: pygrass, python library

lib/raster3d/tilewrite: Use `>=` for tile index bounds check (#7723)
  lib/raster3d/tests/lib_raster3d_tilewrite_test.py
  lib/raster3d/tilewrite.c
Due: lib

r.kappa: Avoid reopening NamedTemporaryFile on Windows in testsuite
  raster/r.kappa/testsuite/test_r_kappa.py
Due: none

r.kappa: Revert testsuite fix, split into standalone PR #694
  raster/r.kappa/testsuite/test_r_kappa.py
Due: none

CI: Run Windows pytest suite with xdist and randomized order
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Add zizmor misfeature suppression to coverage fixup step
  .github/workflows/osgeo4w.yml
Due: none

Update grass_pygrass_grid_test.py
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library
