Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

gui.wxpython.nviz: Move ctypes and grass.lib imports below normal imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz: numpy import can safely be below
  gui/wxpython/nviz/wxnviz.py
Due: gui

DEBUG: format pyproject.toml
  pyproject.toml
Due: none

CI: Run Pylint on all project with source-roots configuration and ignore-paths
  .github/workflows/python-code-quality.yml
Due: none

CQ: Set pylint source-roots and ignore-paths
  pyproject.toml
Due: none

gui: Add typing for layer manager lmgr argument
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/nviz/mapwindow.py
Due: gui

style: Partial isort sorting
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui: Add typing for layer manager lmgr argument when using single window
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz: Set render flags dicts as a TypedDict
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.core.utils: PIL.Image and wx.Image type annotations
  gui/wxpython/core/utils.py
Due: gui

gui.wxpython.gui_core.wrap: wx.Rect and other type annotations
  gui/wxpython/gui_core/wrap.py
Due: gui

gui.wxpython.gui_core.wrap: wx.Image and wx.Bitmap type annotations
  gui/wxpython/gui_core/wrap.py
Due: gui

grass.script.utils: Add type hints to some functions
  python/grass/script/utils.py
Due: python library

gui.wxpython.nviz.mapwindow: Light typing annotations
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz: Sort remaining imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz: Make GLWindow.ZoomToMap()'s layer argument optional
  gui/wxpython/nviz/mapwindow.py
Due: gui

Fix typo of BufferedMapWindow in gui/wxpython/mapdisp/test_mapdisp.py
  gui/wxpython/mapdisp/test_mapdisp.py
Due: gui

gui.wxpython.nviz.mapwindow: GetContentScaleFactor() typing annotations
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.core.gcmd: Add typing and overloads for EncodeString and DecodeString
  gui/wxpython/core/gcmd.py
Due: gui

gui: isort mapswipe.mapwindow imports
  gui/wxpython/mapswipe/mapwindow.py
Due: gui

gui.wxpython.mapswipe.mapwindow: Add type hints related to wx.Size
  gui/wxpython/mapswipe/mapwindow.py
Due: gui

gui.wxpython.nviz.wxnviz: Add simple type hints not needing any imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

DEBUG: Reorder old root pylintrc file
  .pylintrc.old
Due: none

CQ: Port root pylint config to pyproject.toml
  pyproject.toml
Due: none

DEBUG: Readd old pylintrc files
  gui/wxpython/.pylintrc.old3
  python/.pylintrc.old2
  utils/pylintrc.txt.old4
Due: gui, utils

CQ: Create default pylint config in pyproject.toml
  .pylintrc
  gui/wxpython/.pylintrc
  pyproject.toml
  python/.pylintrc
  utils/pylintrc.txt
Due: gui, utils

DEBUG: Configure Pyright type checker
  .vscode/settings.json
  pyproject.toml
Due: none

CQ: Set pylint ignore-paths to ignore libgrass_interface_generator and OBJ.* folders, and ignore Makefiles
  pyproject.toml
Due: none

grass.script: Ignore signature-differs pylint warning in array.py
  python/grass/script/array.py
Due: python library

CI(pylint): Update versions in workflow
  .github/workflows/python-code-quality.yml
Due: none

grass.imaging.images2gif: Fix Pylint using-constant-test
  python/grass/imaging/images2gif.py
Due: python library
