Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

CI: Move addons checkout earlier when running in parallel
  .github/workflows/documentation.yml
Due: none

CI: enable LLVM source-based C/C++ coverage on macOS and Linux pytest
  .github/workflows/apt.txt
  .github/workflows/build_ubuntu-24.04.sh
  .github/workflows/macos.yml
  .github/workflows/macos_install.sh
  .github/workflows/pytest.yml
  utils/coverage_disk_usage.sh
  utils/llvm_coverage_export.sh
Due: utils

CI: gitignore LLVM coverage artifacts and wipe build-time profraw
  .github/workflows/macos.yml
  .github/workflows/pytest.yml
  .gitignore
Due: none

CI: fix LLVM coverage non-determinism in OpenMP-parallel regions
  .github/workflows/build_ubuntu-24.04.sh
  .github/workflows/macos_install.sh
  utils/llvm_coverage_export.sh
Due: utils

CI: drop -O0 -g from LLVM coverage build; keep -O2
  .github/workflows/build_ubuntu-24.04.sh
  .github/workflows/macos_install.sh
Due: none

CI: point configure at clang's omp.h when coverage build uses clang
  .github/workflows/apt.txt
  .github/workflows/build_ubuntu-24.04.sh
  .github/workflows/pytest.yml
Due: none

CI: point configure at clang's libomp path so tools link with -lomp
  .github/workflows/build_ubuntu-24.04.sh
Due: none

CI: install clang/llvm/libomp only when LLVM coverage is on
  .github/workflows/apt.txt
  .github/workflows/pytest.yml
Due: none

CI: only run LLVM C coverage on the latest Python matrix cell
  .github/workflows/pytest.yml
Due: none

CI: fix llvm-profdata "Argument list too long" in coverage export
  utils/llvm_coverage_export.sh
Due: utils

CI: skip gpg validation for macOS coverage Codecov uploads
  .github/workflows/macos.yml
Due: none

CI: prototype SanitizerCoverage as an alternative to LLVM source-based coverage
  .github/workflows/build_ubuntu-24.04.sh
  .github/workflows/cmake.yml
  .github/workflows/pytest.yml
  .gitignore
  CMakeLists.txt
  utils/sancov_runtime.c
  utils/sancov_symbolize.py
Due: utils

CI: disambiguate pytest.yml artifact/Codecov names across coverage cells
  .github/workflows/pytest.yml
Due: none

utils/sancov_runtime.c: resolve bare main-executable paths via /proc/self/exe
  utils/sancov_runtime.c
Due: utils

CI: fix pytest.yml matrix producing zero job instances
  .github/workflows/pytest.yml
Due: none

CI: fix pytest.yml concurrency group cancelling sibling coverage cells
  .github/workflows/pytest.yml
Due: none

doc: add SanitizerCoverage coverage experiment report (draft)
  doc/development/sancov_coverage_experiment.md
Due: none

CI: fix missing -lm under mold breaking sancov-clang link, keep coverage cells independent
  .github/workflows/build_ubuntu-24.04.sh
  .github/workflows/pytest.yml
Due: none

utils/sancov_symbolize.py: skip modules that no longer exist
  utils/sancov_symbolize.py
Due: utils

doc: finalize SanitizerCoverage experiment report with real CI numbers
  doc/development/sancov_coverage_experiment.md
Due: none

pytest: Run g.html2man testsuite test with pytest
  .github/workflows/macos.yml
  .github/workflows/pytest.yml
  .github/workflows/pytest_args_gunittest.txt
  .gunittest.cfg
Due: none

CI: fix lint failures on the SanitizerCoverage experiment branch
  .github/workflows/cmake.yml
  CMakeLists.txt
  doc/development/sancov_coverage_experiment.md
  utils/sancov_runtime.c
  utils/sancov_symbolize.py
Due: utils

CMakeLists: fix g.extension addon build under WITH_SANCOV_COVERAGE
  GRASSConfig.cmake.in
  doc/development/sancov_coverage_experiment.md
Due: none

utils/sancov_symbolize.py: use a set literal for the membership test
  utils/sancov_symbolize.py
Due: utils

grass.gunittest: Preserve exact bytes in MD5 test fixtures
  python/grass/gunittest/testsuite/test_assertions.py
  python/grass/gunittest/testsuite/test_checkers.py
Due: gunittest, python library

grass.gunittest: Remove @xfail_windows now made obsolete by newline fix
  python/grass/gunittest/testsuite/test_assertions.py
  python/grass/gunittest/testsuite/test_checkers.py
Due: gunittest, python library

CI: Add opt-in LLVM source-based C/C++ coverage to pytest workflow
  .github/workflows/build_ubuntu-24.04.sh
  .github/workflows/pytest.yml
  .gitignore
  utils/coverage_disk_usage.sh
  utils/llvm_coverage_export.sh
Due: utils

CI: Document local usage of llvm_coverage_export.sh
  utils/llvm_coverage_export.sh
Due: utils

r.kappa: Avoid reopening NamedTemporaryFile on Windows in testsuite
  raster/r.kappa/testsuite/test_r_kappa.py
Due: none

CI: Run Windows pytest suite with xdist and randomized order
  .github/workflows/osgeo4w.yml
Due: none

TEMP: Add manual-dispatch workflow for parallel randomized Windows runs
  .github/workflows/TEMP-windows-xdist-fishing.yml
Due: none

TEMP: Enable manual dispatch with 15 parallel fishing attempts
  .github/workflows/TEMP-windows-xdist-fishing.yml
  .github/workflows/osgeo4w.yml
Due: none

TEMP: Skip PATH priming before pytest on the fishing dispatch
  .github/workflows/osgeo4w.yml
Due: none

Fix typos and configure codespell
  gui/xml/grass-interface.dtd
  include/grass/iostream/pqheap.h
  lib/cdhc/doc/goodness.tex
  ps/ps.map/README
  python/grass/docs/_templates/header.html
  python/grass/tools/session_tools.py
  raster/r.what/testsuite/test_r_what.py
Due: gui, ps, lib, python library

Fix markdown and HTML typos
  .pre-commit-config.yaml
  doc/development/style_guide.md
  doc/interfaces_overview.md
  doc/jupyter_intro.md
  doc/python_intro.md
  general/g.proj/g.proj.html
  general/g.proj/g.proj.md
  general/g.setproj/g.setproj.html
  general/g.setproj/g.setproj.md
  imagery/i.cluster/i.cluster.html
  imagery/i.cluster/i.cluster.md
  imagery/i.smap/i.smap.html
  imagery/i.smap/i.smap.md
  misc/m.cogo/m.cogo.html
  misc/m.cogo/m.cogo.md
  mswindows/external/rbatch/README.html
  mswindows/external/rbatch/README.md
  mswindows/external/rbatch/batchfiles.md
  pyproject.toml
  python/grass/docs/README.md
  raster/r.mapcalc/r.mapcalc.md
  raster/r.neighbors/r.neighbors.html
  raster/r.neighbors/r.neighbors.md
  raster/r.out.gdal/r.out.gdal.md
  raster/r.out.vtk/r.out.vtk.html
  raster/r.out.vtk/r.out.vtk.md
  raster/r.proj/r.proj.html
  raster/r.proj/r.proj.md
  raster/r.smooth.edgepreserve/r.smooth.edgepreserve.md
  raster/r.viewshed/r.viewshed.html
  raster/r.viewshed/r.viewshed.md
  scripts/m.proj/m.proj.html
  scripts/m.proj/m.proj.md
  scripts/v.dissolve/v.dissolve.html
  scripts/v.dissolve/v.dissolve.md
  vector/v.generalize/v.generalize.html
  vector/v.generalize/v.generalize.md
  vector/v.proj/v.proj.md
  vector/vectorintro.html
  vector/vectorintro.md
Due: scripts, python library
