Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

Squashed commit of the following: style: Fix unnecessary-dunder-call (PLC2801)
  gui/wxpython/gcp/manager.py
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/tplot/frame.py
  pyproject.toml
  python/grass/gunittest/utils.py
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/modules/interface/typedict.py
  python/grass/pygrass/raster/abstract.py
  python/grass/pygrass/raster/category.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/table.py
  python/grass/pygrass/vector/testsuite/test_geometry_attrs.py
Due: gui, pygrass, gunittest, python library

grass.pygrass.utils: get_raster_for_points typing
  python/grass/pygrass/utils.py
Due: pygrass, python library

pytest timeout
  .github/workflows/python-code-quality.yml
Due: none

style: Fix in-dict-keys (SIM118)
  man/parser_standard_options.py
  python/grass/gunittest/checkers.py
  python/grass/gunittest/invoker.py
  python/grass/pygrass/tests/benchmark.py
  python/grass/pygrass/vector/__init__.py
  python/grass/script/core.py
  python/grass/script/testsuite/test_utils.py
  python/grass/temporal/base.py
  scripts/r.in.srtm/r.in.srtm.py
  scripts/r.in.wms/wms_base.py
  temporal/t.topology/t.topology.py
Due: man, scripts, pygrass, gunittest, python library

grass.imaging.images2gif: Fix Pylint using-constant-test
  python/grass/imaging/images2gif.py
Due: python library

grass.jupyter.utils: Fix pylint redefined-variable-type (R0204) of output variable
  python/grass/jupyter/utils.py
  python/grass/script/utils.py
Due: notebooks (jupyter), python library

CI(ubuntu): Set INITIAL_PWD env var as export instead of inline
  .github/workflows/ubuntu.yml
Due: none

CI(ubuntu): Add COVERAGE_RCFILE env for subprocess
  .github/workflows/ubuntu.yml
Due: none

CI(ubuntu): Configure python coverage for subprocesses
  .github/workflows/ubuntu.yml
Due: none

CI(ubuntu): Create a tag for artifact uploads with length limit for a matrix combination
  .github/workflows/ubuntu.yml
Due: none

CI(ubuntu): Ignore testreport folders from code coverage
  .coveragerc
Due: none

CI: Allow replacing python3 interpreter in test_thorough.sh script
  .github/workflows/test_thorough.sh
Due: none

style: Fix lines too long in ubuntu.yml workflow
  .github/workflows/ubuntu.yml
Due: none

CI(ubuntu): Enable python code coverage for gunittest-based tests
  .github/workflows/ubuntu.yml
Due: none

Remove "Set COVERAGE_PROCESS_START env variable" step
  .github/workflows/ubuntu.yml
Due: none

CI(Ubuntu): Use ${{ !cancelled() }} as step condition to allow cancelling
  .github/workflows/ubuntu.yml
Due: none

CI(ubuntu): Un-ignore testreport folders
  .coveragerc
Due: none

Update ubuntu.yml
  .github/workflows/ubuntu.yml
Due: none

Revert "CI(ubuntu): Un-ignore testreport folders"
  .coveragerc
Due: none

Revert "CI(ubuntu): Set INITIAL_PWD env var as export instead of inline"
  .github/workflows/ubuntu.yml
Due: none

Remove unused setting of coverage env var in test step
  .github/workflows/ubuntu.yml
Due: none

CI(macOS): Enable code coverage for gunittest-based tests
  .github/workflows/macos.yml
  .github/workflows/macos_dependencies.txt
Due: none

CI(macOS): Generate JSON report
  .github/workflows/macos.yml
Due: none

CI(pytest): Run pytest tests with Python 3.13
  .github/workflows/pytest.yml
Due: none

CI(pytest): Set PYTHONWARNINGS=always
  .github/workflows/pytest.yml
Due: none

CI: Update PYTHONWARNINGS value to 'error' in GitHub workflows
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
  .github/workflows/ubuntu.yml
Due: none

DEBUG: Reorder old root pylintrc file
  .pylintrc.old
Due: none

DEBUG: Readd old pylintrc files
  gui/wxpython/.pylintrc.old3
  python/.pylintrc.old2
  utils/pylintrc.txt.old4
Due: gui, utils

style: Fixes unnecessary-collection-call (C408) for empty collections on ctypesgen
  python/libgrass_interface_generator/ctypesgen/ctypedescs.py
  python/libgrass_interface_generator/ctypesgen/parser/cdeclarations.py
Due: none

CI(pylint): Update versions in workflow
  .github/workflows/python-code-quality.yml
Due: none

CQ: Disable pylint plugin bad_builtin
  pyproject.toml
Due: none

grass.script: Ignore signature-differs pylint warning in array.py
  python/grass/script/array.py
Due: python library

style: Change misplaced docstring to comment in pygrass/rpc/__init__.py
  python/grass/pygrass/rpc/__init__.py
Due: pygrass, python library

CQ: Port root pylint config to pyproject.toml
  pyproject.toml
Due: none

style: Fix unreliable-callable-check (B004)
  pyproject.toml
  python/grass/pydispatch/robustapply.py
  python/grass/pydispatch/saferef.py
Due: python library

DEBUG: VSCode python settings
  .vscode/settings.json
Due: none

CQ: Enable pylint plugins redefined_variable_type and bad_builtin
  pyproject.toml
Due: none

CQ: Create default pylint config in pyproject.toml
  .pylintrc
  gui/wxpython/.pylintrc
  pyproject.toml
  python/.pylintrc
  utils/pylintrc.txt
Due: gui, utils
