Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

Rename GRASS GIS to GRASS in macOS packaging files
  macos/ReadMe.md
  macos/build_grass_app.bash
  macos/files/configure-grass.sh
  macos/files/grass.sh.in
Due: none

chore: Rename GRASS GIS to GRASS in raster3d/
  raster3d/raster3dintro.html
Due: none

Rename GRASS GIS to GRASS in `*.sh` scripts
  mswindows/crosscompile.sh
  mswindows/osgeo4w/build_osgeo4w.sh
  raster/r.mapcalc/testsuite/const_map_test.sh
  temporal/run_all_tests.sh
  testsuite/raster_md5test.sh
  utils/fix_typos.sh
  utils/grass_clang_format.sh
  utils/module_synopsis.sh
  utils/symbol_to_img.sh
Due: utils

chore: Rename GRASS GIS to GRASS in temporal/
  temporal/t.rast.extract/t.rast.extract.html
  temporal/t.rast.extract/t.rast.extract.md
  temporal/t.rast.series/t.rast.series.html
  temporal/t.rast.series/t.rast.series.md
  temporal/t.register/t.register.html
  temporal/t.register/t.register.md
  temporal/t.vect.export/t.vect.export.py
  temporal/t.vect.import/t.vect.import.py
  temporal/t.vect.observe.strds/t.vect.observe.strds.html
  temporal/t.vect.observe.strds/t.vect.observe.strds.md
Due: none

chore: Rename GRASS GIS to GRASS in utils/
  utils/generate_release_notes.py
  utils/merge_sitemaps.py
  utils/mkdocs.py
  utils/mkhtml.py
  utils/mkmarkdown.py
  utils/update_version.py
Due: utils

Rename GRASS GIS to GRASS in html doc
  doc/examples/raster/r.example/r.example.html
  doc/grass_database.html
  doc/projectionintro.html
Due: none

chore: Rename GRASS GIS to GRASS in testsuite/
  testsuite/README.md
Due: none

chore: Rename GRASS GIS to GRASS in scripts/
  scripts/db.out.ogr/db.out.ogr.html
  scripts/db.out.ogr/db.out.ogr.md
  scripts/g.download.project/g.download.project.html
  scripts/g.download.project/g.download.project.md
  scripts/g.extension.all/g.extension.all.py
  scripts/g.extension/g.extension.html
  scripts/g.extension/g.extension.md
  scripts/g.extension/g.extension.py
  scripts/g.search.modules/g.search.modules.html
  scripts/g.search.modules/g.search.modules.md
  scripts/i.band.library/i.band.library.html
  scripts/i.band.library/i.band.library.md
  scripts/i.colors.enhance/testsuite/test_i_colors_enhance.py
  scripts/i.image.mosaic/i.image.mosaic.html
  scripts/i.image.mosaic/i.image.mosaic.md
  scripts/r.pack/r.pack.html
  scripts/r.pack/r.pack.md
  scripts/r.pack/r.pack.py
  scripts/r.unpack/r.unpack.py
  scripts/v.centroids/v.centroids.html
  scripts/v.centroids/v.centroids.md
  scripts/v.db.update/v.db.update.html
  scripts/v.db.update/v.db.update.md
  scripts/v.dissolve/v.dissolve.py
  scripts/v.dissolve/v_dissolve.ipynb
  scripts/v.pack/v.pack.py
  scripts/v.unpack/v.unpack.py
  scripts/windows_sh_launch.bat
Due: scripts, notebooks (jupyter)

Rename GRASS GIS to GRASS in manual generation python script files
  man/build_class_rest.py
  man/build_full_index_rest.py
  man/build_html.py
  man/build_index_rest.py
  man/build_rest.py
  python/grass/docs/conf.py
  utils/g.html2man/ggroff.py
Due: man, utils, python library

Rename GRASS GIS to GRASS in Singularity files
  singularity/debian/README_debian.md
  singularity/debian/singularityfile_debian
Due: none

chore: Rename GRASS GIS to GRASS in display/
  display/d.legend.vect/d.legend.vect.html
  display/d.legend.vect/d.legend.vect.md
  display/d.linegraph/d.linegraph.html
  display/d.linegraph/d.linegraph.md
Due: none

Rename GRASS GIS to GRASS in mswindows or OSGeo4W files. Excludes potentially breaking renames for now
  mswindows/GRASS-Installer.nsi.tmpl
  mswindows/osgeo4w/grass.bat.tmpl
  mswindows/osgeo4w/libpng-config
  mswindows/osgeo4w/setup.hint.tmpl
Due: none

chore: Rename GRASS GIS to GRASS in vector/
  vector/v.build.polylines/tests/test_v_build_polylines.py
  vector/v.build/v.build.html
  vector/v.build/v.build.md
  vector/v.class/tests/test_v_class.py
  vector/v.hull/testsuite/test_v_hull.py
  vector/v.in.db/v.in.db.html
  vector/v.in.db/v.in.db.md
  vector/v.in.ogr/v.in.ogr.html
  vector/v.in.ogr/v.in.ogr.md
  vector/v.kernel/v.kernel.html
  vector/v.kernel/v.kernel.md
  vector/v.mkgrid/v.mkgrid.html
  vector/v.mkgrid/v.mkgrid.md
  vector/v.net.bridge/v.net.bridge.html
  vector/v.net.bridge/v.net.bridge.md
  vector/v.net/v.net.html
  vector/v.net/v.net.md
  vector/v.out.postgis/v.out.postgis.html
  vector/v.out.postgis/v.out.postgis.md
  vector/v.profile/main.c
  vector/v.profile/v.profile.html
  vector/v.profile/v.profile.md
  vector/v.random/v.random.html
  vector/v.random/v.random.md
  vector/v.support/v.support.html
  vector/v.support/v.support.md
  vector/v.surf.bspline/v.surf.bspline.html
  vector/v.surf.bspline/v.surf.bspline.md
  vector/v.surf.idw/v.surf.idw.html
  vector/v.surf.idw/v.surf.idw.md
  vector/v.surf.rst/main.c
  vector/v.surf.rst/v.surf.rst.html
  vector/v.surf.rst/v.surf.rst.md
  vector/v.type/v.type.html
  vector/v.type/v.type.md
  vector/v.vol.rst/v.vol.rst.html
  vector/v.vol.rst/v.vol.rst.md
  vector/vectorintro.html
  vector/vectorintro.md
Due: none

chore: Rename GRASS GIS to GRASS in include/
  include/grass/gmath.h
  include/grass/la.h
Due: none

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

grass.gunittest: Place TestResult in result.py like Python 3.13
  python/grass/gunittest/Makefile
  python/grass/gunittest/result.py
  python/grass/gunittest/runner.py
Due: gunittest, python library

grass.gunittest: Use TestCase._formatMessage from unittest, changing output format
  python/grass/gunittest/case.py
Due: gunittest, python library

grass.gunittest: Use safe_repr from unittest.util
  python/grass/gunittest/case.py
  python/grass/gunittest/utils.py
Due: gunittest, python library

gunittest: Copy over _SubTest to allow creating derived classes
  python/grass/gunittest/case.py
Due: gunittest, python library

gunittest: Apply ruff fixes to _SubTest
  python/grass/gunittest/case.py
Due: gunittest, python library

gunittest: Ignore pylint C0103 in TestCase class
  python/grass/gunittest/case.py
Due: gunittest, python library

gunittest: Make TestResult classes of runner.py subclasses of grass.gunittest.result.TestResult explicitly
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Prepare TextTestResult for multiple inheritance by syncing its implementation with unittest.TextTestResult
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Wrap TextTestResult stream with _WritelnDecorator when called by GrassTestProgram to follow unittest's TextTestResult implementation
  python/grass/gunittest/main.py
Due: gunittest, python library

gunittest: Make TextTestResult derive from grass.gunittest.result.TestResult and unittest.TextTestResult using multiple inheritance
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Remove TextTestResult methods that have no changes with unittest's implementation
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Remove setting TextTestResult attributes already handled with unittest's implementation
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Make GrassTestRunner stream argument default value None and use sys.stderr if None, like TextTestRunner implementation
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Prepare GrassTestRunner to match unittest TextTestRunner implementation by adding other parameters
  python/grass/gunittest/runner.py
Due: gunittest, python library

gunittest: Prepare GrassTestRunner to match unittest TextTestRunner implementation
  python/grass/gunittest/runner.py
Due: gunittest, python library

v.db.addtable: Use context manager for devnull to solve ResourceWarning
  scripts/v.db.addtable/v.db.addtable.py
Due: scripts
