Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

grass.temporal: Annotate abstract and concrete classes with generic types
  python/grass/temporal/_typing.py
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/metadata.py
  python/grass/temporal/space_time_datasets.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/temporal_extent.py
Due: python library

grass.temporal: Apply ruff suggestions
  python/grass/temporal/_typing.py
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/metadata.py
  python/grass/temporal/space_time_datasets.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/temporal_extent.py
Due: python library

grass.temporal: Adjust generic typing for RasterMetadataBase classes
  python/grass/temporal/_typing.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/metadata.py
  python/grass/temporal/space_time_datasets.py
Due: python library

grass.temporal: Fix Flake8 line too long
  python/grass/temporal/_typing.py
  python/grass/temporal/space_time_datasets.py
Due: python library

grass.temporal: Add typing for stds_register
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/base.py
Due: python library

Add _typing module to Makefile MODULES list
  python/grass/temporal/Makefile
Due: python library

grass.temporal.metadata: Add typing for some __init__
  python/grass/temporal/metadata.py
Due: python library

grass.temporal: Other typing trials
  python/grass/temporal/_typing.py
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/temporal_extent.py
Due: python library

grass.temporal: apply ruff fixes
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/temporal_extent.py
Due: python library

grass.temporal.abstract_map_dataset: Add typing annotations for split_name
  python/grass/temporal/abstract_map_dataset.py
Due: python library

grass.temporal.datetime_math: Add typing annotations for other methods
  python/grass/temporal/datetime_math.py
Due: python library

gui.wxpython.tplot.frame: Fix typo in TplotFrame SetDatasets docstring
  gui/wxpython/tplot/frame.py
Due: gui

grass.temporal.base: Replace str.find() with faster "in" check
  python/grass/temporal/base.py
Due: python library

gui.wxpython.tplot.frame: Join implicit string concatenation
  gui/wxpython/tplot/frame.py
Due: gui

grass.temporal.datetime_math: Add typing annotations to conversion functions
  python/grass/temporal/datetime_math.py
Due: python library

grass.temporal.mapcalc: Replace str.find() with faster "in" check
  python/grass/temporal/mapcalc.py
Due: python library

grass.temporal.abstract_map_dataset: Replace str.find() with faster "in" check
  python/grass/temporal/abstract_map_dataset.py
Due: python library

gui.wxpython.animation.utils: Replace str.find() with faster "in" check
  gui/wxpython/animation/utils.py
Due: gui

grass.pygrass.vector.geometry: Add typing annotations to Point()'s constructor to show that x, y and z are not only integers.
  python/grass/pygrass/vector/geometry.py
Due: pygrass, python library

gui.wxpython.dbmgr.sqlbuilder: Replace str.find() with faster "in" check
  gui/wxpython/dbmgr/sqlbuilder.py
Due: gui

grass.temporal.base: Add typing annotations for ident, mapset, and other attributes and properties
  python/grass/temporal/base.py
Due: python library

grass.temporal: Add typing annotations for stds_register and some related AbstractDataset methods
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/base.py
  python/grass/temporal/space_time_datasets.py
Due: python library

gui.wxpython: Construct error message only when needed for _checkDatasets in gui/wxpython/timeline/frame.py and gui/wxpython/tplot/frame.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
Due: gui

grass.temporal.datetime_math: Add note to misleading deep copy comment in modify_datetime
  python/grass/temporal/datetime_math.py
Due: python library

lib/init/grass: Replace str.find() with faster "in" check for geostring in create_location
  lib/init/grass.py
Due: lib

gui.wxpython.location_wizard.wizard: Replace str.find() with faster "in" check for projlabel or projection string
  gui/wxpython/location_wizard/wizard.py
Due: gui

grass.temporal.datetime_math: Replace str.find() with faster "in" check
  python/grass/temporal/datetime_math.py
Due: python library

gui.wxpython.tplot.frame: Add type annotation from TplotFrame SetDatasets' docstring
  gui/wxpython/tplot/frame.py
Due: gui

gui.wxpython.icons.icon: Replace str.find() with faster "in" check
  gui/wxpython/icons/icon.py
Due: gui

gui.wxpython.psmap.instructions: Replace str.find() with faster "in" check
  gui/wxpython/psmap/instructions.py
Due: gui

grass.temporal.datetime_math: Load msgr only on errors in modify_datetime_by_string
  python/grass/temporal/datetime_math.py
Due: python library
