Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

CI(OSGeo4W): Print env through msys2 shell
  .github/workflows/osgeo4w.yml
Due: none

Replace vswhere calls with full path since not on path
  mswindows/osgeo4w/mklibs.sh
Due: none

Update python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass.py
Due: pygrass, python library

CI(OSGeo4W): Print ProgramFiles(x86) env var through msys2 shell
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Print vswhere help through msys2 shell
  .github/workflows/osgeo4w.yml
Due: none

mswindows: Adapt vswhere example into bash to add the folder containing dumpbin to PATH using "ProgramFiles(x86)" env var in path
  mswindows/osgeo4w/mklibs.sh
Due: none

Add HTML validation to super-linter workflow
  .github/workflows/super-linter.yml
Due: none

Remove type-comparison from ignore list in pyproject.toml
  pyproject.toml
Due: none

CI(super-linter): Specify linter rules path to pick up configuration files (#3915)
  .github/workflows/pytest.yml
  .github/workflows/super-linter.yml
  .travis.yml
Due: none

CI(pre-commit): Enable markdownlint fixes (#3916)
  .markdownlint.yml
  .pre-commit-config.yaml
  vector/v.surf.rst/v.surf.rst.html
Due: none

contributing: add PR template (#4207)
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .markdownlint.yml
Due: none

CQ: Add a .gitattributes file to configure line endings for some file types
  .gitattributes
Due: none

CQ: Create an .editorconfig file
  .editorconfig
  .github/workflows/.editorconfig
Due: none

checks: Validate repo against .editorconfig file in CI and pre-commit
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
Due: none

style: Trim trailing whitespaces
  .cppcheck-suppressions
  .github/actions/create-upload-suggestions/action.yml
  .github/workflows/macos.yml
  lib/fonts/fonts/cyrilc.hmp
  lib/fonts/fonts/fonts.table
  mswindows/Makefile
  mswindows/generic.manifest
  vector/v.buffer/v.buffer.html
  vector/v.class/v.class.html
  vector/v.surf.bspline/v.surf.bspline.html
Due: lib

CQ: Set .raw and .laz files as binary in .gitattributes
  .gitattributes
Due: none

CQ: Add exclusions for binary files
  .editorconfig
Due: none

CQ: Mark demolocation binary files in .gitattributes
  .gitattributes
Due: none

style: Trim trailing whitespaces in mswindows/osgeo4w/ config scripts
  mswindows/osgeo4w/gdal-config
  mswindows/osgeo4w/geos-config
  mswindows/osgeo4w/liblas-config
  mswindows/osgeo4w/mysql_config
Due: none

Other fixes
  .github/workflows/test_simple.bat
  .github/workflows/test_thorough.bat
  db/drivers/mysql/Makefile
  include/Make/Install.make
  man/sphinx/Makefile
  mswindows/GRASS-Installer.nsi.tmpl
  mswindows/GRASS-Packager.bat.tmpl
  mswindows/external/README.license
  mswindows/external/rbatch/#Rscript2.bat
  mswindows/external/rbatch/ANNOUNCE
  mswindows/external/rbatch/COPYING
  mswindows/external/rbatch/LICENSE
  mswindows/external/rbatch/NEWS
  mswindows/external/rbatch/R.bat
  mswindows/external/rbatch/README.grass
  mswindows/external/rbatch/RESOURCES
  mswindows/external/rbatch/Rpathset.bat
  mswindows/external/rbatch/THANKS
  mswindows/external/rbatch/batchfiles.tex
  mswindows/external/rbatch/clip2r.js
  mswindows/external/rbatch/copydir.bat
  mswindows/external/rbatch/el.js
  mswindows/external/rbatch/find-miktex.hta
  mswindows/external/rbatch/movedir.bat
  mswindows/osgeo4w/postinstall.bat
  python/grass/docs/Makefile
  raster3d/r3.showdspf/Makefile
  vector/v.voronoi/Makefile
Due: man, python library

style: Trim trailing whitespaces
  .cppcheck-suppressions
  .github/actions/create-upload-suggestions/action.yml
  .github/workflows/macos.yml
  lib/fonts/fonts/cyrilc.hmp
  lib/fonts/fonts/fonts.table
  mswindows/GRASS-Installer.nsi.tmpl
  mswindows/Makefile
  mswindows/generic.manifest
  mswindows/osgeo4w/gdal-config
  mswindows/osgeo4w/geos-config
  mswindows/osgeo4w/liblas-config
  mswindows/osgeo4w/mysql_config
  mswindows/osgeo4w/postinstall.bat
  vector/v.buffer/v.buffer.html
  vector/v.class/v.class.html
  vector/v.surf.bspline/v.surf.bspline.html
Due: lib

CQ: Use CRLF in .bat files
  .github/workflows/test_simple.bat
  .github/workflows/test_thorough.bat
  mswindows/GRASS-Packager.bat.tmpl
  mswindows/osgeo4w/postinstall.bat
Due: none

CQ: Only use tab indentation in Makefiles
  db/drivers/mysql/Makefile
  include/Make/Install.make
  man/sphinx/Makefile
  python/grass/docs/Makefile
  raster3d/r3.showdspf/Makefile
  vector/v.voronoi/Makefile
Due: man, python library

CQ: Apply editorconfig preferences to R batch files
  .editorconfig
  mswindows/external/rbatch/#Rscript2.bat
  mswindows/external/rbatch/ANNOUNCE
  mswindows/external/rbatch/COPYING
  mswindows/external/rbatch/LICENSE
  mswindows/external/rbatch/NEWS
  mswindows/external/rbatch/README.grass
  mswindows/external/rbatch/RESOURCES
  mswindows/external/rbatch/THANKS
  mswindows/external/rbatch/batchfiles.tex
  mswindows/external/rbatch/clip2r.js
  mswindows/external/rbatch/el.js
  mswindows/external/rbatch/find-miktex.hta
Due: none

python: Add some typing to gui/wxpython/core/gcmd.py CommandThread
  gui/wxpython/core/gcmd.py
Due: gui

gui: Handle GRASS_INFO_END in line in gui/wxpython/core/gcmd.py
  gui/wxpython/core/gcmd.py
Due: gui

LiteralString is only available since Python 3.11, so use str instead
  gui/wxpython/core/gcmd.py
Due: gui

CI(pylint): Update versions in workflow
  .github/workflows/python-code-quality.yml
Due: none

DEBUG: Readd old pylintrc files
  gui/wxpython/.pylintrc.old3
  python/.pylintrc.old2
  utils/pylintrc.txt.old4
Due: gui, utils

DEBUG: Do not fail pylint to run all steps, then rerun pylint with failures
  .github/workflows/python-code-quality.yml
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
