Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

style: Ignore multiple-with-statements (SIM117) for test files
  pyproject.toml
Due: none

style: Fix get-attr-with-constant (B009)
  gui/wxpython/modules/colorrules.py
  pyproject.toml
  scripts/wxpyimgview/wxpyimgview_gui.py
Due: gui, scripts

style: Fix empty-comment (PLR2044)
  gui/wxpython/psmap/instructions.py
  pyproject.toml
  python/grass/script/task.py
  raster/r.solute.transport/example.py
Due: gui, python library

style: Fix loop-variable-overrides-iterator (B020)
  gui/wxpython/core/toolboxes.py
  pyproject.toml
  scripts/r.in.wms/wms_cap_parsers.py
Due: gui, scripts

DEBUG: Readd old pylintrc files
  gui/wxpython/.pylintrc.old3
  python/.pylintrc.old2
  utils/pylintrc.txt.old4
Due: gui, utils

style: Change misplaced docstring to comment in pygrass/rpc/__init__.py
  python/grass/pygrass/rpc/__init__.py
Due: pygrass, python library

style: Fix python logging-related pylint and ruff warnings
  pyproject.toml
  python/grass/pygrass/rpc/base.py
  python/grass/temporal/c_libraries_interface.py
Due: pygrass, python library

style: Fixes unnecessary-collection-call (C408) for empty collections on ctypesgen
  python/libgrass_interface_generator/ctypesgen/ctypedescs.py
  python/libgrass_interface_generator/ctypesgen/parser/cdeclarations.py
Due: none

style: Fix too-many-newlines-at-end-of-file (W391)
  pyproject.toml
  raster/r.stats.zonal/graphics_for_description.ipynb
Due: notebooks (jupyter)

DEBUG: VSCode python settings
  .vscode/settings.json
Due: none

style: Fix print-empty-string (FURB105)
  pyproject.toml
  utils/generate_release_notes.py
Due: utils

DEBUG: Continue configuring ruff in pyproject.toml
  pyproject.toml
Due: none

style: Fix repeated-append (FURB113)
  gui/wxpython/core/settings.py
  gui/wxpython/datacatalog/dialogs.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gui_core/query.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/iscatt/plots.py
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/modules/extensions.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/vnet/vnet_core.py
  gui/wxpython/vnet/vnet_data.py
  man/parser_standard_options.py
  pyproject.toml
  python/grass/gunittest/runner.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/testsuite/test_geometry.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_granularity.py
  python/grass/temporal/temporal_raster_base_algebra.py
  scripts/g.extension/g.extension.py
  scripts/r.in.wms/wms_drv.py
  scripts/r.tileset/r.tileset.py
  utils/mkhtml.py
Due: gui, man, utils, scripts, pygrass, gunittest, python library

CQ: Create default pylint config in pyproject.toml
  .pylintrc
  gui/wxpython/.pylintrc
  pyproject.toml
  python/.pylintrc
  utils/pylintrc.txt
Due: gui, utils

python(grass.temporal): Fix pylint try-except-raise (W0706)
  python/grass/temporal/c_libraries_interface.py
Due: python library

style: Fix unreliable-callable-check (B004)
  pyproject.toml
  python/grass/pydispatch/robustapply.py
  python/grass/pydispatch/saferef.py
Due: python library

style: Fix if-expr-with-true-false (SIM210) and if-expr-with-false-true (SIM211)
  gui/wxpython/core/globalvar.py
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/lmgr/layertree.py
  pyproject.toml
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/interface/flag.py
  python/grass/pygrass/modules/interface/parameter.py
  python/grass/pygrass/modules/interface/testsuite/test_flag.py
  python/grass/pygrass/raster/abstract.py
  python/grass/pygrass/utils.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/abstract.py
  python/grass/pygrass/vector/geometry.py
  utils/mkhtml.py
Due: gui, utils, pygrass, python library

CQ: Port root pylint config to pyproject.toml
  pyproject.toml
Due: none

style: Fix not-is-test (E714)
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/forms.py
  pyproject.toml
Due: gui

style: Fix if-exp-instead-of-or-operator (FURB110)
  gui/wxpython/core/treemodel.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/history/tree.py
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/startup/guiutils.py
  man/parser_standard_options.py
  pyproject.toml
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/grid/split.py
  python/grass/pygrass/modules/shortcuts.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/raster/abstract.py
  python/grass/pygrass/shell/conversion.py
  python/grass/pygrass/utils.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/abstract.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/table.py
  python/grass/script/tests/grass_script_core_location_test.py
  scripts/db.in.ogr/db.in.ogr.py
  scripts/g.extension/g.extension.py
  utils/mkhtml.py
Due: gui, man, utils, scripts, pygrass, python library

style: Fix not-in-test (E713)
  gui/wxpython/psmap/dialogs.py
  gui/wxpython/vnet/vnet_data.py
  pyproject.toml
Due: gui

style: Fix unnecessary-comprehension-in-call (C419)
  gui/wxpython/datacatalog/tree.py
  lib/init/grass.py
  pyproject.toml
  python/grass/temporal/temporal_algebra.py
  scripts/d.polar/d.polar.py
Due: gui, scripts, lib, python library

style: Fix is-literal (F632)
  imagery/i.atcorr/create_iwave.py
  pyproject.toml
Due: none

CQ: Disable pylint plugin bad_builtin
  pyproject.toml
Due: none

style: Fix raise-without-from-inside-except (B904)
  gui/wxpython/iscatt/plots.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/raster/category.py
  python/grass/pygrass/rpc/base.py
  python/grass/pygrass/vector/table.py
  python/grass/script/core.py
  python/grass/script/task.py
  python/grass/script/vector.py
  python/grass/semantic_label/reader.py
  python/grass/utils/download.py
  scripts/r.in.wms/wms_cap_parsers.py
Due: gui, scripts, pygrass, python library

Squashed commit of the following:
  gui/wxpython/core/utils.py
  pyproject.toml
  python/grass/imaging/images2swf.py
  python/grass/temporal/datetime_math.py
Due: gui, python library

style: Fix incorrect-dict-iterator (PERF102)
  gui/wxpython/dbmgr/sqlbuilder.py
  gui/wxpython/iscatt/controllers.py
  gui/wxpython/location_wizard/wizard.py
  gui/wxpython/mapwin/base.py
  pyproject.toml
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/tests/seriesmap_test.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  python/grass/pygrass/tests/benchmark.py
  python/grass/script/testsuite/test_utils.py
  scripts/v.pack/v.pack.py
Due: gui, scripts, pygrass, notebooks (jupyter), python library

DEBUG: Reorder old root pylintrc file
  .pylintrc.old
Due: none

style: Fix if-expr-min-max (FURB136)
  pyproject.toml
  python/grass/pygrass/modules/grid/split.py
Due: pygrass, python library

checks(Ruff): Configure ruff in pyproject.toml
  pyproject.toml
Due: none

python(pydispatch): Apply code changes from upstream pydispatcher repo
  python/grass/pydispatch/PKG-INFO
  python/grass/pydispatch/__init__.py
  python/grass/pydispatch/dispatcher.py
  python/grass/pydispatch/robustapply.py
  python/grass/pydispatch/saferef.py
Due: python library

python(grass.script): Ignore signature-differs pylint warning in array.py
  python/grass/script/array.py
Due: python library

style: Fix unnecessary-map (C417)
  gui/wxpython/core/render.py
  gui/wxpython/core/utils.py
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  pyproject.toml
  python/grass/pygrass/rpc/base.py
  python/grass/script/core.py
  python/grass/semantic_label/reader.py
Due: gui, pygrass, python library

style: Fix f-string-number-format (FURB116)
  pyproject.toml
  python/grass/imaging/images2swf.py
Due: python library

CQ: Enable pylint plugins redefined_variable_type and bad_builtin
  pyproject.toml
Due: none

CI(pylint): Update versions in workflow
  .github/workflows/python-code-quality.yml
Due: none

CI: Configure Renovate update groups
  renovate.json5
Due: none
