Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

Fix long lines with yaml line folding
  .github/workflows/osgeo4w.yml
Due: none

Fix remaining formatting issues
  .github/workflows/osgeo4w.yml
Due: none

Fix line too long
  .github/workflows/osgeo4w.yml
Due: none

Add env vars for print versions in msys2 bash works correctly
  .github/workflows/osgeo4w.yml
Due: none

Update setup-OSGeo4W action
  .github/workflows/osgeo4w.yml
Due: none

Use double quotes
  .github/workflows/osgeo4w.yml
Due: none

pytest: Try using python 3.14
  .github/workflows/pytest.yml
Due: none

CI(OSGeo4W): Test executing of the grass command in bash msys
  .github/workflows/osgeo4w.yml
Due: none

pytest: Set env var to allow building wheels with a python version unsupported by PyO3 PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1
  .github/workflows/pytest.yml
Due: none

CI(OSGeo4W): Restore and save ccache explicitly
  .github/workflows/osgeo4w.yml
Due: none

pygrass: Split hanging modules/interface test into separate files to find which part is problematic
  python/grass/pygrass/modules/interface/testsuite/_test_modules.py.bak
  python/grass/pygrass/modules/interface/testsuite/test_modules_check.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_pickability.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass.py
Due: pygrass, python library

pygrass: Print statements to track ModulesMeta hangs in modules/interface tests
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass.py
Due: pygrass, python library

Replace hardcoded OSGeo4W installed root
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Use setup-OSGeo4W's root path output
  .github/workflows/osgeo4w.yml
Due: none

pygrass: Use logging warnings to track ModulesMeta hangs in modules/interface tests
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass.py
Due: pygrass, python library

pygrass: Stop iterating over cmds at a limit to track ModulesMeta hangs in modules/interface tests
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_010.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_050.py
Due: pygrass, python library

pygrass: Split test_modules_with_metaclass into 50 modules chunks to track ModulesMeta hangs in modules/interface tests
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_100.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_150.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_200.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_250.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_300.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_350.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_400.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_450.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_500.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_550.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_600.py
Due: pygrass, python library

pygrass: List all found cmds in test_modules_with_metaclass
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_000.py
Due: pygrass, python library

pygrass: Split test_modules_with_metaclass chunk between 100-150 to track ModulesMeta hangs in modules/interface tests
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_125.py
Due: pygrass, python library

gunittest: Change html_file_preview in reporters to use a context manager when opening files
  python/grass/gunittest/reporters.py
Due: gunittest, python library

pygrass: Split test_modules_with_metaclass chunk between 50-100 to track ModulesMeta hangs in modules/interface tests
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_075.py
Due: pygrass, python library

pygrass: Exclude R batch files from bin from modules/interface tests
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_050.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_075.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_100.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_125.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_150.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_200.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_250.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_300.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_350.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_400.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_450.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_500.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_550.py
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass_600.py
Due: pygrass, python library

CI(ubuntu): Try tests with Python 3.14
  .github/workflows/ubuntu.yml
Due: none

CI(OSGeo4W): Switch to windows 2022
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Setup dev drive
  .github/workflows/osgeo4w.yml
Due: none

pygrass: Exclude dll files from bin from modules/interface tests
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass.py
Due: pygrass, python library

pygrass: Remove R batch files exclusion from bin from modules/interface tests in one file
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass.py
Due: pygrass, python library

CI(OSGeo4W): Change locations used inside dev drive
  .github/workflows/osgeo4w.yml
Due: none

pygrass: Exclude some R batch files from bin from modules/interface tests
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass.py
Due: pygrass, python library

Test usage of vswhere
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Run vswhere to find dumpbin
  .github/workflows/osgeo4w.yml
Due: none

Test usage of vswhere for VC Tools
  .github/workflows/osgeo4w.yml
Due: none

pygrass: Run all test_modules_with_metaclass
  python/grass/pygrass/modules/interface/testsuite/test_modules_with_metaclass.py
Due: pygrass, python library

Test usage of vswhere for VC Tools without a single property
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Create a powershell function to return the path of VC Tools
  .github/workflows/osgeo4w.yml
Due: none

List env var
  .github/workflows/osgeo4w.yml
Due: none

Remove find command too long
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Find dumpbin directly
  .github/workflows/osgeo4w.yml
Due: none

mswindows: Adapt vswhere example into bash to add the folder containing dumpbin to PATH
  mswindows/osgeo4w/mklibs.sh
Due: none
