Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

CI(OSGeo4W): Add color to pytest tests
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Create test_simple_msys.sh script
  .github/workflows/test_simple_msys.sh
Due: none

CI: Try adding more env vars from old build_osgeo4w.sh
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Fix paths of grass85 when installed for OSGeo4W
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Run tmate after pytest
  .github/workflows/osgeo4w.yml
Due: none

grass.script: Add universal_newlines as default Popen option
  python/grass/script/core.py
Due: python library

CI(OSGeo4W): Copy grass python folder over to install location
  .github/workflows/osgeo4w.yml
Due: none

Revert "grass.script: Add universal_newlines as default Popen option"
  python/grass/script/core.py
Due: python library

grass.script: Add universal_newlines as default read_command option
  python/grass/script/core.py
Due: python library

grass.script: Add universal_newlines as default read_command option even without encoding
  python/grass/script/core.py
Due: python library

CI(OSGeo4W): Do not delete grass python folder before copying it
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Cache OSGeo4W packages
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Remove trailing dir separator when copying grass python folder
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Copy grass python folder not into a subdirectory
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: make sure to fail to populate cache
  .github/workflows/osgeo4w.yml
Due: none

Revert "DEBUG: make sure to fail to populate cache"
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Upload package cache explicitly
  .github/workflows/osgeo4w.yml
Due: none

grass.jupyter: Pass tmp_path as a raw string to handle backslashes
  python/grass/jupyter/tests/grass_jupyter_session_test.py
Due: notebooks (jupyter), python library

grass.jupyter.timeseriesmap: Do not specify default font on Windows
  python/grass/jupyter/timeseriesmap.py
Due: notebooks (jupyter), python library

CI(OSGeo4W): Disable blocking tmate
  .github/workflows/osgeo4w.yml
Due: none

grass.script.core: Use writelines to write DEFAULT_WIND
  python/grass/script/core.py
Due: python library

grass.script.core: Add newlines to lines written by writelines
  python/grass/script/core.py
Due: python library

Install python3-pip OSGeo4W package
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Run pytest tests on Windows
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): DEBUG: Add tmate to connect to runner
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Add python3-core package to have pip
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): DEBUG: Print path from pwsh
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): DEBUG: continue-on-error
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Run pytest tests from OSGeo4W shell
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Move shell below
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Comment out o4w shell script call
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Remove not working pytest run from pwsh
  .github/workflows/osgeo4w.yml
Due: none

pytest: Mark tests failing on Windows with expected failures
  general/g.mapsets/tests/g_mapsets_list_format_test.py
  python/grass/jupyter/tests/grass_jupyter_session_test.py
  python/grass/jupyter/timeseriesmap.py
Due: notebooks (jupyter), python library

CI(OSGeo4W): Remove o4w shell script call
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Remove tmate
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Collect code coverage on pytest tests
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Coverage report and json for uploading
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Install pytest-cov from pip to have a newer version of coverage
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Set INITIAL_GISBASE and INITIAL_PWD env vars for coverage configuration
  .github/workflows/osgeo4w.yml
Due: none
