Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

docs: define default sphinx option to --jobs auto in Makefile
  python/grass/docs/Makefile
Due: python library

docs: Create a second makefile that includes autotools-based make modules incompatible with cmake-based builds
  python/grass/docs/Makefile
  python/grass/docs/libpython.make
Due: python library

docs: Insert import paths in conf.py
  python/grass/docs/conf.py
Due: python library

docs: Insert footer and grass_version in conf.py
  python/grass/docs/conf.py
Due: python library

docs: Use `%Y` placeholder in copyright in conf.py
  python/grass/docs/conf.py
Due: python library

docs: Use `project_copyright` alias to avoid redefining builtin warning in conf.py
  python/grass/docs/conf.py
Due: python library

docs: Define source dir as src/, set conf dir accordingly
  python/grass/docs/Makefile
  python/grass/docs/make.bat
Due: python library

docs: Support existing `make sphinxdoclib` target by overriding the `libpythonapidoc` target
  python/grass/docs/README.md
  python/grass/docs/libpython.make
Due: python library

docs: Ignore pylint C0413 in conf.py
  pyproject.toml
  python/grass/docs/conf.py
Due: python library

docs: Add favicon to html
  python/grass/docs/conf.py
Due: python library

docs: Add numpy intersphinx mapping
  python/grass/docs/conf.py
Due: python library

docs: Add options for sitemap generation
  python/grass/docs/conf.py
Due: python library

docs: Add grass_logo.svg to html_logo and logo_url in conf.py
  python/grass/docs/conf.py
Due: python library

docs: Configure autoapi extension to generate api reference documentation
  python/grass/docs/conf.py
Due: python library

docs: Add genindex, modindex and search page to table of contents
  python/grass/docs/src/index.rst
Due: python library

docs: Add temporal_framework to toc
  python/grass/docs/src/index.rst
Due: python library

docs: Remove sphinx-autoapi extension
  python/grass/docs/conf.py
Due: python library

docs: Generate tables with autosummary
  python/grass/docs/conf.py
  python/grass/docs/src/index.rst
Due: python library

docs: Remove autosummary
  python/grass/docs/src/index.rst
Due: python library

docs: Skip building sphinx in CI
  .github/workflows/documentation.yml
Due: none

mkdocs: install mkdocstrings[python]
  .github/workflows/documentation.yml
Due: none

mkdocs: Add mkdocs-api-autonav to requirements.txt
  man/mkdocs/requirements.txt
Due: man

mkdocs: Set paths for mkdocstrings
  .github/workflows/documentation.yml
  man/mkdocs/mkdocs.yml
Due: man

Add force_inspection option to mkdocs.yml plugins
  man/mkdocs/mkdocs.yml
Due: man

mkdocs: Run inside grass session
  .github/workflows/documentation.yml
Due: none

mkdocs: exclude more of autonav
  man/mkdocs/mkdocs.yml
Due: man

mkdocs: Filter private methods
  man/mkdocs/mkdocs.yml
Due: man

docs: Try alternative formatting for RegionManager docstrings
  python/grass/script/raster.py
Due: python library

mkdocs: Add numpy and python object inventories
  man/mkdocs/mkdocs.yml
Due: man

docs: Use custom patched git version of Sphinx allowing apidoc to not delete other files
  python/grass/docs/conf.py
  python/grass/docs/requirements.txt
  python/grass/docs/src/index.rst
Due: python library

make: Fix typo
  doc/Makefile
Due: none

temporal: Fix import in unused python/grass/temporal/unit_tests.py
  python/grass/temporal/unit_tests.py
Due: python library

grass.gunittest: Add multireport and multirunner to makefile
  python/grass/gunittest/Makefile
Due: gunittest, python library

docs: Remove file exclusions as issues are fixed
  python/grass/docs/conf.py
Due: python library

docs: Remove autosummary extension
  python/grass/docs/conf.py
Due: python library

docs: Fix writeAvi parameter docstring in images2avi
  python/grass/imaging/images2avi.py
Due: python library

r3.univar: Add guisection to parameters
  raster/r.univar/r3.univar_main.c
Due: none

lib/raster: Sync "sizeof" syntax between raster and raster3d implementations
  lib/raster/cats.c
Due: lib

i18n: Replace strings constructed by parts with complete strings
  raster/r.univar/r.univar_main.c
Due: none
