Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

gui.wxpython.nviz.mapwindow: Sort imports with an isort split group
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.core.gcmd: Add typing and overloads for EncodeString and DecodeString
  gui/wxpython/core/gcmd.py
Due: gui

gui.wxpython.nviz: Move ctypes and grass.lib imports below normal imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz: Set render flags dicts as a TypedDict
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz.mapwindow: Add some type hints
  gui/wxpython/nviz/mapwindow.py
Due: gui

Rename index argument to type
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.wxnviz: Add type hints for QueryMap with TypedDict
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.wxnviz: Add typing to functions that return empty vectors, considered tuples
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.mapwindow: GetContentScaleFactor() typing annotations
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz: numpy import can safely be below
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.core.utils: PIL.Image and wx.Image type annotations
  gui/wxpython/core/utils.py
Due: gui

gui: isort mapswipe.mapwindow imports
  gui/wxpython/mapswipe/mapwindow.py
Due: gui

gui.wxpython.nviz.wxnviz: Add simple type hints not needing any imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz: Sort remaining imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.wxnviz: Address type checking warnings in QueryMap
  gui/wxpython/nviz/wxnviz.py
Due: gui

Apply suggestions from code review
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.gui_core.wrap: wx.Image and wx.Bitmap type annotations
  gui/wxpython/gui_core/wrap.py
Due: gui

grass.script.core: Add type hints to various functions
  python/grass/script/core.py
Due: python library

grass.script.core: Fix unbounded `value_converted` appended in `_text_to_key_value_dict`
  python/grass/script/core.py
Due: python library

utils: Use context managers for files and subprocesses
  utils/create_python_init_file.py
  utils/g.html2man/g.html2man.py
  utils/md_isvalid.py
  utils/mkrest.py
  utils/ppmrotate.py
  utils/thumbnails.py
Due: utils

style: Apply fixes for read-whole-file (FURB101) to changed files
  utils/ppmrotate.py
  utils/thumbnails.py
Due: utils

utils.thumbnails: Remove always true condition
  utils/thumbnails.py
Due: utils

utils.mkhtml: Simplify creating dicts
  utils/mkhtml.py
Due: utils

utils: Other pyrefact-based refactoring
  utils/g.html2man/ggroff.py
  utils/generate_release_notes.py
  utils/mkhtml.py
Due: utils

utils: Simplify conditions
  utils/mkdocs.py
  utils/mkhtml.py
Due: utils

utils: Remove unused grass.script import
  utils/mkhtml.py
  utils/mkmarkdown.py
Due: utils

python: Fix typos and formatting of docstring parameters
  python/grass/imaging/images2gif.py
  python/grass/jupyter/utils.py
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/abstract.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/table.py
  python/grass/script/raster.py
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/list_stds.py
  python/grass/temporal/mapcalc.py
  python/grass/temporal/sampling.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/spatio_temporal_relationships.py
  python/grass/temporal/stds_import.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_vector_algebra.py
Due: pygrass, notebooks (jupyter), python library

python: Use comprehensions when initializing lists and dicts
  python/grass/benchmark/results.py
  python/grass/benchmark/testsuite/test_benchmark.py
  python/grass/benchmark/testsuite/test_benchmark_cli.py
  python/grass/grassdb/checks.py
  python/grass/gunittest/loader.py
  python/grass/gunittest/reporters.py
  python/grass/imaging/images2gif.py
  python/grass/imaging/images2swf.py
  python/grass/jupyter/baseseriesmap.py
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/grid/split.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/modules/interface/typedict.py
  python/grass/pygrass/rpc/__init__.py
  python/grass/pygrass/utils.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/geometry.py
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/task.py
  python/grass/semantic_label/reader.py
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/list_stds.py
  python/grass/temporal/register.py
  python/grass/temporal/stds_import.py
Due: pygrass, gunittest, notebooks (jupyter), python library

python: Factor out lines executed in both branches
  python/grass/imaging/images2gif.py
  python/grass/pygrass/vector/table.py
  python/grass/temporal/temporal_vector_algebra.py
Due: pygrass, python library

python: Early exit loops when possible
  python/grass/gunittest/loader.py
  python/grass/imaging/images2gif.py
  python/grass/imaging/images2ims.py
  python/grass/pygrass/raster/category.py
  python/grass/pygrass/vector/__init__.py
  python/grass/script/core.py
  python/grass/temporal/mapcalc.py
  python/grass/temporal/metadata.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_vector_algebra.py
Due: pygrass, gunittest, python library

python: Early exit functions
  python/grass/experimental/create.py
  python/grass/grassdb/history.py
  python/grass/gunittest/case.py
  python/grass/gunittest/reporters.py
  python/grass/imaging/images2swf.py
  python/grass/jupyter/map.py
  python/grass/pygrass/gis/__init__.py
  python/grass/pygrass/modules/interface/flag.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/modules/interface/parameter.py
  python/grass/pygrass/modules/interface/typedict.py
  python/grass/pygrass/raster/__init__.py
  python/grass/pygrass/raster/abstract.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/abstract.py
  python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/table.py
  python/grass/script/task.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/list_stds.py
  python/grass/temporal/space_time_datasets.py
Due: pygrass, gunittest, notebooks (jupyter), python library

Fix typo
  python/grass/pygrass/vector/__init__.py
Due: pygrass, python library

style: Use parentheses when assigning tuples
  python/grass/imaging/images2gif.py
Due: python library

style: Fix FURB140 [*] Use `itertools.starmap` instead of the generator
  python/grass/grassdb/checks.py
Due: python library

python: Rewrite negation
  python/grass/pygrass/utils.py
Due: pygrass, python library

checks: Remove fixed Ruff exclusions
  pyproject.toml
Due: none

style: Add parenthesis for clarity
  python/grass/gunittest/case.py
  python/grass/jupyter/setup.py
  python/grass/temporal/spatial_topology_dataset_connector.py
Due: gunittest, notebooks (jupyter), python library

style: Factor out commonly used strings into constants
  python/grass/script/tests/grass_script_setup_test.py
  python/grass/temporal/mapcalc.py
Due: python library

style: Membership test using a set
  python/grass/gunittest/runner.py
Due: gunittest, python library

style: Extract constant from loop
  python/grass/pygrass/modules/grid/grid.py
Due: pygrass, python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
