Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

DEBUG: pygrass.vector.find: Comment out from __future__ import annotations
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

pygrass.vector.vector_type: Add more annotations
  python/grass/pygrass/vector/vector_type.py
Due: pygrass, python library

pygrass.vector.find: Annotate AbstractFinder __init__ to fix pylint useless-parent-delegation / W0246
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

CQ: Disable pylint plugin bad_builtin
  pyproject.toml
Due: none

grass.script: Ignore signature-differs pylint warning in array.py
  python/grass/script/array.py
Due: python library

DEBUG: vscode type checking mode
  .vscode/settings.json
Due: none

Squashed commit of the following:
  gui/wxpython/tplot/frame.py
Due: gui

style: Fix unreliable-callable-check (B004)
  pyproject.toml
  python/grass/pydispatch/robustapply.py
  python/grass/pydispatch/saferef.py
Due: python library

DEBUG: Do not fail pylint to run all steps, then rerun pylint with failures
  .github/workflows/python-code-quality.yml
Due: none

style: Fix raise-without-from-inside-except (B904)
  gui/wxpython/iscatt/plots.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/raster/category.py
  python/grass/pygrass/rpc/base.py
  python/grass/pygrass/vector/table.py
  python/grass/script/core.py
  python/grass/script/task.py
  python/grass/script/vector.py
  python/grass/semantic_label/reader.py
  python/grass/utils/download.py
  scripts/r.in.wms/wms_cap_parsers.py
Due: gui, scripts, pygrass, python library

pygrass.vector.find: Add more annotations
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

DEBUG: pygrass.vector.find place type checking imports globally for sphinx
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

Update macos_dependencies.txt
  .github/workflows/macos_dependencies.txt
Due: none

Add ipywidgets to macos_dependencies.txt
  .github/workflows/macos_dependencies.txt
Due: none

CQ: Port root pylint config to pyproject.toml
  pyproject.toml
Due: none

style: Change misplaced docstring to comment in pygrass/rpc/__init__.py
  python/grass/pygrass/rpc/__init__.py
Due: pygrass, python library

DEBUG: Reorder old root pylintrc file
  .pylintrc.old
Due: none

DEBUG: Readd old pylintrc files
  gui/wxpython/.pylintrc.old3
  python/.pylintrc.old2
  utils/pylintrc.txt.old4
Due: gui, utils

style: Fixes unnecessary-collection-call (C408) for empty collections on ctypesgen
  python/libgrass_interface_generator/ctypesgen/ctypedescs.py
  python/libgrass_interface_generator/ctypesgen/parser/cdeclarations.py
Due: none

CQ: Enable pylint plugins redefined_variable_type and bad_builtin
  pyproject.toml
Due: none

CQ: Create default pylint config in pyproject.toml
  .pylintrc
  gui/wxpython/.pylintrc
  pyproject.toml
  python/.pylintrc
  utils/pylintrc.txt
Due: gui, utils

DEBUG: Configure Pyright type checker
  .vscode/settings.json
  pyproject.toml
Due: none

CI(pylint): Update versions in workflow
  .github/workflows/python-code-quality.yml
Due: none

DEBUG: VSCode python settings
  .vscode/settings.json
Due: none

DEBUG: pygrass.vector.find: Comment out from __future__ import annotations
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/vector_type.py
Due: pygrass, python library

pygrass.vector.find: Add more annotations
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/vector_type.py
Due: pygrass, python library

style: Fix in-dict-keys (SIM118)
  gui/wxpython/animation/provider.py
Due: gui

DEBUG: pygrass.vector.find: Sort imports
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/vector_type.py
Due: pygrass, python library

style: Fix in-dict-keys (SIM118)
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/web_services/dialogs.py
  man/build_keywords.py
  man/build_topics.py
  python/grass/pygrass/vector/__init__.py
  python/grass/script/core.py
  python/grass/temporal/temporal_algebra.py
  scripts/r.pack/r.pack.py
  scripts/v.rast.stats/v.rast.stats.py
Due: gui, man, scripts, pygrass, python library
