Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

Rename GRASS GIS to GRASS in top level files, excluding historically accurate GRASS GIS usages
  AUTHORS
  COPYING
  INSTALL.md
  Makefile
  REQUIREMENTS.md
  SECURITY.md
  binaryInstall.src
  configure
  configure.ac
  grasslib.dox
Due: none

Rename GRASS GIS to GRASS in doxygen `*.dox` files
  lib/external/ccmath/ccmathlib.dox
  lib/gmath/gmathlib.dox
  lib/ogsf/ogsflib.dox
  lib/pngdriver/pngdriverlib.dox
  lib/proj/projlib.dox
  lib/vector/vectorlib.dox
Due: lib

Rename GRASS GIS to GRASS in GRASS Programmer's manual
  include/Make/Doxyfile_arch_html.in
  include/Make/Doxyfile_arch_latex.in
Due: none

Rename GRASS GIS to GRASS in Sphinx `*.rst` files
  python/grass/docs/src/gunittest_running_tests.rst
  python/grass/docs/src/pygrass_gis.rst
  python/grass/docs/src/pygrass_index.rst
  python/grass/docs/src/pygrass_raster.rst
  python/grass/docs/src/pygrass_vector.rst
  python/grass/docs/src/script_intro.rst
Due: python library

Rename GRASS GIS to GRASS in g.parser files
  general/g.parser/test.pl
  general/g.parser/test.sh
Due: none

Rename GRASS GIS to GRASS in manual generation python script files
  man/build_class_rest.py
  man/build_full_index_rest.py
  man/build_html.py
  man/build_index_rest.py
  man/build_rest.py
  python/grass/docs/conf.py
  utils/g.html2man/ggroff.py
Due: man, utils, python library

Rename GRASS GIS to GRASS in `*.txt` files
  lib/proj/README.txt
Due: lib

Rename GRASS GIS to GRASS in mswindows or OSGeo4W files. Excludes potentially breaking renames for now
  mswindows/GRASS-Installer.nsi.tmpl
  mswindows/osgeo4w/grass.bat.tmpl
  mswindows/osgeo4w/libpng-config
  mswindows/osgeo4w/setup.hint.tmpl
Due: none

Rename GRASS GIS to GRASS in Singularity files
  singularity/debian/README_debian.md
  singularity/debian/singularityfile_debian
Due: none

Rename GRASS GIS to GRASS in utils/ files
  utils/mkmarkdown.py
  utils/update_version.py
Due: utils

Rename GRASS GIS to GRASS in i.topo.corr test file
  imagery/i.topo.corr/test_i.topo.corr_synthetic_DEM_NC.sh
Due: none

Rename GRASS GIS to GRASS in macOS packaging files
  macos/ReadMe.md
  macos/build_grass_app.bash
  macos/files/configure-grass.sh
  macos/files/grass.sh.in
Due: none

Rename GRASS GIS to GRASS in `*.sh` scripts
  mswindows/crosscompile.sh
  mswindows/osgeo4w/build_osgeo4w.sh
  raster/r.mapcalc/testsuite/const_map_test.sh
  temporal/run_all_tests.sh
  testsuite/raster_md5test.sh
  utils/fix_typos.sh
  utils/grass_clang_format.sh
  utils/module_synopsis.sh
  utils/symbol_to_img.sh
Due: utils

chore: Rename GRASS GIS to GRASS in utils/
  utils/generate_release_notes.py
  utils/merge_sitemaps.py
  utils/mkdocs.py
  utils/mkhtml.py
  utils/mkmarkdown.py
  utils/update_version.py
Due: utils

chore: Rename GRASS GIS to GRASS in include/
  include/grass/gmath.h
  include/grass/la.h
Due: none

chore: Rename GRASS GIS to GRASS in vector/
  vector/v.build.polylines/tests/test_v_build_polylines.py
  vector/v.build/v.build.html
  vector/v.build/v.build.md
  vector/v.class/tests/test_v_class.py
  vector/v.hull/testsuite/test_v_hull.py
  vector/v.in.db/v.in.db.html
  vector/v.in.db/v.in.db.md
  vector/v.in.ogr/v.in.ogr.html
  vector/v.in.ogr/v.in.ogr.md
  vector/v.kernel/v.kernel.html
  vector/v.kernel/v.kernel.md
  vector/v.mkgrid/v.mkgrid.html
  vector/v.mkgrid/v.mkgrid.md
  vector/v.net.bridge/v.net.bridge.html
  vector/v.net.bridge/v.net.bridge.md
  vector/v.net/v.net.html
  vector/v.net/v.net.md
  vector/v.out.postgis/v.out.postgis.html
  vector/v.out.postgis/v.out.postgis.md
  vector/v.profile/main.c
  vector/v.profile/v.profile.html
  vector/v.profile/v.profile.md
  vector/v.random/v.random.html
  vector/v.random/v.random.md
  vector/v.support/v.support.html
  vector/v.support/v.support.md
  vector/v.surf.bspline/v.surf.bspline.html
  vector/v.surf.bspline/v.surf.bspline.md
  vector/v.surf.idw/v.surf.idw.html
  vector/v.surf.idw/v.surf.idw.md
  vector/v.surf.rst/main.c
  vector/v.surf.rst/v.surf.rst.html
  vector/v.surf.rst/v.surf.rst.md
  vector/v.type/v.type.html
  vector/v.type/v.type.md
  vector/v.vol.rst/v.vol.rst.html
  vector/v.vol.rst/v.vol.rst.md
  vector/vectorintro.html
  vector/vectorintro.md
Due: none

chore: Rename GRASS GIS to GRASS in db/
  db/databaseintro.html
  db/databaseintro.md
  db/db.connect/db.connect.html
  db/db.connect/db.connect.md
  db/db.createdb/db.createdb.html
  db/db.createdb/db.createdb.md
  db/db.dropdb/db.dropdb.html
  db/db.dropdb/db.dropdb.md
  db/db.login/db.login.html
  db/db.login/db.login.md
  db/drivers/dbf/grass-dbf.html
  db/drivers/dbf/grass-dbf.md
  db/drivers/mysql/grass-mesql.html
  db/drivers/mysql/grass-mesql.md
  db/drivers/mysql/grass-mysql.html
  db/drivers/mysql/grass-mysql.md
  db/drivers/odbc/grass-odbc.html
  db/drivers/odbc/grass-odbc.md
  db/drivers/ogr/grass-ogr.html
  db/drivers/ogr/grass-ogr.md
  db/drivers/postgres/grass-pg.html
  db/drivers/postgres/grass-pg.md
  db/drivers/sqlite/grass-sqlite.html
  db/drivers/sqlite/grass-sqlite.md
Due: none

Rename GRASS GIS to GRASS in imagery/
  imagery/i.albedo/testsuite/test_i_albedo.py
  imagery/i.biomass/testsuite/test_i_biomass.py
  imagery/i.cca/testsuite/test_i_cca.py
  imagery/i.fft/testsuite/test_i_fft.py
  imagery/i.ifft/testsuite/test_i_ifft.py
  imagery/i.modis.qc/i.modis.qc.html
  imagery/i.modis.qc/i.modis.qc.md
  imagery/i.ortho.photo/i.ortho.photo/i.ortho.photo.html
  imagery/i.ortho.photo/i.ortho.photo/i.ortho.photo.md
  imagery/i.smap/testsuite/test_i_smap.py
  imagery/i.target/testsuite/test_i_target.py
  imagery/i.zc/testsuite/test_i_zc.py
  imagery/imageryintro.html
  imagery/imageryintro.md
Due: none

chore: Rename GRASS GIS to GRASS in scripts/
  scripts/db.out.ogr/db.out.ogr.html
  scripts/db.out.ogr/db.out.ogr.md
  scripts/g.download.project/g.download.project.html
  scripts/g.download.project/g.download.project.md
  scripts/g.extension.all/g.extension.all.py
  scripts/g.extension/g.extension.html
  scripts/g.extension/g.extension.md
  scripts/g.extension/g.extension.py
  scripts/g.search.modules/g.search.modules.html
  scripts/g.search.modules/g.search.modules.md
  scripts/i.band.library/i.band.library.html
  scripts/i.band.library/i.band.library.md
  scripts/i.colors.enhance/testsuite/test_i_colors_enhance.py
  scripts/i.image.mosaic/i.image.mosaic.html
  scripts/i.image.mosaic/i.image.mosaic.md
  scripts/r.pack/r.pack.html
  scripts/r.pack/r.pack.md
  scripts/r.pack/r.pack.py
  scripts/r.unpack/r.unpack.py
  scripts/v.centroids/v.centroids.html
  scripts/v.centroids/v.centroids.md
  scripts/v.db.update/v.db.update.html
  scripts/v.db.update/v.db.update.md
  scripts/v.dissolve/v.dissolve.py
  scripts/v.dissolve/v_dissolve.ipynb
  scripts/v.pack/v.pack.py
  scripts/v.unpack/v.unpack.py
  scripts/windows_sh_launch.bat
Due: scripts, notebooks (jupyter)

chore: Rename GRASS GIS to GRASS in display/
  display/d.legend.vect/d.legend.vect.html
  display/d.legend.vect/d.legend.vect.md
  display/d.linegraph/d.linegraph.html
  display/d.linegraph/d.linegraph.md
Due: none

chore: Rename GRASS GIS to GRASS in gui/
  gui/wxpython/gmodeler/g.gui.gmodeler.html
  gui/wxpython/lmgr/frame.py
Due: gui

chore: Rename GRASS GIS to GRASS in testsuite/
  testsuite/README.md
Due: none

chore: Rename GRASS GIS to GRASS in raster/
  raster/r.buildvrt/r.buildvrt.html
  raster/r.buildvrt/r.buildvrt.md
  raster/r.compress/r.compress.html
  raster/r.compress/r.compress.md
  raster/r.covar/r.covar.html
  raster/r.covar/r.covar.md
  raster/r.external.out/r.external.out.html
  raster/r.external.out/r.external.out.md
  raster/r.fill.dir/r.fill.dir.html
  raster/r.fill.dir/r.fill.dir.md
  raster/r.mfilter/r.mfilter.md
  raster/r.proj/r.proj.html
  raster/r.random.cells/r.random.cells.html
  raster/r.random.cells/r.random.cells.md
  raster/r.resamp.bspline/r.resamp.bspline.html
  raster/r.resamp.bspline/r.resamp.bspline.md
  raster/r.resamp.filter/r.resamp.filter.html
  raster/r.resamp.filter/r.resamp.filter.md
  raster/r.resamp.interp/r.resamp.interp.html
  raster/r.resamp.interp/r.resamp.interp.md
  raster/r.resamp.rst/r.resamp.rst.html
  raster/r.resamp.rst/r.resamp.rst.md
  raster/r.resamp.stats/r.resamp.stats.html
  raster/r.resamp.stats/r.resamp.stats.md
  raster/r.resample/r.resample.html
  raster/r.resample/r.resample.md
  raster/r.surf.contour/r.surf.contour.html
  raster/r.surf.contour/r.surf.contour.md
  raster/r.surf.idw/r.surf.idw.html
  raster/r.surf.idw/r.surf.idw.md
Due: none

chore: Rename GRASS GIS to GRASS in temporal/
  temporal/t.rast.extract/t.rast.extract.html
  temporal/t.rast.extract/t.rast.extract.md
  temporal/t.rast.series/t.rast.series.html
  temporal/t.rast.series/t.rast.series.md
  temporal/t.register/t.register.html
  temporal/t.register/t.register.md
  temporal/t.vect.export/t.vect.export.py
  temporal/t.vect.import/t.vect.import.py
  temporal/t.vect.observe.strds/t.vect.observe.strds.html
  temporal/t.vect.observe.strds/t.vect.observe.strds.md
Due: none

chore: Rename GRASS GIS to GRASS in raster3d/
  raster3d/raster3dintro.html
Due: none

Rename GRASS GIS to GRASS in general/
  general/g.filename/g.filename.html
  general/g.filename/g.filename.md
  general/g.gisenv/g.gisenv.html
  general/g.gisenv/g.gisenv.md
  general/g.gui/g.gui.html
  general/g.gui/g.gui.md
  general/g.message/g.message.html
  general/g.message/g.message.md
  general/g.parser/g.parser.html
  general/g.parser/g.parser.md
  general/g.region/g.region.html
  general/g.version/g.version.html
  general/g.version/g.version.md
  general/g.version/main.c
Due: none

Rename GRASS GIS to GRASS in html doc
  doc/examples/raster/r.example/r.example.html
  doc/grass_database.html
  doc/projectionintro.html
Due: none

Rename GRASS GIS to GRASS in general/
  general/g.filename/g.filename.html
  general/g.filename/g.filename.md
  general/g.gisenv/g.gisenv.html
  general/g.gui/g.gui.html
  general/g.gui/g.gui.md
  general/g.message/g.message.html
  general/g.message/g.message.md
  general/g.parser/g.parser.html
  general/g.parser/g.parser.md
  general/g.region/g.region.html
  general/g.version/g.version.html
  general/g.version/g.version.md
  general/g.version/main.c
Due: none
