Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

t.rast.colors: Use a context manager for opening files (SIM115)
  temporal/t.rast.colors/t.rast.colors.py
Due: none

grass.gunittest.reporters: Use a context manager for opening files (SIM115)
  python/grass/gunittest/reporters.py
Due: gunittest, python library

grass.gunittest.case: Use a context manager for opening files (SIM115) in assertVectorAsciiEqualsVectorAscii
  python/grass/gunittest/case.py
Due: gunittest, python library

grass.gunittest.multireport: Use pathlib.read_text to read complete file
  python/grass/gunittest/multireport.py
Due: gunittest, python library

grass.gunittest.multireport: Use a context manager for opening files (SIM115)
  python/grass/gunittest/multireport.py
Due: gunittest, python library

grass.gunittest.case: Wrap StringIO with a context manager in assertVectorAsciiEqualsVectorAscii
  python/grass/gunittest/case.py
Due: gunittest, python library

grass.temporal.aggregation: Use a context manager for opening files (SIM115)
  python/grass/temporal/aggregation.py
Due: python library

t.unregister: Use a context manager for opening files (SIM115)
  temporal/t.unregister/t.unregister.py
Due: none

grass.temporal.stds_export: Use a context manager for opening files (SIM115)
  python/grass/temporal/stds_export.py
Due: python library

lib/init/grass: Use a context manager for opening files (SIM115)
  lib/init/grass.py
Due: lib

CI(OSGeo4W): Add pytest to OSGeo4W dependencies
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Print python version info
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Try using osgeo4w shell
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Try using osgeo4w shell without {0}
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Try using osgeo4w shell with {0} and forward slash
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Try using osgeo4w shell comspec
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Reduce dependencies installed
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Try using osgeo4w shell with cmd
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Further reduce dependencies installed
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Try using osgeo4w shell with cmd and call script
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Extra alternative tested
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Replace normal deps
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Continue on error of useless pytest call
  .github/workflows/osgeo4w.yml
Due: none

CI: Run pytest tests on Windows
  .github/workflows/osgeo4w.yml
Due: none

Update osgeo4w.yml python-grass85
  .github/workflows/osgeo4w.yml
Due: none

DEBUG: Try multiple calling conventions
  .github/workflows/osgeo4w.yml
Due: none

Revert "grass.temporal.stds_export: Use a context manager for opening files (SIM115)"
  python/grass/temporal/stds_export.py
Due: python library

DEBUG: Try setting lots of envs
  .github/workflows/osgeo4w.yml
Due: none

Update osgeo4w.yml
  .github/workflows/osgeo4w.yml
Due: none

Update OSGeo4W workflow with additional pytest configurations
  .github/workflows/osgeo4w.yml
Due: none

Update paths to use double backslashes for Windows compatibility.
  .github/workflows/osgeo4w.yml
Due: none

Add pytest workflow for OSGeo4W environment.
  .github/workflows/osgeo4w.yml
Due: none

Remove unnecessary msystem field from osgeo4w.yml
  .github/workflows/osgeo4w.yml
Due: none
