Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

Update .github/workflows/cmake.yml
  .github/workflows/cmake.yml
Due: none

Define (read|write)_png only if HAVE_PNG_H
  lib/pngdriver/pngdriver.h
Due: lib

Add postgres versions 14-16
  cmake/find_scripts/FindPostgreSQL.cmake
Due: none

Add Findzstd.cmake
  cmake/find_scripts/Findzstd.cmake
Due: none

Add grass_gis dependency to symbol (G_malloc)
  lib/CMakeLists.txt
Due: lib

Address an issue with excluding PNG files
  lib/CMakeLists.txt
Due: lib

Revert pngdriver.h; if we need it, should be done in a new PR
  lib/pngdriver/pngdriver.h
Due: lib

Require CMake 3.16.0; format to yamllint *manually* (do we have a formatter?)
  .github/workflows/cmake.yml
Due: none

CHMOD (cmake 3.19) workaround for 3.16
  general/CMakeLists.txt
  lib/init/CMakeLists.txt
Due: lib

Use full path to /bin/chmod for security
  lib/init/CMakeLists.txt
Due: lib

chmod 755 instead of chmod a+x
  lib/init/CMakeLists.txt
Due: lib

Update gui/images/CMakeLists.txt
  gui/images/CMakeLists.txt
Due: gui

Use CMAKE_VERSION VERSION_* instead of comments for CHMOD
  lib/init/CMakeLists.txt
Due: lib

Install ninja
  .github/workflows/cmake.yml
Due: none

Install ninja-build from apt
  .github/workflows/cmake.yml
Due: none

Disable installation of old cmake
  .github/workflows/cmake.yml
Due: none

Specify Ninja as generator
  .github/workflows/cmake.yml
Due: none

Update cmake.yml
  .github/workflows/cmake.yml
Due: none

Reset cmake.yml
  .github/workflows/cmake.yml
Due: none

Test changes for workflow triggers
  .github/workflows/cmake.yml
Due: none

Add back mingw-w64-x86_64-libpng
  .github/workflows/osgeo4w.yml
Due: none

Ccache update_packager_index: false
  .github/workflows/osgeo4w.yml
Due: none

Remove branch filtering
  .github/workflows/osgeo4w.yml
Due: none

Use hendrikmuhs/ccache-action@v1.2.13
  .github/workflows/pytest.yml
Due: none

CI(pytest): Fix invalid pytest.yml merge
  .github/workflows/pytest.yml
Due: none

CI(osgeo4w): Translate SRC path to unix
  .github/workflows/osgeo4w.yml
Due: none

CI(osgeo4w): Translate SRC path to unix with second env var
  .github/workflows/osgeo4w.yml
Due: none

CI(osgeo4w): Translate SRC path to unix unquote
  .github/workflows/osgeo4w.yml
Due: none

CI(osgeo4w): Set SRC to pwd
  .github/workflows/osgeo4w.yml
Due: none

CI(osgeo4w): Switch back to hendrikmuhs/ccache-action@v1.2.13
  .github/workflows/osgeo4w.yml
Due: none

CI(osgeo4w): Try ccache again
  .github/workflows/osgeo4w.yml
Due: none

CI(osgeo4w): Try sccache again, installed from msys2 too
  .github/workflows/osgeo4w.yml
Due: none

CI(osgeo4w): Install mingw-w64-x86_64-sccache instead
  .github/workflows/osgeo4w.yml
Due: none

CI(osgeo4w): Test out sccache before
  .github/workflows/osgeo4w.yml
Due: none

CI(osgeo4w): sccache --show-stats
  .github/workflows/osgeo4w.yml
Due: none

CI(osgeo4w): sccache --stop-server after --show-stats
  .github/workflows/osgeo4w.yml
Due: none

CI(osgeo4w): sccache --stop-server after -z
  .github/workflows/osgeo4w.yml
Due: none

CI(osgeo4w): Setup sccache manually
  .github/workflows/osgeo4w.yml
Due: none
