Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

grass.temporal.c_libraries_interface: Use context manager for lock in c_library_server
  python/grass/temporal/c_libraries_interface.py
Due: python library

grass.temporal.c_libraries_interface: Add typing annotations for lock and conn
  python/grass/temporal/c_libraries_interface.py
Due: python library

grass.pygrass.rpc.base: Non-working trial of asyncio
  python/grass/pygrass/rpc/base.py
Due: pygrass, python library

Revert "grass.pygrass.rpc.base: Non-working trial of asyncio"
  python/grass/pygrass/rpc/base.py
Due: pygrass, python library

grass.pygrass.rpc.base: Add typing annotations for lock and conn
  python/grass/pygrass/rpc/base.py
Due: pygrass, python library

grass.pygrass.rpc.base: Use context manager for lock in dummy_server
  python/grass/pygrass/rpc/base.py
Due: pygrass, python library

grass.pygrass.rpc.base: Use context manager for threadLock in RPCServerBase
  python/grass/pygrass/rpc/base.py
Due: pygrass, python library

grass.pygrass.rpc.base: Remove release lock in context manager
  python/grass/pygrass/rpc/base.py
Due: pygrass, python library

t.rast.accumulate: Remove unused SimpleModule import in test_accumulation
  temporal/t.rast.accumulate/testsuite/test_accumulation.py
Due: none

t.rast.accumulate: Call t.remove with multiple inputs in test_accumulation
  temporal/t.rast.accumulate/testsuite/test_accumulation.py
Due: none

grass.pygrass.rpc.base: Add more typing annotations
  python/grass/pygrass/rpc/base.py
Due: pygrass, python library

grass.pygrass.rpc.base: Check for None to satisfy mypy type checking
  python/grass/pygrass/rpc/base.py
Due: pygrass, python library

grass.pygrass.rpc.base: Remove release lock in context managers, as they would be released when unlocked (RuntimeError: release unlocked lock)
  python/grass/pygrass/rpc/base.py
Due: pygrass, python library

grass.temporal.ply: Format black
  python/grass/temporal/ply/__init__.py
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

DEBUG: shorter test runs and results
  hf_test_acc.json
  hf_test_acc.md
  hf_test_acc2.json
  hf_test_acc2.md
  temporal/t.rast.accumulate/testsuite/test_accumulation1.py
  temporal/t.rast.accumulate/testsuite/test_accumulation2.py
  temporal/t.rast.accumulate/testsuite/test_accumulation3.py
Due: none

grass.temporal.ply: Fix useless-object-inheritance (UP004)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix os-error-alias (UP024)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix unnecessary-assign (RET504)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix superfluous-else-raise (RET506)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix superfluous-else-continue (RET507)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix implicit-return-value (RET502)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix superfluous-else-return (RET505)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix yoda-conditions (SIM300)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix repeated-equality-comparison (PLR1714)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix not-in-test (E713)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix read-whole-file (FURB101)
  python/grass/temporal/ply/lex.py
Due: python library

grass.temporal.ply: Fix collapsible-else-if (PLR5501)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix non-augmented-assignment (PLR6104)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix incorrectly-parenthesized-tuple-in-subscript (RUF031)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix delete-full-slice (FURB131)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix error-instead-of-exception (TRY400)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix missing-trailing-comma (COM812)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix if-else-block-instead-of-if-exp (SIM108)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix raw-string-in-exception (EM101)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix literal-membership (PLR6201)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix literal-membership (PLR6201)
  python/grass/temporal/ply/lex.py
Due: python library

grass.temporal.ply: Fix unreliable-callable-check (B004)
  python/grass/temporal/ply/lex.py
Due: python library

grass.temporal.ply: Fix unspecified-encoding (PLW1514)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix f-string-in-exception (EM102)
  python/grass/temporal/ply/lex.py
Due: python library

grass.temporal.ply: Apply isort
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library
