Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Add _typing module to Makefile MODULES list
  python/grass/temporal/Makefile
Due: python library

gui.wxpython: Replace str.find() with faster "in" check for _checkDatasets in gui/wxpython/timeline/frame.py and gui/wxpython/tplot/frame.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
Due: gui

grass.temporal: apply black
  python/grass/temporal/_typing.py
Due: python library

grass.temporal: other typing changes
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/space_time_datasets.py
  python/grass/temporal/temporal_extent.py
Due: python library

Remove LLVM's OpenMP library and use GCC's OpenMP library
  .github/workflows/osgeo4w.yml
  mswindows/osgeo4w/package.sh
Due: none

Remove OPENMP_CFLAGS from OPENMP_LIB in Platform.make.in
  include/Make/Platform.make.in
Due: none

Compile and upload package using package.sh
  .github/workflows/osgeo4w.yml
Due: none

Use mingw-w64-x86_64-omp
  .github/workflows/osgeo4w.yml
Due: none

Add mingw-w64-x86_64-lapack package
  .github/workflows/osgeo4w.yml
Due: none

Do not fail step print_version.sh missing msys2 paths
  .github/workflows/osgeo4w.yml
Due: none

Update osgeo4w workflow to continue on error
  .github/workflows/osgeo4w.yml
Due: none

grass.temporal.datetime_math: Return a TypedDict from compute_datetime_delta
  python/grass/temporal/datetime_math.py
Due: python library

Use ternary operator `_day = 0 if start.day == 1 and end.day == 1 else day_diff` instead of `if`-`else`-block
  python/grass/temporal/datetime_math.py
Due: python library

Update date in file header
  python/grass/temporal/datetime_math.py
Due: python library

grass.temporal.datetime_math: Create pytest tests for compute_datetime_delta and datetime_delta dict
  python/grass/temporal/tests/test_datetime_math_compute_datetime_delta.py
  python/grass/temporal/unit_tests.py
Due: python library

grass.temporal.abstract_dataset: Add typing to get_relative_time_unit
  python/grass/temporal/abstract_dataset.py
Due: python library

grass.temporal.core: Sort imports, move imports above code when safe
  python/grass/temporal/core.py
Due: python library

grass.temporal.temporal_granularity: Use datetime_delta TypedDict in annotations
  python/grass/temporal/temporal_granularity.py
Due: python library

grass.temporal.core: Add various typing annotations
  python/grass/temporal/core.py
Due: python library

CQ: Port root pylint config to pyproject.toml
  pyproject.toml
Due: none

DEBUG: Reorder old root pylintrc file
  .pylintrc.old
Due: none

CQ: Create default pylint config in pyproject.toml
  .pylintrc
  gui/wxpython/.pylintrc
  pyproject.toml
  python/.pylintrc
  utils/pylintrc.txt
Due: gui, utils

DEBUG: Readd old pylintrc files
  gui/wxpython/.pylintrc.old3
  python/.pylintrc.old2
  utils/pylintrc.txt.old4
Due: gui, utils

DEBUG: VSCode python settings
  .vscode/settings.json
Due: none

DEBUG: Configure Pyright type checker
  .vscode/settings.json
  pyproject.toml
Due: none

grass.jupyter.utils: Fix pylint redefined-variable-type (R0204) of output variable
  python/grass/jupyter/utils.py
  python/grass/script/utils.py
Due: notebooks (jupyter), python library

DEBUG: vscode type checking mode
  .vscode/settings.json
Due: none

grass.pygrass.utils: get_raster_for_points typing
  python/grass/pygrass/utils.py
Due: pygrass, python library

style: Fix raise-without-from-inside-except (B904)
  gui/wxpython/iscatt/plots.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/raster/category.py
  python/grass/pygrass/rpc/base.py
  python/grass/pygrass/vector/table.py
  python/grass/script/core.py
  python/grass/script/task.py
  python/grass/script/vector.py
  python/grass/semantic_label/reader.py
  python/grass/utils/download.py
  scripts/r.in.wms/wms_cap_parsers.py
Due: gui, scripts, pygrass, python library

grass.imaging.images2gif: Fix Pylint using-constant-test
  python/grass/imaging/images2gif.py
Due: python library

DEBUG: pygrass.vector.find: Sort imports
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/vector_type.py
Due: pygrass, python library

style: Fix in-dict-keys (SIM118)
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/web_services/dialogs.py
  man/build_keywords.py
  man/build_topics.py
  python/grass/pygrass/vector/__init__.py
  python/grass/script/core.py
  python/grass/temporal/temporal_algebra.py
  scripts/r.pack/r.pack.py
  scripts/v.rast.stats/v.rast.stats.py
Due: gui, man, scripts, pygrass, python library

DEBUG: pygrass.vector.find: Comment out from __future__ import annotations
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/vector_type.py
Due: pygrass, python library

style: Fix in-dict-keys (SIM118)
  man/parser_standard_options.py
  python/grass/gunittest/checkers.py
  python/grass/gunittest/invoker.py
  python/grass/pygrass/tests/benchmark.py
  python/grass/pygrass/vector/__init__.py
  python/grass/script/core.py
  python/grass/script/testsuite/test_utils.py
  scripts/r.in.srtm/r.in.srtm.py
  scripts/r.in.wms/wms_base.py
  temporal/t.topology/t.topology.py
Due: man, scripts, pygrass, gunittest, python library

style: Fixes unnecessary-collection-call (C408) for empty collections on ctypesgen
  python/libgrass_interface_generator/ctypesgen/ctypedescs.py
  python/libgrass_interface_generator/ctypesgen/parser/cdeclarations.py
Due: none

DEBUG: Do not fail pylint to run all steps, then rerun pylint with failures
  .github/workflows/python-code-quality.yml
Due: none

pygrass.vector.find: Annotate AbstractFinder __init__ to fix pylint useless-parent-delegation / W0246
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

Squashed commit of the following:
  gui/wxpython/tplot/frame.py
Due: gui

pygrass.vector.find: Add more annotations
  python/grass/pygrass/vector/find.py
  python/grass/pygrass/vector/vector_type.py
Due: pygrass, python library

CQ: Disable pylint plugin bad_builtin
  pyproject.toml
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
