Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

Add -dump to Update prepare-code-coverage-artifact.py
  utils/prepare-code-coverage-artifact.py
Due: utils

Limit to ./build/output for collecting binaries cmake.yml
  .github/workflows/cmake.yml
Due: none

Exclude some tests in .gunittest.cfg
  .gunittest.cfg
Due: none

cmake: Add code coverage cmake module
  cmake/modules/code-coverage.cmake
Due: none

Add code coverage to CMake configuration
  CMakeLists.txt
Due: none

CI(cmake): Enable code coverage
  .github/workflows/cmake.yml
Due: none

Exclude some tests
  .gunittest.cfg
Due: none

cmake: Include code coverage module
  CMakeLists.txt
Due: none

CI(cmake): Set llvm-profdata and llvm-cov paths
  .github/workflows/cmake.yml
Due: none

Create coverage even on failures
  .github/workflows/cmake.yml
Due: none

Add help target to CMake build step
  .github/workflows/cmake.yml
Due: none

Move code coverage call up in CMakeLists
  CMakeLists.txt
Due: none

docs: Fix docstring formatting of grass.jupyter.interactivemap
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

docs: Exclude files from apidoc that can't be imported
  python/grass/docs/Makefile
Due: python library

docs: Fix code block formatting of grass.pygrass.gis.region
  python/grass/pygrass/gis/region.py
Due: pygrass, python library

docs: Fix code block formatting of grass.script.core
  python/grass/script/core.py
Due: python library

grass.script.raster: Add typing annotations related to raster_what()
  python/grass/script/raster.py
Due: python library

docs: Fix param syntax of grass.script.core
  python/grass/script/core.py
Due: python library

docs: Do not provide value for sphinx's "today" config option
  python/grass/docs/conf.py
Due: python library

docs: Ignore auto-generated .rst files for python lib docs
  .gitignore
Due: none

docs: Add autodocs typehints to both signature and content, groupwise order, and documented params
  python/grass/docs/conf.py
Due: python library

docs: Place module contents before submodules for pydispatch
  python/grass/docs/Makefile
Due: python library

grass.jupyter: Add typing annotations related to query_raster()
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

make: Disable generating .pyc files
  gui/wxpython/Makefile
  include/Make/Python.make
  include/Make/Script.make
  python/grass/app/Makefile
  python/grass/benchmark/Makefile
  python/grass/exceptions/Makefile
  python/grass/experimental/Makefile
  python/grass/grassdb/Makefile
  python/grass/gunittest/Makefile
  python/grass/imaging/Makefile
  python/grass/jupyter/Makefile
  python/grass/pydispatch/Makefile
  python/grass/pygrass/Makefile
  python/grass/pygrass/gis/Makefile
  python/grass/pygrass/messages/Makefile
  python/grass/pygrass/modules/Makefile
  python/grass/pygrass/modules/grid/Makefile
  python/grass/pygrass/modules/interface/Makefile
  python/grass/pygrass/raster/Makefile
  python/grass/pygrass/rpc/Makefile
  python/grass/pygrass/shell/Makefile
  python/grass/pygrass/tests/Makefile
  python/grass/pygrass/vector/Makefile
  python/grass/script/Makefile
  python/grass/semantic_label/Makefile
  python/grass/temporal/Makefile
  python/grass/utils/Makefile
  python/libgrass_interface_generator/Makefile
Due: gui, pygrass, gunittest, notebooks (jupyter), python library

docs: Fix code block syntax in grass.exceptions
  python/grass/exceptions/__init__.py
Due: python library

docs: Fix ambiguity in ScriptError reference in grass.script.core
  python/grass/script/core.py
Due: python library

docs: Enable output of TODO admonitions
  python/grass/docs/conf.py
Due: python library

docs: Render sphinx docs with the same order as the source code to help compare
  python/grass/docs/conf.py
Due: python library

docs: Fix indent of return of grass.grassdb.read()
  python/grass/grassdb/history.py
Due: python library

docs: Parameter typing for AbstractSpaceTimeDataset.register_map
  python/grass/imaging/images2avi.py
Due: python library

docs: Use attention admonitions in docstrings of grass.pygrass.gis.region
  python/grass/pygrass/gis/region.py
Due: pygrass, python library

mkdocs: Disable CSS text-transform capitalization as it changes the API docs case
  man/mkdocs/grassdocs.css
  python/grass/docs/_static/pygrass.css
Due: man, python library

docs: Enable duration sphinx extension
  python/grass/docs/conf.py
Due: python library

docs: Use double backticks for inline code style in grass.script.core
  python/grass/script/core.py
Due: python library

docs: Use crossrefs in docstrings of grass.pygrass.gis.region
  python/grass/pygrass/gis/region.py
Due: pygrass, python library

docs: Replace <tt></tt> markup with double backticks in docstrings
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
Due: python library

cmake: Place add_code_coverage() at the end
  CMakeLists.txt
Due: none

docs: Make Example code blocks indented inside the header in the rendered page
  python/grass/script/core.py
  python/grass/script/raster3d.py
Due: python library

docs: Fix code block formatting in grass.script.core
  python/grass/script/core.py
Due: python library

docs: Configure intersphinx extension for linking to python library docs
  python/grass/docs/conf.py
Due: python library
