Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

docs: Fix underline too short in script_intro.rst
  python/grass/docs/src/script_intro.rst
Due: python library

docs: Use TODO admonitions in python/grass/docs/src/temporal_framework.rst
  python/grass/docs/src/temporal_framework.rst
Due: python library

docs: Enable output of TODO admonitions
  python/grass/docs/conf.py
Due: python library

docs: Place module contents before submodules for pydispatch
  python/grass/docs/Makefile
Due: python library

docs: Use double backticks for inline code in pygrass.vector.geometry
  python/grass/pygrass/vector/geometry.py
Due: pygrass, python library

docs: Use and format complex pycon language for python console code blocks
  python/grass/pygrass/rpc/__init__.py
  python/grass/pygrass/rpc/base.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/base.py
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/datetime_math.py
  python/grass/temporal/list_stds.py
  python/grass/temporal/metadata.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/spatial_topology_dataset_connector.py
  python/grass/temporal/spatio_temporal_relationships.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_granularity.py
  python/grass/temporal/temporal_raster_algebra.py
  python/grass/temporal/temporal_topology_dataset_connector.py
Due: pygrass, python library

docs: Fix type field-list in features_to_wkb_list() of pygrass.vector docstring
  python/grass/pygrass/vector/__init__.py
Due: pygrass, python library

docs: Format code blocks in pygrass.vector.find and pygrass.vector
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

docs: Fix docstring indent for SpatioTemporalTopologyBuilder
  python/grass/temporal/spatio_temporal_relationships.py
Due: python library

make: Disable generating .pyc files
  gui/wxpython/Makefile
  include/Make/Python.make
  include/Make/Script.make
  python/grass/app/Makefile
  python/grass/benchmark/Makefile
  python/grass/exceptions/Makefile
  python/grass/experimental/Makefile
  python/grass/grassdb/Makefile
  python/grass/gunittest/Makefile
  python/grass/imaging/Makefile
  python/grass/jupyter/Makefile
  python/grass/pydispatch/Makefile
  python/grass/pygrass/Makefile
  python/grass/pygrass/gis/Makefile
  python/grass/pygrass/messages/Makefile
  python/grass/pygrass/modules/Makefile
  python/grass/pygrass/modules/grid/Makefile
  python/grass/pygrass/modules/interface/Makefile
  python/grass/pygrass/raster/Makefile
  python/grass/pygrass/rpc/Makefile
  python/grass/pygrass/shell/Makefile
  python/grass/pygrass/tests/Makefile
  python/grass/pygrass/vector/Makefile
  python/grass/script/Makefile
  python/grass/semantic_label/Makefile
  python/grass/temporal/Makefile
  python/grass/utils/Makefile
  python/libgrass_interface_generator/Makefile
Due: gui, pygrass, gunittest, notebooks (jupyter), python library

mkdocs: Disable CSS text-transform capitalization as it changes the API docs case
  man/mkdocs/grassdocs.css
  python/grass/docs/_static/pygrass.css
Due: man, python library

docs: Fix unescaped substitutions and emphasis, various typos or simple issues
  python/grass/gunittest/testsuite/test_checkers.py
  python/grass/pygrass/utils.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/base.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_operator.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_vector_algebra.py
Due: pygrass, gunittest, python library

docs: Add autodocs typehints to both signature and content, groupwise order, and documented params
  python/grass/docs/conf.py
Due: python library

docs: Ignore auto-generated .rst files for python lib docs
  .gitignore
Due: none

docs: Format args and kwargs param in gs.write_command
  python/grass/script/core.py
Due: python library

docs: Use double backticks for inline code in pygrass/modules/interface/module.py and grass.script.core
  python/grass/pygrass/modules/interface/module.py
  python/grass/script/core.py
Due: pygrass, python library

docs: Unindent docstring for AbstractSpaceTimeDataset.register_map
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

docs: Fix list formatting for python/grass/imaging/images2avi.py writeAvi()
  python/grass/imaging/images2avi.py
Due: python library

docs: Hide c_read_next_line() and c_read_line() in python/grass/pygrass/vector/geometry.py
  python/grass/pygrass/vector/geometry.py
Due: pygrass, python library

docs: Unindent AbstractSpaceTimeDataset.set_initial_values() docstring
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

docs: Parameter typing for AbstractSpaceTimeDataset.register_map
  python/grass/imaging/images2avi.py
Due: python library

docs: Fix docstring formating for grass.script.core.tempname()
  python/grass/script/core.py
Due: python library

docs: Fix docstring indenting/unindenting
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/base.py
Due: python library

docs: Format code-blocks using pycon in pygrass.vector.geometry
  python/grass/pygrass/vector/geometry.py
Due: pygrass, python library

docs: Do not provide value for sphinx's "today" config option
  python/grass/docs/conf.py
Due: python library

docs: Use TODO admonitions in pygrass.vector.geometry
  python/grass/pygrass/vector/geometry.py
Due: pygrass, python library

grass.jupyter: Add typing annotations related to query_raster()
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

docs: Use pycon language for python console code blocks (simple changes)
  python/grass/temporal/base.py
  python/grass/temporal/core.py
  python/grass/temporal/datetime_math.py
  python/grass/temporal/gui_support.py
  python/grass/temporal/metadata.py
  python/grass/temporal/space_time_datasets.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_extent.py
  python/grass/temporal/temporal_granularity.py
  python/grass/temporal/temporal_operator.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_topology_dataset_connector.py
  python/grass/temporal/temporal_vector_algebra.py
Due: python library

grass.script.raster: Add typing annotations related to raster_what()
  python/grass/script/raster.py
Due: python library

docs: Use pycon language instead of python for python console code blocks formatting
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/temporal_algebra.py
Due: python library

docs: Enable duration sphinx extension
  python/grass/docs/conf.py
Due: python library

docs: Use references to methods and classes in pygrass.vector.find and pygrass.vector docstrings
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/vector/find.py
Due: pygrass, python library

docs: Exclude files from apidoc that can't be imported
  python/grass/docs/Makefile
Due: python library

docs: Fixes issues in docstrings related to parameter list rendering 5818
  python/grass/jupyter/interactivemap.py
  python/grass/pygrass/utils.py
  python/grass/pygrass/vector/geometry.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/core.py
  python/grass/temporal/spatio_temporal_relationships.py
  python/grass/temporal/univar_statistics.py
Due: pygrass, notebooks (jupyter), python library

docs: Fix link to style_guide.md
  doc/python_intro.md
Due: none

docs: Format code blocks in MultiModule class of pygrass.modules.interface docstrings
  python/grass/pygrass/modules/interface/module.py
Due: pygrass, python library

docs: Fix python 2 code blocks in pygrass.modules.interface docstrings
  python/grass/pygrass/modules/interface/module.py
Due: pygrass, python library

docs: Render sphinx docs with the same order as the source code to help compare
  python/grass/docs/conf.py
Due: python library

docs: Fix unescaped substitutions and emphasis, various typos or simple issues 5826
  python/grass/docs/src/script_intro.rst
  python/grass/gunittest/testsuite/test_checkers.py
  python/grass/imaging/images2avi.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/utils.py
  python/grass/pygrass/vector/__init__.py
  python/grass/pygrass/vector/geometry.py
  python/grass/script/core.py
  python/grass/temporal/abstract_map_dataset.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/base.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_operator.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_vector_algebra.py
Due: pygrass, gunittest, python library

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
