Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

t.rast.accdetect: Call t.remove with multiple inputs
  temporal/t.rast.accdetect/testsuite/test_simple.py
  temporal/t.topology/test.t.topology.reltime.sh
Due: none

grass.temporal.ply: Fix collapsible-if (SIM102)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix incorrectly-parenthesized-tuple-in-subscript (RUF031)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix os-error-alias (UP024)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix missing-return-type-private-function (ANN202)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix missing-trailing-comma (COM812)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix printf-string-formatting (UP031)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix delete-full-slice (FURB131)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix f-string (UP032)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix enumerate-for-loop (SIM113)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix yoda-conditions (SIM300)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix repeated-equality-comparison (PLR1714)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix missing-return-type-special-method (ANN204)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix raw-string-in-exception (EM101)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix literal-membership (PLR6201)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix manual-list-comprehension (PERF401)
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal.ply: Fix if-else-block-instead-of-if-exp (SIM108)
  python/grass/temporal/ply/lex.py
  python/grass/temporal/ply/yacc.py
Due: python library

grass.temporal: Fix unused-import (F401)
  python/grass/temporal/testsuite/unittests_temporal_algebra_grs.py
  python/grass/temporal/testsuite/unittests_temporal_algebra_mixed_stds.py
  python/grass/temporal/testsuite/unittests_temporal_conditionals.py
Due: python library

grass.benchmark: Fix unused-import (F401) by defining __all__
  python/grass/benchmark/__init__.py
Due: python library

grass.imaging: Apply isort
  python/grass/imaging/__init__.py
Due: python library

doc: Fix unused-import (F401)
  doc/notebooks/hydrology.ipynb
  doc/notebooks/jupyter_tutorial.ipynb
  doc/notebooks/parallelization_tutorial.ipynb
  doc/notebooks/solar_potential.ipynb
  doc/notebooks/viewshed_analysis.ipynb
Due: notebooks (jupyter)

v.fill.holes: Fix unused-import (F401)
  vector/v.fill.holes/examples.ipynb
Due: notebooks (jupyter)

raster: Fix unused-import (F401) for testsuite
  raster/r.in.ascii/testsuite/test_r_in_ascii.py
  raster/r.object.geometry/testsuite/test_r_object_geometry.py
  raster/r.viewshed/testsuite/test_r_viewshed.py
Due: none

grass.pygrass.vector: Sort imports
  python/grass/pygrass/vector/testsuite/test_filters.py
  python/grass/pygrass/vector/testsuite/test_geometry.py
  python/grass/pygrass/vector/testsuite/test_geometry_attrs.py
  python/grass/pygrass/vector/testsuite/test_pygrass_vector_doctests.py
  python/grass/pygrass/vector/testsuite/test_table.py
  python/grass/pygrass/vector/testsuite/test_vector.py
  python/grass/pygrass/vector/testsuite/test_vector3d.py
Due: pygrass, python library

temporal: Fix unused-import (F401) in testsuite
  temporal/t.rast.aggregate/testsuite/test_aggregation_absolute.py
  temporal/t.rast.aggregate/testsuite/test_aggregation_absolute_parallel.py
  temporal/t.rast.aggregate/testsuite/test_aggregation_relative.py
  temporal/t.rast.algebra/testsuite/test_raster_algebra_operators.py
  temporal/t.rast.extract/testsuite/test_t_rast_extract.py
  temporal/t.rast.gapfill/testsuite/test_gapfill.py
  temporal/t.rast.neighbors/testsuite/test_neighbors.py
  temporal/t.rast.series/testsuite/test_series.py
  temporal/t.rast.to.rast3/testsuite/test_strds_to_rast3.py
  temporal/t.rast.to.vect/testsuite/test_to_vect.py
  temporal/t.rast.univar/testsuite/test_t_rast_univar.py
  temporal/t.rast3d.extract/testsuite/test_t_rast3d_extract.py
  temporal/t.rast3d.univar/testsuite/test_t_rast3d_univar.py
  temporal/t.shift/testsuite/test_shift.py
  temporal/t.snap/testsuite/test_snap.py
  temporal/t.support/testsuite/test_support_str3ds.py
  temporal/t.support/testsuite/test_support_strds.py
  temporal/t.support/testsuite/test_support_stvds.py
  temporal/t.unregister/testsuite/test_unregister.py
Due: none

grass.pygrass.rpc: Fix unused-import (F401) in __init__
  python/grass/pygrass/rpc/__init__.py
Due: pygrass, python library

grass.semantic_label: Fix unused-import (F401) by defining __all__ in __init__
  python/grass/semantic_label/__init__.py
Due: python library

grass.pygrass.modules.interface: Apply isort
  python/grass/pygrass/modules/interface/__init__.py
Due: pygrass, python library

grass.pygrass.modules.interface: Fix unused-import (F401) by defining __all__ in __init__
  python/grass/pygrass/modules/interface/__init__.py
Due: pygrass, python library

grass.jupyter: Fix unused-import (F401) by defining __all__ in __init__
  python/grass/jupyter/__init__.py
Due: notebooks (jupyter), python library

grass.pygrass.vector: Fix unused-import (F401) for testsuite
  python/grass/pygrass/vector/testsuite/test_geometry.py
  python/grass/pygrass/vector/testsuite/test_geometry_attrs.py
  python/grass/pygrass/vector/testsuite/test_pygrass_vector_doctests.py
  python/grass/pygrass/vector/testsuite/test_vector.py
  python/grass/pygrass/vector/testsuite/test_vector3d.py
Due: pygrass, python library

grass.pygrass.modules: Apply isort
  python/grass/pygrass/modules/__init__.py
Due: pygrass, python library

vector: Fix unused-import (F401) for testsuite
  vector/v.extract/testsuite/test_v_extract.py
  vector/v.in.ogr/testsuite/test_v_in_ogr.py
Due: none

grass.pygrass.modules.grid: Fix unused-import (F401) by defining __all__ in __init__
  python/grass/pygrass/modules/grid/__init__.py
Due: pygrass, python library

grass.pygrass.modules: Fix unused-import (F401) by defining __all__ in __init__
  python/grass/pygrass/modules/__init__.py
Due: pygrass, python library

grass.imaging: Fix unused-import (F401) by defining __all__ in __init__
  python/grass/imaging/__init__.py
Due: python library

DEBUG: Remove shorter test runs and results
  hf_test_acc.json
  hf_test_acc.md
  hf_test_acc2.json
  hf_test_acc2.md
  temporal/t.rast.accumulate/testsuite/test_accumulation1.py
  temporal/t.rast.accumulate/testsuite/test_accumulation2.py
  temporal/t.rast.accumulate/testsuite/test_accumulation3.py
Due: none

scripts: Fix unused-import (F401) for testsuite
  scripts/db.in.ogr/testsuite/test_db_in_ogr.py
  scripts/r.fillnulls/testsuite/test_r_fillnulls.py
  scripts/r.grow/testsuite/test_r_grow.py
  scripts/v.dissolve/v_dissolve.ipynb
Due: scripts, notebooks (jupyter)

grass.jupyter: Apply isort
  python/grass/jupyter/__init__.py
Due: notebooks (jupyter), python library
