Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

pytest: mark tests using fixture space_time_raster_dataset as needs_solo_run
  python/grass/jupyter/tests/seriesmap_test.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  temporal/t.rast.list/tests/t_rast_list_test.py
Due: notebooks (jupyter), python library

pytest: Add pytest-timeout to macOS dependencies
  .github/workflows/macos_dependencies.txt
Due: none

pytest: Use pytest.importorskip
  python/grass/jupyter/tests/seriesmap_test.py
  python/grass/jupyter/tests/timeseriesmap_test.py
  temporal/t.rast.list/tests/t_rast_list_test.py
Due: notebooks (jupyter), python library

pytest: Use pytest.importorskip
  python/grass/jupyter/tests/seriesmap_test.py
  temporal/t.rast.list/tests/t_rast_list_test.py
Due: notebooks (jupyter), python library

CI(macOS): Run pytest on macOS without stopping job on failure (doesn't appear red)
  .github/workflows/macos.yml
Due: none

DEBUGGING: CI(macOS): Enable environment caching
  .github/workflows/macos.yml
Due: none

pytest: Add pytest-github-actions-annotate-failures to macOS dependencies
  .github/workflows/macos_dependencies.txt
Due: none

pytest: Use pytest.importorskip
  python/grass/jupyter/tests/timeseriesmap_test.py
Due: notebooks (jupyter), python library

CI(macOS): Add pytest dependencies to macOS workflow
  .github/workflows/macos_dependencies.txt
Due: none

Add test_init_finish_global_functions_capture_strerr0_partial
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

Add xfail if start method is spawn
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

Apply suggestions from code review
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

Add reason to xfail with condition
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

Create global conftest.py with @xfail_mp_spawn
  conftest.py
Due: none

Update grass_script_setup_test.py
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

Update conftest.py xfail_mp_spawn
  python/grass/script/tests/conftest.py
Due: python library

Update conftest.py import multiprocessing
  python/grass/script/tests/conftest.py
Due: python library

Update conftest.py
  python/grass/script/tests/conftest.py
Due: python library

Update grass_script_setup_test.py strict
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

Update grass_pygrass_grid_test.py @xfail_mp_spawn
  python/grass/pygrass/modules/tests/grass_pygrass_grid_test.py
Due: pygrass, python library

Update grass_script_core_location_test.py @xfail_mp_spawn
  python/grass/script/tests/grass_script_core_location_test.py
Due: python library

Update python/grass/script/tests/grass_script_setup_test.py
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

Delete conftest.py
  conftest.py
Due: none

Update lib_gis_env_test.py @xfail_mp_spawn
  lib/gis/tests/lib_gis_env_test.py
Due: lib

Update lib_gis_env_test.py pytest
  lib/gis/tests/lib_gis_env_test.py
Due: lib

Add xfail if start method is spawn Add reason to xfail with condition
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

Update grass_script_core_location_test.py @xfail_mp_spawn
  python/grass/script/tests/grass_script_core_location_test.py
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

pytest(macOS): Enable code coverage for single worker
  .github/workflows/macos.yml
  .github/workflows/macos_dependencies.txt
Due: none

debug gpg
  .github/workflows/macos.yml
Due: none

CI(macOS): Use if: ${{ !cancelled() }} when appropriate
  .github/workflows/macos.yml
Due: none

reinstall gnupg
  .github/workflows/macos.yml
Due: none

debug tree
  .github/workflows/macos.yml
Due: none
