Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

CI: Decode closures per package with 7-Zip, plus a wildcard variant [7zip only]
  .github/osgeo4w-setup-bench/sevenzip.ps1
Due: none

CI: Add an OSGeo4W setup rebase experiment (upstream smoke build)
  .github/osgeo4w-setup-bench/build_upstream.sh
  .github/workflows/osgeo4w-setup-rebase.yml
Due: none

CI: Probe MSYS2 packages for the setup rebase build
  .github/workflows/osgeo4w-setup-rebase.yml
Due: none

CI: Build upstream setup with Cygwin's mingw-w64 toolchain
  .github/osgeo4w-setup-bench/build_upstream.sh
  .github/workflows/osgeo4w-setup-rebase.yml
Due: none

CI: Probe libsolv with the cross pkg-config
  .github/workflows/osgeo4w-setup-rebase.yml
Due: none

CI: Keep LF line endings for the setup rebase build scripts
  .github/osgeo4w-setup-bench/.gitattributes
  .github/workflows/osgeo4w-setup-rebase.yml
Due: none

CI: Use Cygwin's git and PATH for the upstream setup build
  .github/osgeo4w-setup-bench/build_upstream.sh
  .github/workflows/osgeo4w-setup-rebase.yml
Due: none

CI: Add the OSGeo4W patch series and build it with the Cygwin cross toolchain
  .github/osgeo4w-setup-bench/rebase/0001-mount-Use-a-single-OSGeo4W-root-instead-of-the-Cygwi.diff
  .github/osgeo4w-setup-bench/rebase/0002-root-Use-the-OSGeo4W-default-root-and-drop-the-Cygwi.diff
  .github/osgeo4w-setup-bench/rebase/0003-main-Resolve-the-root-from-root-OSGEO4W_ROOT-or-a-de.diff
  .github/osgeo4w-setup-bench/rebase/0004-ini-Read-OSGeo4W-setup.ini-names-without-signatures-.diff
  .github/osgeo4w-setup-bench/rebase/0005-options-script-OSGeo4W-options-no-shortcuts-made-by-.diff
  .github/osgeo4w-setup-bench/rebase/0006-install-Rename-in-use-files-instead-of-stopping-proc.diff
  .github/osgeo4w-setup-bench/rebase/0007-branding-OSGeo4W-name-icon-user-agent-URLs-and-enabl.diff
  .github/workflows/osgeo4w-setup-rebase.yml
Due: none

CI: Check out upstream setup with LF line endings, add plain-file switch to the series
  .github/osgeo4w-setup-bench/rebase/0008-files-Select-Cygwin-or-plain-file-semantics-at-run-t.diff
  .github/workflows/osgeo4w-setup-rebase.yml
Due: none

CI: Mark the upstream checkout safe for Cygwin git
  .github/osgeo4w-setup-bench/build_upstream.sh
  .github/osgeo4w-setup-bench/rebase-bench/0001-bench-Log-the-extraction-time-of-every-package.diff
  .github/osgeo4w-setup-bench/rebase-bench/0002-bench-Update-the-progress-UI-at-most-every-50-ms.diff
Due: none

CI: Apply the setup patches to the work tree only
  .github/osgeo4w-setup-bench/build_upstream.sh
  .github/osgeo4w-setup-bench/rebase/0009-misc-Honour-etc-reboot-from-post-install-scripts-and.diff
  .github/osgeo4w-setup-bench/rebase/0010-license-Download-and-accept-the-licenses-of-packages.diff
Due: none

CI: Fix a resource name, add a mingw-w64 build of the fork
  .github/osgeo4w-setup-bench/build_fork_mingw.sh
  .github/osgeo4w-setup-bench/patches-fork-mingw/0001-setup-build-with-mingw-w64.diff
  .github/osgeo4w-setup-bench/rebase/0011-branding-Do-not-let-the-OSGEO4W-macro-rewrite-a-reso.diff
  .github/workflows/osgeo4w-setup-rebase.yml
Due: none

CI: Full benchmark workflow, parity script and variant runner for the setup rebase
  .github/osgeo4w-setup-bench/build_upstream.sh
  .github/osgeo4w-setup-bench/parity.ps1
  .github/osgeo4w-setup-bench/run_setup.ps1
  .github/workflows/osgeo4w-setup-rebase.yml
Due: none

CI: Fix an unused function in the root patch
  .github/osgeo4w-setup-bench/rebase/0002-root-Use-the-OSGeo4W-default-root-and-drop-the-Cygwi.diff
Due: none

CI: Stop the mirror server without a condition
  .github/workflows/osgeo4w-setup-rebase.yml
Due: none

CI: Build all of setup including libgetopt++, add the fixes found in review
  .github/osgeo4w-setup-bench/build_upstream.sh
  .github/osgeo4w-setup-bench/rebase/0012-main-Keep-settings-in-the-root-the-package-cache-in-.diff
Due: none

CI: Updated OSGeo4W series after review
  .github/osgeo4w-setup-bench/rebase/0013-review-Set-the-root-after-logging-exists-keep-exit-s.diff
Due: none

CI: Updated OSGeo4W series, inilint links
  .github/osgeo4w-setup-bench/rebase/0014-files-Keep-the-file-semantics-switch-in-a-file-inili.diff
Due: none

CI: Screenshot and UI dump when setup stalls, fix parity script syntax and the CRLF patch failure for the mingw fork
  .github/osgeo4w-setup-bench/build_fork_mingw.sh
  .github/osgeo4w-setup-bench/parity.ps1
  .github/osgeo4w-setup-bench/run_setup.ps1
  .github/workflows/osgeo4w-setup-rebase.yml
Due: none

CI: Benchmark 64 KiB I/O buffers and UI throttling in the OSGeo4W setup
  .github/osgeo4w-setup-bench/build_setup.ps1
  .github/osgeo4w-setup-bench/make_mirror.py
  .github/osgeo4w-setup-bench/patches/0001-setup-log-extraction-time.diff
  .github/osgeo4w-setup-bench/patches/0002-setup-throttle-ui-updates.diff
  .github/osgeo4w-setup-bench/patches/0003-setup-64k-copy-and-md5-buffers.diff
  .github/osgeo4w-setup-bench/patches/0004-setup-64k-bzip2-input-buffer.diff
  .github/osgeo4w-setup-bench/run_setup.ps1
  .github/workflows/osgeo4w-setup-bench.yml
Due: none

CI: Upload the OSGeo4W setup variants of the benchmark as an artifact
  .github/workflows/osgeo4w-setup-bench.yml
Due: none

CI: Fix the patch directory shadowed by a parameter in the OSGeo4W setup benchmark
  .github/osgeo4w-setup-bench/build_setup.ps1
Due: none

grass.script: Set up resource paths when only GISBASE is set
  python/grass/app/runtime.py
  python/grass/script/setup.py
  python/grass/script/tests/grass_script_setup_test.py
Due: python library

libgis: Fall back to GISBASE for unset resource directories
  lib/gis/CMakeLists.txt
  lib/gis/locale.c
  lib/gis/resource_dirs.c
  lib/gis/resource_dirs.h
  lib/gis/tests/lib_gis_resource_dirs_test.py
Due: lib

wxGUI: Fix typos and rename misspelled identifiers
  gui/wxpython/core/workspace.py
  gui/wxpython/gcp/mapdisplay.py
  gui/wxpython/gmodeler/model_items.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/image2target/ii2t_mapdisplay.py
  gui/wxpython/iscatt/dialogs.py
  gui/wxpython/lmgr/workspace.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/photo2image/ip2i_mapdisplay.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/psmap/utils.py
  gui/wxpython/rlisetup/functions.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/vdigit/preferences.py
  gui/wxpython/vnet/dialogs.py
  gui/wxpython/web_services/widgets.py
Due: gui

docs: Fix typos in goodness.tex
  lib/cdhc/doc/goodness.tex
Due: lib

Python: Fix typos in comments, docstrings and tests
  db/db.columns/testsuite/test_db_columns.py
  man/build_class_graphical.py
  man/build_manual_gallery.py
  man/sphinx/conf.py
  python/grass/gunittest/testsuite/test_gunitest_doctests.py
  python/grass/imaging/images2swf.py
  python/grass/pydispatch/signal.py
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/gis/testsuite/test_pygrass_gis_doctests.py
  python/grass/pygrass/modules/grid/grid.py
  python/grass/pygrass/modules/interface/testsuite/test_pygrass_modules_interface_doctests.py
  python/grass/pygrass/raster/testsuite/test_pygrass_raster_doctests.py
  python/grass/pygrass/shell/testsuite/test_pygrass_shell_doctests.py
  python/grass/pygrass/testsuite/test_pygrass_doctests.py
  python/grass/pygrass/vector/basic.py
  python/grass/pygrass/vector/table.py
  python/grass/pygrass/vector/testsuite/test_pygrass_vector_doctests.py
  python/grass/semantic_label/reader.py
  python/grass/temporal/datetime_math.py
  python/grass/temporal/extract.py
  python/grass/temporal/metadata.py
  python/grass/temporal/testsuite/test_mapset_change.py
  python/grass/tools/tests/grass_tools_tool_error_test.py
  python/grass/utils/download.py
  raster/r.info/testsuite/test_r_info.py
  raster/r.smooth.edgepreserve/testsuite/test_r_smooth_edgepreserve.py
  scripts/g.extension.all/g.extension.all.py
  scripts/i.oif/i.oif.py
  scripts/r.grow/testsuite/test_r_grow.py
  scripts/r.reclass.area/testsuite/test_r_reclass_area.py
  scripts/v.report/v.report.py
  utils/g.md2man/tests/g_md2man_test.py
  utils/generate_release_notes.py
  utils/update_version.py
  vector/v.db.select/testsuite/test_v_db_select_json_csv.py
Due: man, utils, scripts, pygrass, gunittest, python library

grass.tools: Assert results in levenshtein empty-text test
  python/grass/tools/tests/grass_tools_tool_function_wrap_test.py
Due: python library

grass.temporal: Remove duplicate test_common_granularity_4
  python/grass/temporal/testsuite/unittests_temporal_algebra_grs.py
Due: python library

grass.pygrass: Remove unreachable bare raise after fatal
  python/grass/pygrass/raster/abstract.py
Due: pygrass, python library

pylint: Remove duplicate W0621 entry from disable list
  pyproject.toml
Due: none

pylint: Enable message checks with no findings in the repo
  pyproject.toml
Due: none

pylint: Enable inference-dependent checks with no local findings
  pyproject.toml
Due: none

checks: Enable codespell for Python and TeX files
  .pre-commit-config.yaml
  pyproject.toml
Due: none

pylint: Keep W4902 disabled
  pyproject.toml
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
