Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

CI: Use OIDC to upload coverage
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
Due: none

grass.gunittest: Fix typo in function `TestCase.assertVectorsNoAreaDifference()` for `_compute_vector_xor`
  .gunittest.cfg
  python/grass/gunittest/case.py
Due: gunittest, python library

CI(macOS): Upload test results to Codecov for test analytics
  .github/workflows/macos.yml
Due: none

CI(OSGeo4W): Upload test results to Codecov for test analytics
  .github/workflows/osgeo4w.yml
Due: none

CI(pytest): Upload test results to Codecov for test analytics
  .github/workflows/pytest.yml
  .github/workflows/pytest_args_ci.txt
  .gitignore
Due: none

CI: Add 'exclude: gui' to test results actions
  .github/workflows/macos.yml
  .github/workflows/osgeo4w.yml
  .github/workflows/pytest.yml
Due: none

tests: Intentionally make some pytest tests fail
  python/grass/script/tests/grass_script_raster_mask_test.py
  python/grass/script/tests/grass_script_setup_test.py
  scripts/v.db.univar/tests/v_db_univar_test.py
Due: scripts, python library

grass.gunittest: Mark test_assertVectorEqualsAscii_by_import as expectedFailure to enable running the remaining of the file
  python/grass/gunittest/testsuite/test_assertions_vect.py
Due: gunittest, python library

Apply formatting
  python/grass/gunittest/testsuite/test_vector_xor_methods.py
Due: gunittest, python library

Update scripts/v.db.univar/tests/v_db_univar_test.py
  scripts/v.db.univar/tests/v_db_univar_test.py
Due: scripts

docs(lib): Update parameter descriptions to match function signature and add missing parameter tags
  lib/gis/make_loc.c
  lib/gmath/la.c
  lib/gpde/n_gwflow.c
  lib/gpde/n_les_assemble.c
  lib/imagery/group.c
  lib/imagery/iscatt_structs.c
  lib/imagery/manage_signatures.c
  lib/imagery/sig.c
  lib/imagery/sigset.c
  lib/nviz/map_obj.c
  lib/nviz/render.c
  lib/ogsf/gk.c
  lib/ogsf/gp2.c
  lib/ogsf/gs.c
  lib/ogsf/gs_bm.c
  lib/ogsf/gsd_cplane.c
  lib/ogsf/gsd_objs.c
  lib/ogsf/gv3.c
  lib/ogsf/gvl.c
  lib/ogsf/gvl2.c
  lib/ogsf/gvl_calc.c
  lib/ogsf/gvl_file.c
  lib/proj/get_proj.c
  lib/raster/histogram.c
  lib/raster/quant.c
  lib/raster/quant_rw.c
  lib/raster3d/history.c
  lib/raster3d/mask.c
  lib/raster3d/open2.c
  lib/vector/Vlib/geos_to_wktb.c
  lib/vector/diglib/plus_line.c
  lib/vector/diglib/struct_alloc.c
  lib/vector/neta/timetables.c
  lib/vector/vedit/move.c
Due: lib

docs(lib): Update parameter descriptions to match function signature, add missing param tags in doxygen docstrings
  lib/db/dbmi_client/select.c
  lib/ogsf/gk2.c
  lib/ogsf/gp2.c
  lib/ogsf/gsx.c
  lib/ogsf/gv2.c
Due: lib

docs(lib): Put parameter direction on \param, not parameter name
  db/drivers/ogr/describe.c
  lib/imagery/iscatt_core.c
  lib/ogsf/gs_util.c
Due: lib

docs: Format docstrings of IL_crst and IL_crstg in lib/rst/interp_float/func2d.c for doxygen and IDEs
  lib/rst/interp_float/func2d.c
Due: lib

docs: Fix file command for lib/ogsf/gsd_objs.c
  lib/ogsf/gsd_objs.c
Due: lib

man: Ignore UNUSED attribute macros on parameters for doxygen docs
  include/Make/Doxyfile_arch_html.in
  include/Make/Doxyfile_arch_latex.in
Due: none

man: EXPAND_ONLY_PREDEF = YES in doxygen config
  include/Make/Doxyfile_arch_html.in
  include/Make/Doxyfile_arch_latex.in
Due: none

Revert "man: EXPAND_ONLY_PREDEF = YES in doxygen config"
  include/Make/Doxyfile_arch_html.in
  include/Make/Doxyfile_arch_latex.in
Due: none

docs: Add missing param tags or fix invalid formatting in doxygen docstrings
  lib/gis/open_misc.c
  lib/vector/Vlib/open.c
  lib/vector/Vlib/read_nat.c
  lib/vector/Vlib/simple_features.c
  lib/vector/Vlib/write_nat.c
  lib/vector/neta/spanningtree.c
Due: lib

docs(lib): Rename siz parameter to size in GS_get_modelposition
  lib/ogsf/gs2.c
Due: lib

docs: Format doxygen docstrings
  lib/imagery/manage_signatures.c
  lib/vector/Vlib/open.c
Due: lib

docs(lib/ogsf): Add parameter directions to many files in ogsf library
  lib/gis/distance.c
  lib/gis/geodist.c
  lib/ogsf/gs.c
  lib/ogsf/gs3.c
  lib/ogsf/gs_util.c
  lib/ogsf/gsdrape.c
  lib/ogsf/gsget.c
Due: lib

docs(lib/ogsf): Refactor, enhance and uniformize lib/ogsf/gsd_objs.c
  lib/ogsf/gsd_objs.c
Due: lib

docs(lib/ogsf): Fix typo
  lib/ogsf/gsdrape.c
Due: lib

docs(lib/ogsf): Format typedefs in include/grass/ogsf.h for correct Doxygen rendering and also correct parsing inside IDEs.
  include/grass/ogsf.h
Due: none

Rename GRASS GIS to GRASS
  python/grass/docs/src/pygrass_gis.rst
  python/grass/docs/src/temporal_framework.rst
Due: python library

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

Rename GRASS GIS to GRASS
  REQUIREMENTS.md
  db/databaseintro.md
  doc/grass_database.html
  docker/ubuntu/Dockerfile
  general/g.gisenv/g.gisenv.md
  general/g.version/g.version.md
  lib/gis/colors/grass
  python/grass/docs/src/gunittest_running_tests.rst
  python/grass/docs/src/pygrass_raster.rst
  python/grass/docs/src/pygrass_vector.rst
  python/grass/docs/src/script_intro.rst
  vector/vectorintro.md
Due: lib, python library

Rename GRASS GIS to GRASS in issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Rename GRASS GIS to GRASS in workflows
  .github/workflows/build_osgeo4w.sh
  .github/workflows/create_release_draft.yml
  .github/workflows/macos_distribute_app.yml
  .github/workflows/osgeo4w.yml
Due: none

Rename GRASS GIS to GRASS in Dockerfiles and Docker-related files
  .dockerignore
  Dockerfile
  docker/alpine/Dockerfile
  docker/alpine/README.md
  docker/alpine/grass_tests.sh
  docker/debian/Dockerfile
  docker/debian/README.md
  docker/testdata/test_docker_image.sh
  docker/testdata/test_grass_python.py
  docker/testdata/test_grass_session.py
  docker/ubuntu/Dockerfile
  docker/ubuntu/README.md
  docker/ubuntu_wxgui/Dockerfile
  docker/ubuntu_wxgui/README.md
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
