Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

style: Fixes unnecessary-collection-call (C408) for gui/wxpython/psmap/instructions
  gui/wxpython/psmap/instructions.py
Due: gui

style: Fixes unnecessary-collection-call (C408) for ctypesgen
  python/libgrass_interface_generator/ctypesgen/libraryloader.py
Due: none

style: format pyproject.toml
  pyproject.toml
Due: none

style: Fixes sys-exit-alias (PLR1722)
  man/build_keywords.py
  python/grass/temporal/extract.py
  python/grass/temporal/mapcalc.py
  raster/r.topidx/arc_to_gridatb.py
  raster/r.topidx/gridatb_to_arc.py
Due: man, python library

CQ: Create default pylint config in pyproject.toml
  .pylintrc
  gui/wxpython/.pylintrc
  pyproject.toml
  python/.pylintrc
  utils/pylintrc.txt
Due: gui, utils

CI(pylint): Update versions in workflow
  .github/workflows/python-code-quality.yml
Due: none

style: apply black
  gui/wxpython/core/settings.py
Due: gui

style: fix missing whitespace between operators
  raster/r.texture/benchmark/benchmark_rtexture.py
Due: none

style: Adjust comment in gui/wxpython/psmap/instructions
  gui/wxpython/psmap/instructions.py
Due: gui

style: Manual fixes for single-line-implicit-string-concatenation violations (ISC001) in ctypesgen code
  python/libgrass_interface_generator/ctypesgen/expressions.py
Due: none

style: Remove comment in gui/wxpython/psmap/instructions
  gui/wxpython/psmap/instructions.py
Due: gui

style: Fixes unnecessary-collection-call (C408) for testsuite
  python/grass/benchmark/testsuite/test_benchmark.py
  python/grass/gunittest/testsuite/test_assertions.py
  python/grass/gunittest/testsuite/test_assertions_rast3d.py
  python/grass/gunittest/testsuite/test_assertions_vect.py
  python/grass/pygrass/modules/interface/testsuite/test_flag.py
  python/grass/pygrass/modules/interface/testsuite/test_parameter.py
  python/grass/script/testsuite/test_utils.py
  raster/r.mapcalc/testsuite/test_r_mapcalc.py
  raster/r.mapcalc/testsuite/test_row_above_below_bug.py
  raster/r.random.cells/testsuite/test_random_cells.py
  raster/r.random/testsuite/test_r_random.py
  raster/r.random/testsuite/testrandom.py
  raster/r.sun/testsuite/test_rsun.py
  raster/r.surf.gauss/testsuite/test_r_surf_gauss.py
  raster/r.surf.random/testsuite/test_min_max.py
  raster/r.to.vect/testsuite/test_r_to_vect.py
  raster3d/r3.to.rast/testsuite/test_a_b_coeff.py
  raster3d/r3.to.rast/testsuite/test_integer_rounding.py
  raster3d/r3.to.rast/testsuite/test_nulls.py
  raster3d/r3.to.rast/testsuite/test_small_data.py
  scripts/r.import/testsuite/test_r_import.py
  scripts/v.clip/testsuite/test_v_clip.py
  scripts/v.import/testsuite/test_v_import.py
  vector/v.in.lidar/testsuite/decimation_test.py
  vector/v.in.lidar/testsuite/mask_test.py
  vector/v.in.lidar/testsuite/test_v_in_lidar_filter.py
  vector/v.in.pdal/testsuite/test_v_in_pdal_filter.py
  vector/v.info/testsuite/test_vinfo.py
  vector/v.net/testsuite/test_v_net.py
  vector/v.random/testsuite/test_v_random.py
  vector/v.select/testsuite/test_v_select.py
  vector/v.surf.rst/testsuite/test_vsurfrst.py
  vector/v.to.3d/testsuite/test_vto3d.py
Due: scripts, pygrass, gunittest, python library

DEBUG: pylint results json
  pylint_root_python_grass.json
  pylint_root_python_grass_py39.json
  pylint_root_python_grass_py39_and_gui_wxpython.json
  pylint_root_python_grass_py39_and_gui_wxpython2.json
Due: none

CQ: Port root pylint config to pyproject.toml
  pyproject.toml
Due: none

style: Apply black formatting
  gui/wxpython/dbmgr/base.py
  scripts/r.out.xyz/r.out.xyz.py
Due: gui, scripts

DEBUG: Update pylint json errors file
  pylint_root_python_grass_py39_and_gui_wxpython5.json
Due: none

DEBUG: VSCode python settings
  .vscode/settings.json
Due: none

style: Apply black formatting
  gui/wxpython/animation/temporal_manager.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gui_core/dialogs.py
  gui/wxpython/iclass/dialogs.py
  gui/wxpython/image2target/ii2t_gis_set.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/workspace.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/modules/mcalc_builder.py
  gui/wxpython/rlisetup/wizard.py
  gui/wxpython/tplot/frame.py
  gui/wxpython/vdigit/wxdigit.py
  gui/wxpython/wxplot/profile.py
  python/grass/gunittest/case.py
  python/grass/pygrass/modules/interface/parameter.py
  python/grass/pygrass/vector/table.py
  python/grass/script/raster3d.py
  python/grass/script/task.py
  python/grass/temporal/open_stds.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/stds_import.py
  scripts/g.extension/g.extension.py
  scripts/r.blend/r.blend.py
  scripts/r.reclass.area/r.reclass.area.py
  scripts/v.db.droptable/v.db.droptable.py
  scripts/v.db.reconnect.all/v.db.reconnect.all.py
  scripts/v.what.strds/v.what.strds.py
  temporal/t.rast.aggregate.ds/t.rast.aggregate.ds.py
  temporal/t.vect.what.strds/t.vect.what.strds.py
Due: gui, scripts, pygrass, gunittest, python library

DEBUG: Reorder old root pylintrc file
  .pylintrc.old
Due: none

style: Fixes unnecessary-collection-call (C408) for empty collections on ctypesgen
  python/libgrass_interface_generator/ctypesgen/ctypedescs.py
  python/libgrass_interface_generator/ctypesgen/parser/cdeclarations.py
Due: none

style: Apply black formatting
  python/grass/benchmark/testsuite/test_benchmark.py
  python/grass/pygrass/modules/interface/testsuite/test_parameter.py
  vector/v.info/testsuite/test_vinfo.py
Due: pygrass, python library

DEBUG: pylint results
  pylint_root_python_grass_py39_and_gui_wxpython3.json
  pylint_root_python_grass_py39_and_gui_wxpython4.json
  pylint_root_python_grass_py39_and_gui_wxpython5.json
Due: none

style: Fixes unnecessary-collection-call (C408) for remaining code
  gui/wxpython/core/menutree.py
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/history/tree.py
  gui/wxpython/lmgr/pyshell.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/modules/mcalc_builder.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/psmap/frame.py
  gui/wxpython/psmap/instructions.py
  gui/wxpython/timeline/frame.py
  gui/wxpython/tplot/frame.py
  python/grass/benchmark/results.py
  python/grass/gunittest/case.py
  python/grass/gunittest/invoker.py
  python/grass/script/vector.py
  scripts/g.manual/g.manual.py
  scripts/r.import/r.import.py
  scripts/r.out.xyz/r.out.xyz.py
  scripts/v.in.e00/v.in.e00.py
  utils/g.html2man/ggroff.py
Due: gui, utils, scripts, gunittest, python library

style: Manual fixes for single-line-implicit-string-concatenation violations (ISC001)
  gui/wxpython/lmgr/frame.py
  gui/wxpython/main_window/frame.py
  man/build_keywords.py
  python/grass/gunittest/reporters.py
  temporal/t.rast.algebra/testsuite/test_raster_algebra_arithmetic.py
Due: gui, man, gunittest, python library

DEBUG: Readd old pylintrc files
  gui/wxpython/.pylintrc.old3
  python/.pylintrc.old2
  utils/pylintrc.txt.old4
Due: gui, utils

style: Fixes if-stmt-min-max (PLR1730)
  gui/wxpython/core/gcmd.py
  gui/wxpython/dbmgr/base.py
  gui/wxpython/gcp/manager.py
  gui/wxpython/gcp/statusbar.py
  gui/wxpython/gmodeler/canvas.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/image2target/ii2t_manager.py
  gui/wxpython/image2target/ii2t_statusbar.py
  gui/wxpython/location_wizard/dialogs.py
  gui/wxpython/modules/colorrules.py
  gui/wxpython/nviz/tools.py
  gui/wxpython/photo2image/ip2i_manager.py
  gui/wxpython/photo2image/ip2i_statusbar.py
  gui/wxpython/vnet/dialogs.py
  python/grass/benchmark/runners.py
  python/grass/imaging/images2swf.py
  python/grass/jupyter/region.py
  python/grass/temporal/temporal_granularity.py
  scripts/d.correlate/d.correlate.py
  scripts/d.rast.edit/d.rast.edit.py
  scripts/d.rast.leg/d.rast.leg.py
  scripts/r.tileset/r.tileset.py
  temporal/t.rast.what/t.rast.what.py
Due: gui, scripts, notebooks (jupyter), python library

style(temporal): Fixes literal-membership (PLR6201)
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/list_stds.py
  python/grass/temporal/register.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_granularity.py
  python/grass/temporal/temporal_raster3d_algebra.py
  python/grass/temporal/temporal_raster_algebra.py
  python/grass/temporal/univar_statistics.py
  temporal/t.info/t.info.py
  temporal/t.rast.export/t.rast.export.py
  temporal/t.rast.gapfill/t.rast.gapfill.py
  temporal/t.rast.list/t.rast.list.py
Due: python library

style: Fixes manual-from-import (PLR0402)
  gui/wxpython/gmodeler/model.py
  gui/wxpython/gui_core/gselect.py
  gui/wxpython/gui_core/preferences.py
  gui/wxpython/gui_core/toolbars.py
  gui/wxpython/iclass/plots.py
  gui/wxpython/iscatt/frame.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/main_window/notebook.py
  gui/wxpython/mapwin/analysis.py
  gui/wxpython/mapwin/buffered.py
  gui/wxpython/wxplot/base.py
  gui/wxpython/wxplot/histogram.py
  gui/wxpython/wxplot/profile.py
  gui/wxpython/wxplot/scatter.py
  python/grass/experimental/tests/conftest.py
  python/grass/experimental/tests/grass_script_mapset_session_test.py
  python/grass/experimental/tests/grass_script_tmp_mapset_session_test.py
  python/grass/gunittest/reporters.py
  python/grass/imaging/operations.py
  python/grass/temporal/datetime_math.py
  python/grass/temporal/spatio_temporal_relationships.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_operator.py
  python/grass/temporal/temporal_raster3d_algebra.py
  python/grass/temporal/temporal_raster_algebra.py
  python/grass/temporal/temporal_vector_algebra.py
  python/grass/temporal/unit_tests.py
  temporal/t.rast.algebra/t.rast.algebra.py
  temporal/t.rast3d.algebra/t.rast3d.algebra.py
  temporal/t.select/t.select.py
  temporal/t.vect.algebra/t.vect.algebra.py
  temporal/t.vect.what.strds/t.vect.what.strds.py
Due: gui, gunittest, python library

DEBUG: Update pylint json errors file
  pylint_all_level2.json
  pylint_all_levels_1_3.json
  pylint_all_py_levels_1_4.json
  pylint_all_py_levels_4.json
  pylint_git_ls_files.json
  pylint_scripts.json
  pylint_scripts_level2.json
  pylint_scripts_level2_star.json
  pylint_scripts_level3.json
  pylint_scripts_level4.json
Due: none

style: Apply single element in set formatting
  gui/wxpython/mapwin/buffered.py
Due: gui

style: Fixes useless-return (PLR1711)
  gui/wxpython/rlisetup/wizard.py
  imagery/i.atcorr/create_iwave.py
  python/grass/temporal/spatio_temporal_relationships.py
  scripts/g.extension/g.extension.py
  scripts/r.in.aster/r.in.aster.py
Due: gui, scripts, python library

style: Fixes some unnecessary-lambda (PLW0108)
  gui/wxpython/animation/frame.py
  gui/wxpython/gmodeler/dialogs.py
  gui/wxpython/gmodeler/panels.py
  gui/wxpython/gui_core/forms.py
  gui/wxpython/gui_core/menu.py
  gui/wxpython/gui_core/prompt.py
  gui/wxpython/gui_core/widgets.py
  gui/wxpython/history/tree.py
  gui/wxpython/iclass/frame.py
  gui/wxpython/lmgr/frame.py
  gui/wxpython/lmgr/layertree.py
  gui/wxpython/main_window/frame.py
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/mapdisp/main.py
  gui/wxpython/mapswipe/frame.py
  gui/wxpython/rdigit/g.gui.rdigit.py
  gui/wxpython/vdigit/g.gui.vdigit.py
Due: gui

style: Fixes useless-exception-statement (PLW0133)
  python/grass/grassdb/manage.py
  scripts/g.extension/testsuite/test_addons_download.py
  scripts/g.extension/testsuite/test_addons_modules.py
Due: scripts, python library

DEBUG: change vscode settings
  .vscode/settings.json
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
