Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

docs: Fix formatting issue of python/grass/pygrass/utils.py create_test_vector_map()
  python/grass/pygrass/utils.py
Due: pygrass, python library

docs: Fix underline too short in script_intro.rst
  python/grass/docs/src/script_intro.rst
Due: python library

docs: Fix formatting issue of bullet list of TemporalOperatorParser.parse()
  python/grass/temporal/temporal_operator.py
Due: python library

docs: Fix docstring indent for SpatioTemporalTopologyBuilder
  python/grass/temporal/spatio_temporal_relationships.py
Due: python library

docs: Fix list formatting for python/grass/imaging/images2avi.py writeAvi()
  python/grass/imaging/images2avi.py
Due: python library

make: Disable generating .pyc files
  gui/wxpython/Makefile
  include/Make/Python.make
  include/Make/Script.make
  python/grass/app/Makefile
  python/grass/benchmark/Makefile
  python/grass/exceptions/Makefile
  python/grass/experimental/Makefile
  python/grass/grassdb/Makefile
  python/grass/gunittest/Makefile
  python/grass/imaging/Makefile
  python/grass/jupyter/Makefile
  python/grass/pydispatch/Makefile
  python/grass/pygrass/Makefile
  python/grass/pygrass/gis/Makefile
  python/grass/pygrass/messages/Makefile
  python/grass/pygrass/modules/Makefile
  python/grass/pygrass/modules/grid/Makefile
  python/grass/pygrass/modules/interface/Makefile
  python/grass/pygrass/raster/Makefile
  python/grass/pygrass/rpc/Makefile
  python/grass/pygrass/shell/Makefile
  python/grass/pygrass/tests/Makefile
  python/grass/pygrass/vector/Makefile
  python/grass/script/Makefile
  python/grass/semantic_label/Makefile
  python/grass/temporal/Makefile
  python/grass/utils/Makefile
  python/libgrass_interface_generator/Makefile
Due: gui, pygrass, gunittest, notebooks (jupyter), python library

docs: Convert docstrings to use note admonitions
  python/grass/pydispatch/dispatcher.py
  python/grass/pydispatch/saferef.py
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/messages/__init__.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/pygrass/raster/segment.py
  python/grass/script/db.py
  python/grass/temporal/c_libraries_interface.py
Due: pygrass, python library

docs: Replace html syntax in docstring of db_select() in python/grass/script/db.py
  python/grass/script/db.py
Due: python library

docs: Fix docstring indent for count_temporal_topology_relationships()
  python/grass/temporal/spatio_temporal_relationships.py
Due: python library

docs: Use and format complex pycon language for python console code blocks
  python/grass/pygrass/rpc/__init__.py
  python/grass/pygrass/rpc/base.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/base.py
  python/grass/temporal/c_libraries_interface.py
  python/grass/temporal/datetime_math.py
  python/grass/temporal/list_stds.py
  python/grass/temporal/metadata.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/spatial_topology_dataset_connector.py
  python/grass/temporal/spatio_temporal_relationships.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_granularity.py
  python/grass/temporal/temporal_raster_algebra.py
  python/grass/temporal/temporal_topology_dataset_connector.py
Due: pygrass, python library

docs: Use pycon language instead of python for python console code blocks formatting
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/temporal_algebra.py
Due: python library

docs: Use pycon language for python console code blocks (simple changes)
  python/grass/temporal/base.py
  python/grass/temporal/core.py
  python/grass/temporal/datetime_math.py
  python/grass/temporal/gui_support.py
  python/grass/temporal/metadata.py
  python/grass/temporal/space_time_datasets.py
  python/grass/temporal/spatial_extent.py
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_extent.py
  python/grass/temporal/temporal_granularity.py
  python/grass/temporal/temporal_operator.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_topology_dataset_connector.py
  python/grass/temporal/temporal_vector_algebra.py
Due: python library

grass.jupyter: Add typing annotations related to query_raster()
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

docs: Enable duration sphinx extension
  python/grass/docs/conf.py
Due: python library

docs: Adapt pydispatch.saferef docstrings for sphinx documentation
  python/grass/pydispatch/saferef.py
Due: python library

docs: Enable generating docs for special and private members of pydispatch
  python/grass/docs/Makefile
Due: python library

Revert "docs: Enable generating docs for special and private members of pydispatch"
  python/grass/docs/Makefile
Due: python library

docs: Place module contents before submodules for pydispatch
  python/grass/docs/Makefile
Due: python library

docs: Do not provide value for sphinx's "today" config option
  python/grass/docs/conf.py
Due: python library

docs: Exclude files from apidoc that can't be imported
  python/grass/docs/Makefile
Due: python library

grass.script.raster: Add typing annotations related to raster_what()
  python/grass/script/raster.py
Due: python library

docs: Unindent AbstractSpaceTimeDataset.set_initial_values() docstring
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

docs: Add autodocs typehints to both signature and content, groupwise order, and documented params
  python/grass/docs/conf.py
Due: python library

docs: Parameter typing for AbstractSpaceTimeDataset.register_map
  python/grass/imaging/images2avi.py
Due: python library

docs: Ignore auto-generated .rst files for python lib docs
  .gitignore
Due: none

mkdocs: Disable CSS text-transform capitalization as it changes the API docs case
  man/mkdocs/grassdocs.css
  python/grass/docs/_static/pygrass.css
Due: man, python library

docs: Fix typo in docstring of python/grass/pygrass/utils.py findmaps()
  python/grass/pygrass/utils.py
Due: pygrass, python library

docs: Fix docstring formating for grass.script.core.tempname()
  python/grass/script/core.py
Due: python library

docs: Fix simple typos
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

docs: Fix formatting issues of unescaped substitutions or emphasis
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_vector_algebra.py
Due: python library

docs: Fix link to style_guide.md
  doc/python_intro.md
Due: none

docs: Unindent docstring for AbstractSpaceTimeDataset.register_map
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library
