Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

Checks: Clean pylint plugins loaded
  pyproject.toml
Due: none

Checks: Disable all failing pylint rules
  pyproject.toml
Due: none

CI(pylint): Do not use star glob for wxGUI pylint call
  .github/workflows/python-code-quality.yml
Due: none

CI(pylint): Remove second pylint calls
  .github/workflows/python-code-quality.yml
Due: none

DEBUG: CI(pylint): Remove continue-on-error on pylint calls
  .github/workflows/python-code-quality.yml
Due: none

pylint: Add pylint skip-file directive in generated file wxpython/menustrings.py
  gui/wxpython/Makefile
Due: gui

DEBUG: comment out: pylint: Ignore generated file wxpython/menustrings.py
  pyproject.toml
Due: none

CI(pylint): Remove rcfile argument from pytest pylint call
  .github/workflows/python-code-quality.yml
Due: none

pylint: Ignore generated file wxpython/menustrings.py
  pyproject.toml
Due: none

CI(pylint): Comment out pylint ignore arguments from pytest pylint call
  .github/workflows/python-code-quality.yml
Due: none

Checks: Also ignore .pytest_cache folder for pylint
  pyproject.toml
Due: none

utils: Add timeout to requests.get
  utils/generate_release_notes.py
Due: utils

CI(pylint): Do not change into subdirectory for grass and gui
  .github/workflows/python-code-quality.yml
Due: none

Revert CI(pylint): Comment out pylint ignore arguments from pytest pylint call
  .github/workflows/python-code-quality.yml
Due: none

CI(pylint): Run pylint on other files before slower wxGUI
  .github/workflows/python-code-quality.yml
Due: none

Checks: Add note on MIN_PYTHON_VERSION
  pyproject.toml
Due: none

Format pyproject.toml
  pyproject.toml
Due: none

CQ: Port root pylint config to pyproject.toml
  pyproject.toml
Due: none

Configure Pyright type checker
  pyproject.toml
Due: none

CQ: Create default pylint config in pyproject.toml
  .pylintrc
  gui/wxpython/.pylintrc
  pyproject.toml
  python/.pylintrc
  utils/pylintrc.txt
Due: gui, utils

CI(pylint): Update versions in workflow
  .github/workflows/python-code-quality.yml
Due: none

CI: Run Pylint on all project with source-roots configuration and ignore-paths
  .github/workflows/python-code-quality.yml
Due: none

Clear pylint config and reset to defaults
  pyproject.toml
Due: none

grass.script: Ignore signature-differs pylint warning in array.py
  python/grass/script/array.py
Due: python library

Checks: Rename pylint rules that were renamed
  pyproject.toml
Due: none

CI(pylint): Only run pylint once for all code
  .github/workflows/python-code-quality.yml
Due: none

CQ: Enable pylint plugins
  pyproject.toml
Due: none

grass.imaging.images2gif: Fix Pylint using-constant-test
  python/grass/imaging/images2gif.py
Due: python library

Set pylint's output-format to colorized
  pyproject.toml
Due: none

Checks: Adjust outdated inline pylint exclusions
  gui/wxpython/core/giface.py
  gui/wxpython/mapwin/decorations.py
  python/grass/pygrass/vector/testsuite/test_geometry.py
Due: gui, pygrass, python library

Checks: Change pylint folder ignores
  pyproject.toml
Due: none

checks: Remove non-modified pylint config
  pyproject.toml
Due: none

CQ: Set pylint source-roots and ignore-paths
  pyproject.toml
Due: none

style: Change misplaced docstring to comment in pygrass/rpc/__init__.py
  python/grass/pygrass/rpc/__init__.py
Due: pygrass, python library
