Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

Remove trailing whitespace
  .github/workflows/macos_install.sh
Due: none

Add CMAKE_C_FLAGS for profiling and coverage mapping
  CMakeLists.txt
Due: none

Add directory creation for LLVM_PROFDATA in CI config
  .github/workflows/cmake.yml
Due: none

Uniformise forward slash of path inside cygpath call
  mswindows/osgeo4w/mklibs.sh
Due: none

CI: install missing llvm-profdata
  .github/workflows/cmake.yml
Due: none

Revert: Add directory creation for LLVM_PROFDATA in CI config
  .github/workflows/cmake.yml
Due: none

try of translation tool on windows
  gui/wxpython/xml/out2/rhaher.po
  gui/wxpython/xml/out2/rhaher.xml
  gui/wxpython/xml/pack1/manifest.rkm
  gui/wxpython/xml/pack1/original/toolboxes.xml
  gui/wxpython/xml/pack1/work/toolboxes.xml.po
  gui/wxpython/xml/toolboxes.out.xml
  pack1/manifest.rkm
  pack1/original/gui/wxpython/xml/menudata.xml
  pack1/work/gui/wxpython/xml/menudata.xml.po
Due: gui

CI(macOS): Add static library flags to macOS install script
  .github/workflows/macos_install.sh
Due: none

Refactor configure flags in macos_install.sh
  .github/workflows/macos_install.sh
Due: none

Comment out --disable-shared
  .github/workflows/macos_install.sh
Due: none

docs: Ignore auto-generated .rst files for python lib docs
  .gitignore
Due: none

docs: Fix issue with `**kwargs` parameter entry
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

docs: Fix formatting issue of python/grass/pygrass/utils.py create_test_stream_network_map()
  python/grass/pygrass/utils.py
Due: pygrass, python library

Fix lists in field list formatting in docstring
  python/grass/temporal/core.py
  python/grass/temporal/spatio_temporal_relationships.py
Due: python library

docs: Fix typo in docstring of python/grass/pygrass/utils.py findmaps()
  python/grass/pygrass/utils.py
Due: pygrass, python library

docs: Fix ascii diagram formatting issue of python/grass/pygrass/utils.py create_test_stream_network_map()
  python/grass/pygrass/utils.py
Due: pygrass, python library

docs: Fix formatting issue of python/grass/pygrass/utils.py create_test_vector_map()
  python/grass/pygrass/utils.py
Due: pygrass, python library

docs: Fix formatting issues of unescaped substitutions or emphasis
  python/grass/temporal/temporal_algebra.py
  python/grass/temporal/temporal_raster_base_algebra.py
  python/grass/temporal/temporal_vector_algebra.py
Due: python library

docs: Fix formatting issue of bullet list of TemporalOperatorParser.parse()
  python/grass/temporal/temporal_operator.py
Due: python library

docs: Fix formatting of return vales in python/grass/temporal/metadata.py
  python/grass/temporal/metadata.py
Due: python library

mkdocs: Create python api docs with mkdocstrings and griffe
  man/mkdocs/mkdocs.yml
Due: man

mkdocs: Disable CSS text-transform capitalization as it changes the API docs case
  man/mkdocs/grassdocs.css
  python/grass/docs/_static/pygrass.css
Due: man, python library

docs: Fix link to style_guide.md
  doc/python_intro.md
Due: none

docs: Fix formatting of code blocks for temporal sample methods
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

docs: Unindent AbstractSpaceTimeDataset.set_initial_values() docstring
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

docs: Fix formatting of spatial_relation parameter's bullet list
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/univar_statistics.py
Due: python library

docs: Fix simple typos
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

docs: Fix list formatting for python/grass/imaging/images2avi.py writeAvi()
  python/grass/imaging/images2avi.py
Due: python library

docs: Unindent docstring for AbstractSpaceTimeDataset.register_map
  python/grass/temporal/abstract_space_time_dataset.py
Due: python library

docs: Parameter typing for AbstractSpaceTimeDataset.register_map
  python/grass/imaging/images2avi.py
Due: python library

docs: Add autodocs typehints to both signature and content, groupwise order, and documented params
  python/grass/docs/conf.py
Due: python library

docs: Fix docstring formatting for DBConnection in python/grass/temporal/core.py
  python/grass/temporal/core.py
Due: python library

docs: Fix docstring formatting for to_wtk() and to_wkb()
  python/grass/pygrass/vector/geometry.py
Due: pygrass, python library

docs: Fix docstring indent for SpatioTemporalTopologyBuilder
  python/grass/temporal/spatio_temporal_relationships.py
Due: python library

docs: Fix underline too short in script_intro.rst
  python/grass/docs/src/script_intro.rst
Due: python library

docs: Fix docstring formating for grass.script.core.tempname()
  python/grass/script/core.py
Due: python library

docs: Fix docstring indenting/unindenting
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/base.py
Due: python library

docs: Fix simple typo
  python/grass/temporal/base.py
Due: python library

docs: Fix formatting of return field
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/base.py
Due: python library
