Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

CI(OSGeo4W): Install pytest-randomly plugin
  .github/workflows/osgeo4w.yml
Due: none

v.info: Use addClassCleanup for cleaning up generated files
  vector/v.info/testsuite/test_vinfo.py
Due: none

tests: Duplicate common fixtures for scripts/ folder
  scripts/conftest.py
Due: scripts

CI(macOS): Run supported gunittest-based tests with pytest
  .github/workflows/macos.yml
Due: none

CI(macOS): Add `--maxfail=...` argument to pytest invocations
  .github/workflows/macos.yml
Due: none

CI(OSGeo4W): Format long line to avoid yamllint warning
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Use variable for grass executable in cmd.exe
  .github/workflows/osgeo4w.yml
Due: none

v.dissolve: Ensure fixtures work to set env when it is the first C module called
  scripts/v.dissolve/tests/conftest.py
Due: scripts

CI(pytest): Split pytest command on multiple lines
  .github/workflows/pytest.yml
Due: none

CI(OSGeo4W): Download and extract sample data before running gunittest with pytest, then clear the extracted dataset
  .github/workflows/osgeo4w.yml
Due: none

CI(macOS): Split pytest command on multiple lines
  .github/workflows/macos.yml
Due: none

Update osgeo4w.yml add line continuation
  .github/workflows/osgeo4w.yml
Due: none

CI(OSGeo4W): Remove downloaded dataset and add echo prints
  .github/workflows/osgeo4w.yml
Due: none

init: Apply isort to imports
  lib/init/grass.py
Due: lib

Rename f() function to fw(), as it was often shadowed by file descriptor variable (Pylint W0621)
  lib/init/grass.py
Due: lib

Add `from __future__ import annotations`
  lib/init/grass.py
Due: lib

Add simple typing annotations for return types
  lib/init/grass.py
Due: lib

init: Use context managers when opening files
  lib/init/grass.py
Due: lib

init: Add StrPath typing annotations
  lib/init/grass.py
Due: lib

init: Use context manager for read_gisrc
  lib/init/grass.py
Due: lib

init: Add Literal typing annotation for only accepted grass_gui in start_gui
  lib/init/grass.py
Due: lib

init: Add Parameters typing annotations
  lib/init/grass.py
Due: lib

Add comments to ignore eslint errors
  man/jquery.fixedheadertable.min.js
  mswindows/external/rbatch/clip2r.js
  mswindows/external/rbatch/el.js
Due: man

Disable three eslint rules in man/jquery.fixedheadertable.min.js: no-redeclare, no-undef, no-unused-vars
  man/jquery.fixedheadertable.min.js
Due: man

Add `/* eslint-env jquery */` for stricter ESlint checks
  man/parser_standard_options.js
Due: man

msvc: fix warning POINT2D_C already defined
  lib/rst/interp_float/point2d.c
Due: lib

msvc: missing headers for windows build
  tools/timer/main.c
Due: none

check for _WIN32 to support msvc and mingw
  lib/gis/parser_interface.c
Due: lib

msvc: __atribute__ is gcc only
  include/defs/glocale.h
Due: none

define unistd only if unistd.h is not available
  lib/db/dbmi_base/dirent.c
Due: lib
