Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

Support MySQL
  cmake/find_scripts/FindMySQL.cmake
  cmake/modules/CheckDependentLibraries.cmake
  db/drivers/CMakeLists.txt
Due: none

Move mysql_SRCS to top
  db/drivers/CMakeLists.txt
Due: none

Mixed-case PostgreSQL_* variables
  cmake/modules/CheckDependentLibraries.cmake
Due: none

Mixed-case MySQL_* variables
  cmake/find_scripts/FindMySQL.cmake
  cmake/modules/CheckDependentLibraries.cmake
Due: none

Mixed-case LibLAS_FOUND
  cmake/modules/CheckDependentLibraries.cmake
Due: none

Use original mixed-case *_FOUND
  cmake/modules/CheckDependentLibraries.cmake
Due: none

Support readline
  CMakeLists.txt
  cmake/find_scripts/FindReadline.cmake
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/build_module.cmake
  include/config.h.cmake.in
  raster/r.mapcalc/CMakeLists.txt
Due: none

Consistent help messages
  CMakeLists.txt
Due: none

Require WITH-libraries
  cmake/modules/CheckDependentLibraries.cmake
Due: none

Support zstd
  CMakeLists.txt
  cmake/modules/CheckDependentLibraries.cmake
  include/config.h.cmake.in
  lib/gis/CMakeLists.txt
Due: lib

Support regex
  CMakeLists.txt
  cmake/find_scripts/FindReadline.cmake
  cmake/find_scripts/Findregex.cmake
  cmake/modules/CheckDependentLibraries.cmake
  lib/gis/CMakeLists.txt
Due: lib

Support OpenMP
  CMakeLists.txt
  cmake/modules/CheckDependentLibraries.cmake
  cmake/modules/build_module.cmake
  lib/CMakeLists.txt
  lib/rst/CMakeLists.txt
  raster/CMakeLists.txt
  raster/r.sim/CMakeLists.txt
  raster/r.univar/CMakeLists.txt
  vector/CMakeLists.txt
Due: lib

cmake-format
  cmake/modules/CheckDependentLibraries.cmake
Due: none

Add -fopenmp only if OpenMP is requested and found
  cmake/modules/build_module.cmake
Due: none

Reorder options by group; Clean up dependencies for libraries and modules
  CMakeLists.txt
  cmake/modules/CheckDependentLibraries.cmake
  general/CMakeLists.txt
  include/config.h.cmake.in
  lib/CMakeLists.txt
  lib/rst/CMakeLists.txt
  lib/vector/CMakeLists.txt
  lib/vector/diglib/CMakeLists.txt
  lib/vector/neta/CMakeLists.txt
  lib/vector/vedit/CMakeLists.txt
  raster/CMakeLists.txt
Due: lib

Add missing dependencies to lidar
  lib/CMakeLists.txt
Due: lib

Update lib/external/ccmath/ccmath.h
  lib/external/ccmath/ccmath.h
Due: lib

Update lib/gis/user_config.c
  lib/gis/user_config.c
Due: lib

Update raster/r.terraflow/filldepr.cpp
  raster/r.terraflow/filldepr.cpp
Due: none

Update raster/r.terraflow/main.cpp
  raster/r.terraflow/main.cpp
Due: none

Compile parson
  lib/CMakeLists.txt
  lib/gis/CMakeLists.txt
  raster/CMakeLists.txt
Due: lib

Add parson dependency
  general/CMakeLists.txt
  raster/CMakeLists.txt
Due: none

Remove duplicate regex check
  CMakeLists.txt
  cmake/find_scripts/Findregex.cmake
  cmake/modules/CheckDependentLibraries.cmake
Due: none

Add GUI history
  gui/wxpython/CMakeLists.txt
Due: gui

Copy install to GISBASE; Fix ctypesgen
  include/CMakeLists.txt
  python/libgrass_interface_generator/CMakeLists.txt
Due: none

Copy include to GISBASE
  CMakeLists.txt
  cmake/modules/build_module.cmake
  include/CMakeLists.txt
  lib/CMakeLists.txt
  lib/vector/dglib/CMakeLists.txt
Due: lib

Copy render_cmd.py to GISBASE/etc/d.mon
  display/CMakeLists.txt
Due: none

Extend copy_python_files_in_subdir to copy on build event
  cmake/modules/copy_python_files_in_subdir.cmake
  display/CMakeLists.txt
Due: none

Copy lib/symbol/symbol to GISBASE/etc/symbol
  lib/CMakeLists.txt
Due: lib

Copy symbol images to GISBASE/gui/images/symbols
  gui/images/CMakeLists.txt
Due: gui

DEBUG: Add libsclean to clean target
  Makefile
Due: none

python: Change makefile rules for python compilation
  gui/wxpython/Makefile
  include/Make/Multi.make
  include/Make/Python.make
  python/grass/Makefile
  python/grass/app/Makefile
  python/grass/benchmark/Makefile
  python/grass/exceptions/Makefile
  python/grass/experimental/Makefile
  python/grass/grassdb/Makefile
  python/grass/gunittest/Makefile
  python/grass/imaging/Makefile
  python/grass/jupyter/Makefile
  python/grass/pydispatch/Makefile
  python/grass/pygrass/Makefile
  python/grass/pygrass/gis/Makefile
  python/grass/pygrass/messages/Makefile
  python/grass/pygrass/modules/Makefile
  python/grass/pygrass/modules/grid/Makefile
  python/grass/pygrass/modules/interface/Makefile
  python/grass/pygrass/raster/Makefile
  python/grass/pygrass/rpc/Makefile
  python/grass/pygrass/shell/Makefile
  python/grass/pygrass/tests/Makefile
  python/grass/pygrass/vector/Makefile
  python/grass/script/Makefile
  python/grass/semantic_label/Makefile
  python/grass/temporal/Makefile
  python/grass/utils/Makefile
  python/libgrass_interface_generator/Makefile
  raster/r.colors/Makefile
  raster/r.mapcalc/Makefile
  scripts/d.polar/Makefile
  scripts/db.test/Makefile
  vector/v.colors/Makefile
Due: gui, scripts, pygrass, gunittest, notebooks (jupyter), python library

Copy fonts and create fontcap
  general/CMakeLists.txt
  lib/fonts/CMakeLists.txt
Due: lib

Resolve a dependency loop
  general/CMakeLists.txt
  lib/fonts/CMakeLists.txt
Due: lib

Update .github/workflows/cmake.yml
  .github/workflows/cmake.yml
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
