Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

gui.wxpython.nviz: Set render flags dicts as a TypedDict
  gui/wxpython/nviz/mapwindow.py
Due: gui

DEBUG: Try configuring pylint per-file ignores with a plugin
  pyproject.toml
Due: none

gui: Handle GRASS_INFO_END in line in gui/wxpython/core/gcmd.py
  gui/wxpython/core/gcmd.py
Due: gui

DEBUG: Set GRASS-specific overrides and comment out defaults
  pyproject.toml
Due: none

Set pylint's output-format to colorized
  pyproject.toml
Due: none

style: Change misplaced docstring to comment in pygrass/rpc/__init__.py
  python/grass/pygrass/rpc/__init__.py
Due: pygrass, python library

grass.jupyter.utils: Fix pylint redefined-variable-type (R0204) of output variable
  python/grass/jupyter/utils.py
  python/grass/script/utils.py
Due: notebooks (jupyter), python library

Typing improvement
  gui/wxpython/datacatalog/tree.py
  gui/wxpython/mapdisp/frame.py
Due: gui

DEBUG: Do not fail pylint to run all steps, then rerun pylint with failures
  .github/workflows/python-code-quality.yml
Due: none

CQ: Set pylint source-roots and ignore-paths
  pyproject.toml
Due: none

gui.wxpython.nviz.mapwindow: Light typing annotations
  gui/wxpython/nviz/mapwindow.py
Due: gui

grass.script.utils: Add type hints to some functions
  python/grass/script/utils.py
Due: python library

t.unregister: Open file with context handler (SIM115)
  temporal/t.unregister/t.unregister.py
Due: none

DEBUG: Clear pylint config
  pyproject.toml
Due: none

grass.script.db: Close opened file in db_connection
  python/grass/script/db.py
Due: python library

CI: Run Pylint on all project with source-roots configuration and ignore-paths
  .github/workflows/python-code-quality.yml
Due: none

CQ: Disable pylint plugin bad_builtin
  pyproject.toml
Due: none

gui: Add typing for layer manager lmgr argument
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui: isort mapswipe.mapwindow imports
  gui/wxpython/mapswipe/mapwindow.py
Due: gui

gui.wxpython.nviz: numpy import can safely be below
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz: Sort remaining imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui: Add typing for layer manager lmgr argument when using single window
  gui/wxpython/mapdisp/frame.py
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz: Move ctypes and grass.lib imports below normal imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.gui_core.wrap: wx.Image and wx.Bitmap type annotations
  gui/wxpython/gui_core/wrap.py
Due: gui

CQ: Enable pylint plugins redefined_variable_type and bad_builtin
  pyproject.toml
Due: none

gui.wxpython.nviz.wxnviz: Add simple type hints not needing any imports
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.wxnviz: Address type checking warnings in QueryMap
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.mapdisp.frame: Sort imports with an isort split group
  gui/wxpython/mapdisp/frame.py
Due: gui

gui.wxpython.nviz.wxnviz: Add type hints for OGSF/Nviz wrappers
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.wxnviz: Add type hints for QueryMap with TypedDict
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.mapwindow: Handle some cases where self._display is None or other variables are missing
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz.wxnviz: Add typing to functions that return empty vectors, considered tuples
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.wxnviz: Remove unused import
  gui/wxpython/nviz/wxnviz.py
Due: gui

gui.wxpython.nviz.mapwindow: Add some type hints
  gui/wxpython/nviz/mapwindow.py
Due: gui

gui.wxpython.nviz.mapwindow: Sort imports with an isort split group
  gui/wxpython/nviz/mapwindow.py
Due: gui

grass.script.core: Fix E0606: Possibly using variable 'ps' before assignment (possibly-used-before-assignment)
  python/grass/script/core.py
Due: python library

Checks: Rename pylint rules that were renamed
  pyproject.toml
Due: none

Checks: Remove lines of pylint config
  pyproject.toml
Due: none

Checks: Adjust outdated inline pylint exclusions
  gui/wxpython/core/giface.py
  gui/wxpython/mapwin/decorations.py
  python/grass/pygrass/vector/testsuite/test_geometry.py
Due: gui, pygrass, python library

Checks: Change pylint folder ignores
  pyproject.toml
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
