Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

mkdocs: Disable CSS text-transform capitalization as it changes the API docs case
  man/mkdocs/grassdocs.css
  python/grass/docs/_static/pygrass.css
Due: man, python library

docs: Configure intersphinx to reference Python's and NumPy's docs 5861
  python/grass/app/data.py
  python/grass/docs/conf.py
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/setup.py
Due: python library

docs: Parameter typing for AbstractSpaceTimeDataset.register_map
  python/grass/imaging/images2avi.py
Due: python library

docs: Add autodocs typehints to both signature and content, groupwise order, and documented params
  python/grass/docs/conf.py
Due: python library

docs: Fix docstring formatting of grass.jupyter.interactivemap
  python/grass/jupyter/interactivemap.py
Due: notebooks (jupyter), python library

grass.jupyter: Add typing annotations related to query_raster()
  python/grass/jupyter/utils.py
Due: notebooks (jupyter), python library

docs: Do not provide value for sphinx's "today" config option
  python/grass/docs/conf.py
Due: python library

docs: Exclude files from apidoc that can't be imported
  python/grass/docs/Makefile
Due: python library

docs: Render sphinx docs with the same order as the source code to help compare
  python/grass/docs/conf.py
Due: python library

make: Disable generating .pyc files
  gui/wxpython/Makefile
  include/Make/Python.make
  include/Make/Script.make
  python/grass/app/Makefile
  python/grass/benchmark/Makefile
  python/grass/exceptions/Makefile
  python/grass/experimental/Makefile
  python/grass/grassdb/Makefile
  python/grass/gunittest/Makefile
  python/grass/imaging/Makefile
  python/grass/jupyter/Makefile
  python/grass/pydispatch/Makefile
  python/grass/pygrass/Makefile
  python/grass/pygrass/gis/Makefile
  python/grass/pygrass/messages/Makefile
  python/grass/pygrass/modules/Makefile
  python/grass/pygrass/modules/grid/Makefile
  python/grass/pygrass/modules/interface/Makefile
  python/grass/pygrass/raster/Makefile
  python/grass/pygrass/rpc/Makefile
  python/grass/pygrass/shell/Makefile
  python/grass/pygrass/tests/Makefile
  python/grass/pygrass/vector/Makefile
  python/grass/script/Makefile
  python/grass/semantic_label/Makefile
  python/grass/temporal/Makefile
  python/grass/utils/Makefile
  python/libgrass_interface_generator/Makefile
Due: gui, pygrass, gunittest, notebooks (jupyter), python library

grass.script.raster: Add typing annotations related to raster_what()
  python/grass/script/raster.py
Due: python library

docs: Enable duration sphinx extension
  python/grass/docs/conf.py
Due: python library

docs: Fix indent of return of grass.grassdb.read()
  python/grass/grassdb/history.py
Due: python library

docs: Place module contents before submodules for pydispatch
  python/grass/docs/Makefile
Due: python library

docs: Use crossrefs in docstrings of grass.pygrass.gis.region
  python/grass/pygrass/gis/region.py
Due: pygrass, python library

docs: Use double backticks for inline code style in grass.script.core
  python/grass/script/core.py
Due: python library

docs: Fix param syntax of grass.script.core
  python/grass/script/core.py
Due: python library

docs: Replace <tt></tt> markup with double backticks in docstrings
  python/grass/script/core.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
Due: python library

docs: Use attention admonitions in docstrings of grass.pygrass.gis.region
  python/grass/pygrass/gis/region.py
Due: pygrass, python library

docs: Fix ambiguity in ScriptError reference in grass.script.core
  python/grass/script/core.py
Due: python library

docs: Add cross-refs to classes, exceptions, functions, etc in grass.script.core docstrings
  python/grass/script/core.py
  python/grass/script/raster3d.py
Due: python library

docs: Format raised exceptions docstrings and cross-references
  python/grass/app/data.py
  python/grass/experimental/create.py
  python/grass/experimental/mapset.py
  python/grass/gunittest/case.py
  python/grass/gunittest/gmodules.py
  python/grass/gunittest/main.py
  python/grass/jupyter/setup.py
  python/grass/script/core.py
  python/grass/script/task.py
  python/grass/temporal/abstract_space_time_dataset.py
  python/grass/temporal/temporal_algebra.py
Due: gunittest, notebooks (jupyter), python library

docs: Add "see also" boxes with cross-refs in grass.script.core docstrings
  python/grass/script/core.py
Due: python library

docs: Add cross-refs to RegionManager docstrings
  python/grass/script/raster.py
Due: python library

docs: Use double backticks for inline code style in docstrings of grass.script.core and grass.script.raster3d
  python/grass/script/core.py
  python/grass/script/raster3d.py
Due: python library

docs: Adjust more code-blocks syntax and inside example sections in docstrings 5862
  python/grass/exceptions/__init__.py
  python/grass/jupyter/interactivemap.py
  python/grass/jupyter/map.py
  python/grass/jupyter/map3d.py
  python/grass/jupyter/seriesmap.py
  python/grass/jupyter/timeseriesmap.py
  python/grass/pygrass/gis/region.py
  python/grass/pygrass/messages/__init__.py
  python/grass/pygrass/modules/interface/module.py
  python/grass/script/core.py
  python/grass/script/db.py
  python/grass/script/imagery.py
  python/grass/script/raster.py
  python/grass/script/raster3d.py
  python/grass/script/setup.py
  python/grass/script/utils.py
  python/grass/script/vector.py
  python/grass/temporal/abstract_dataset.py
  python/grass/temporal/gui_support.py
  python/grass/temporal/spatio_temporal_relationships.py
Due: pygrass, notebooks (jupyter), python library

docs: Ignore auto-generated .rst files for python lib docs
  .gitignore
Due: none

Path conditions:
  gui: any of: gui/**
  man: any of: man/**
  ps: any of: ps/**
  utils: any of: utils/**
  scripts: any of: scripts/**
  lib: any of: lib/**
  pygrass: any of: python/grass/pygrass/**
  gunittest: any of: python/grass/gunittest/**
  notebooks (jupyter): any of: python/grass/jupyter/**, **/*.ipynb
  python library: any of: python/grass/**
