Repository echoix/grass: changes, and which Codecov flags are due for each by the changed paths.
All: gui, man, ps, utils, scripts, lib, pygrass, gunittest, notebooks (jupyter), python library

codecov.yml:

codecov:
    notify:
        # do not notify until at least 7 builds have been uploaded from the CI pipeline
        # Change when more or less uploads are made, to not receive a GitHub
        # comment notification too early after only pytest has uploaded coverage
        after_n_builds: 5
coverage:
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit
        informational: true
    patch:
      default:
        informational: true

component_management:
  # default_rules:  # default rules that will be inherited by all components
  #   statuses:
  #     - type: project # in this case every component that doens't have a status defined will have a project type one
  #       target: auto
  #       branches:
  #         - "!main"
  individual_components:
    - component_id: modules_database # this is an identifier that should not be changed
      name: db # this is a display name, and can be changed freely
      paths:
        - db/**
        - lib/db/**
        - scripts/db.*/**
    - component_id: modules_display
      name: display
      paths:
        - display/**
        - lib/display/**
        - scripts/d.*/**
    - component_id: modules_general
      name: general
      paths:
        - general/**
        - scripts/g.*/**
    - component_id: gui
      name: gui
      paths:
        - gui/**
    - component_id: modules_imagery
      name: imagery
      paths:
        - imagery/**
        - lib/imagery/**
        - scripts/i.*/**
    - component_id: man
      name: man
      paths:
        - man/**
    - component_id: modules_misc
      name: imagery
      paths:
        - misc/**
        - scripts/m.*/**
    - component_id: modules_postscript
      name: ps
      paths:
        - ps/**
    - component_id: modules_raster
      name: raster
      paths:
        - raster/**
        - lib/raster/**
        - scripts/r.*/**
    - component_id: modules_raster3d
      name: raster3d
      paths:
        - raster3d/**
        - lib/raster3d/**
        - scripts/r3.*/**
    - component_id: modules_temporal
      name: temporal
      paths:
        - temporal/**
        - lib/temporal/**
        - scripts/t.*/**
    - component_id: modules_vector
      name: vector
      paths:
        - vector/**
        - lib/vector/**
        - scripts/v.*/**
    - component_id: utils
      paths:
        - utils/**
    - component_id: scripts
      paths:
        - scripts/**
    - component_id: library
      name: lib
      paths:
        - lib/**
    - component_id: python_pygrass
      name: pygrass
      paths:
        - python/grass/pygrass/**
    - component_id: python_gunittest
      name: gunittest
      paths:
        - python/grass/gunittest/**
    - component_id: notebooks
      name: notebooks (jupyter)
      paths:
        - python/grass/jupyter/**
        - "**/*.ipynb"
    - component_id: python_library
      name: python library
      paths:
        - python/grass/**

# When modifying this file, please validate using
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

locale: Update translation files
  locale/templates/grasslibs.pot
  locale/templates/grassmods.pot
  locale/templates/grasswxpy.pot
Due: none

CQ: Fix Ruff PTH113: `os.path.isfile()` should be replaced by `Path.is_file()`
  pyproject.toml
  python/grass/imaging/images2avi.py
  python/grass/imaging/images2gif.py
  python/grass/imaging/images2ims.py
  python/grass/imaging/images2swf.py
  python/grass/temporal/stds_import.py
  raster/r.report/testsuite/test_r_report.py
  raster/r.topidx/arc_to_gridatb.py
  raster/r.topidx/gridatb_to_arc.py
  raster/r.what/testsuite/test_r_what.py
  scripts/d.frame/d.frame.py
  scripts/g.extension/g.extension.py
  scripts/r.in.srtm/r.in.srtm.py
  scripts/r.out.xyz/testsuite/test_r_out_xyz.py
  scripts/r.pack/testsuite/test_r_pack.py
  scripts/v.db.addcolumn/v.db.addcolumn.py
  scripts/v.import/v.import.py
  scripts/v.in.mapgen/v.in.mapgen.py
  scripts/v.in.wfs/v.in.wfs.py
  scripts/v.pack/testsuite/test_v_pack.py
  scripts/v.unpack/testsuite/test_v_unpack.py
  temporal/t.connect/testsuite/test_distr_tgis_db_raster.py
  temporal/t.connect/testsuite/test_distr_tgis_db_raster3d.py
  temporal/t.connect/testsuite/test_distr_tgis_db_vector.py
  vector/v.db.select/testsuite/test_v_db_select.py
  vector/v.in.lidar/testsuite/decimation_test.py
  vector/v.in.lidar/testsuite/mask_test.py
  vector/v.in.lidar/testsuite/test_v_in_lidar_basic.py
  vector/v.in.lidar/testsuite/test_v_in_lidar_filter.py
  vector/v.in.pdal/testsuite/test_v_in_pdal_basic.py
  vector/v.in.pdal/testsuite/test_v_in_pdal_filter.py
  vector/v.out.lidar/testsuite/test_v_out_lidar.py
  vector/v.profile/testsuite/test_v_profile.py
Due: scripts, python library

CI: Use ubuntu-slim runners for simple jobs
  .github/workflows/additional_checks.yml
  .github/workflows/create_release_draft.yml
  .github/workflows/label.yml
  .github/workflows/periodic_update.yml
  .github/workflows/post-pr-reviews.yml
  .github/workflows/titles.yml
  .github/workflows/verify-success.yml
Due: none

CQ: Update clang-format to 19
  .pre-commit-config.yaml
  display/d.labels/do_labels.c
  imagery/i.atcorr/geomcond.cpp
  imagery/i.gensig/lookup_class.c
  imagery/i.gensigset/lookup_class.c
  imagery/i.landsat.toar/landsat_set.c
  imagery/i.maxlik/classify.c
  include/grass/iostream/rtimer.h
  lib/btree2/kdtree.c
  lib/external/parson/parson.c
  lib/gis/spawn.c
  lib/gmath/solvers_krylov.c
  lib/ogsf/gsd_wire.c
  raster/r.out.gdal/main.c
  raster/r.surf.idw/main.c
  raster/r.viewshed/main.cpp
  raster/r.watershed/ram/ramseg.h
  raster/r.watershed/shed/com_line.c
  vector/v.buffer/geos.c
  vector/v.in.lidar/main.c
Due: lib

CQ: Update clang-format to 20
  .clang-format
  .pre-commit-config.yaml
  imagery/i.atcorr/geomcond.cpp
  imagery/i.fft/main.c
  imagery/i.gensig/lookup_class.c
  imagery/i.gensigset/lookup_class.c
  imagery/i.ifft/main.c
  imagery/i.maxlik/classify.c
  imagery/i.ortho.photo/lib/georef.c
  imagery/i.segment/pavl.c
  imagery/i.zc/main.c
  lib/btree2/kdtree.c
  lib/cluster/c_means.c
  lib/cluster/c_sum2.c
  lib/gis/adj_cellhd.c
  lib/vector/Vlib/overlay.c
  lib/vector/dglib/avl.c
  lib/vector/dglib/tavl.c
  raster/r.cost/main.c
  raster/r.mfilter/execute.c
  raster/r.path/pavlrc.c
  raster/r.ros/main.c
  raster/r.slope.aspect/main.c
  raster/r.walk/main.c
  raster3d/r3.in.v5d/v5d.c
  raster3d/r3.out.v5d/main.c
  raster3d/r3.out.v5d/v5d.c
  vector/v.in.ogr/pavl.c
  vector/v.overlay/area_area.c
  vector/v.overlay/line_area.c
  vector/v.overlay/main.c
  vector/v.select/args.c
  vector/v.select/geos.c
  vector/v.select/main.c
  vector/v.select/select.c
Due: lib

locale: Fix some failing checks on source strings
  db/drivers/sqlite/main.c
  display/d.extract/main.c
  display/d.mon/start.c
  display/d.vect.thematic/main.c
  display/d.vect/main.c
  general/g.gui/main.c
  general/g.mapset/main.c
  general/g.version/main.c
  gui/wxpython/animation/controller.py
  imagery/i.atcorr/main.cpp
  imagery/i.cluster/main.c
  imagery/i.gensigset/read_data.c
  imagery/i.ifft/main.c
Due: gui

Apply suggestions from code review
  .github/workflows/ubuntu.yml
Due: none

Fix for Imprecise assert
  imagery/i.gensig/testsuite/test_i_gensig.py
Due: none

CI: Update cmake to 4.3.0 in workflow file
  .github/workflows/cmake.yml
Due: none

Various type checker config, changes, uv.lock, pyre, ty, tombi, typing annotations
  .github/workflows/build_ubuntu-24.04.sh
  .gitignore
  cmake/modules/CheckDependentLibraries.cmake
  pyproject.toml
  python/grass/tools/benchmark/benchmark_grass_tools_numpy.py
  python/grass/tools/importexport.py
  python/grass/tools/support.py
  python/grass/tools/tests/conftest.py
  python/grass/tools/tests/grass_tools_session_tools_test.py
  python/grass/tools/tests/grass_tools_tool_error_test.py
  python/grass/tools/tests/grass_tools_tool_function_wrap_test.py
  typings/__builtins__.pyi
  uv.lock
Due: python library

grass.tools: Various typing annotations, mostly `None`
  python/grass/tools/session_tools.py
  python/grass/tools/tests/grass_tools_result_test.py
  python/grass/tools/tests/grass_tools_session_tools_numpy_test.py
  python/grass/tools/tests/grass_tools_session_tools_pack_test.py
Due: python library

grass.tools: Typing annotation for function set_or_unset
  python/grass/tools/session_tools.py
Due: python library

grass.tools: Typing annotation for init's `__getattr__` overloads
  python/grass/tools/__init__.py
Due: python library

Pyrefly and ty pyproject.toml configuration
  pyproject.toml
Due: none

win: Update MSVC runtime archive and run g.mkfontcap after runtime install
  mswindows/GRASS-Installer.nsi.tmpl
Due: none

CI: Build the Windows standalone installer
  .github/workflows/windows-installer.yml
Due: none

CI: Regenerate fontcap before installing GRASS for the Windows installer
  .github/workflows/windows-installer.yml
Due: none

packaging: Add GRASS_PYDIR in env.bat.tmpl to correct windows installer, making grassXY.py able to start
  mswindows/osgeo4w/env.bat.tmpl
Due: none

temporal: allow STDS object construction without initialized database (#7672)
  python/grass/temporal/core.py
  python/grass/temporal/metadata.py
  python/grass/temporal/tests/grass_temporal_core_init_skip_db_test.py
Due: python library

docs: howto_release.md: update OSGeo server names (#7711)
  doc/howto_release.md
Due: none
